<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Codeflares</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">

    <!-- Font Awesome JS -->
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    
    <script src="/js/bootstrap3-typeahead.js"></script> 
    <link rel="stylesheet" type="text/css" href="/css/layout.css">

    <!-- Bootstrap Typeahead Plugin -->
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>CodeFlares</h3>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a href="/"><i style="width: 30px;" class="fa fa-fw fa-home"></i> Home</a>
                </li>

                {{#if session.email}}
                <li>
                    <a href="#profileMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i style="width: 30px;" class="fas fa-user bell-icons"></i> {{session.username}}</a>
                    <ul class="collapse list-unstyled" id="profileMenu">
                        <li> <a href="/profile/{{session.username}}">Profile</a> </li>
                        <li> <a href="/update/profile/">Edit Profile</a> </li>
                        <li> <a href="/settings/update/">Settings</a> </li>
                    </ul>
                </li>
                <li>
                    <a href="#trainingMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i style="width: 30px;" class="fas fa-chalkboard-teacher"></i> Training</a>
                    <ul class="collapse list-unstyled" id="trainingMenu">
                        <li> <a href="/training/individual/">Personal Training</a> </li>
                        <li> <a href="/training/team/">Team Training</a> </li>
                        <li> <a href="/team/list/">Your Teams</a> </li>
                        <li> <a href="/team/add/">Create Team</a> </li>
                    </ul>
                </li>
                {{/if}}

                <li>
                    <a href="#contestMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i style="width: 30px;" class="fas fa-cube"></i> Contest</a>
                    <ul class="collapse list-unstyled" id="contestMenu">
                        <li> <a href="/contest/add/">Add Contest</a> </li>
                        <li> <a href="/contest/list/">View Contest</a> </li>
                    </ul>
                </li>

                {{#if session.email}}
                <li>
                    <a href="#classRoomMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i style="width: 30px;" class="fas fa-chalkboard-teacher"></i> Classroom</a>
                    <ul class="collapse list-unstyled" id="classRoomMenu">
                        <li> <a href="/classroom/list/">Your Classrooms</a> </li>
                        <li> <a href="/classroom/add/">Create Classroom</a> </li>
                    </ul>
                </li>
                {{/if}}

                <li>
                    <a href="#gatewayMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i style="width: 30px;" class="fas fa-archive"></i> Gateway</a>
                    <ul class="collapse list-unstyled" id="gatewayMenu">
                        <li> <a href="/category/list/">Categories</a> </li>
                        <li> <a href="/problem/list/">Problems</a> </li>
                        <li> <a href="#">Leaderboard</a> </li>
                    </ul>
                </li>

                {{#if session.email}}
                <li>
                    <a href="#adviseMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i style="width: 30px;" class="fas fa-database"></i> Advise</a>
                    <ul class="collapse list-unstyled" id="adviseMenu">
                        <li> <a href="/problem/add/">Add Problem</a> </li>
                        <li> <a href="/category/add/">Add Category</a> </li>
                        <li> <a href="/resource/add/">Add Resource</a> </li>
                    </ul>
                </li>
                {{/if}}

            </ul>
            <ul class="list-unstyled components">
                <li> <a href="#">About US</a> </li>
                {{#if session.email}}
                <li> <a href="#">Contact US</a> </li>
                {{/if}}
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">

                    <button type="button btn-lg" id="sidebarCollapse" class="btn navbar-btn">
                        <i class="fas fa-align-justify navbar-btn-icon"></i>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                            </li>
                        </ul>
                        {{#if session.email}}

                        <div style="padding: 3px;">
                            <div class="search-container search-box">
                                <form action="">
                                    <input style="padding: 2px;" type="text" placeholder="Search..." name="search">
                                    <button type="button btn-lg" onclick="#" id="" class="btn navbar-btn">
                                        <i class="fa fa-search navbar-btn-icon"></i>
                                    </button>
                                </form>
                            </div>
                        </div>

                        <div style="padding: 3px;">
                            <a href="/flagged/problem/list/"  title="Taskbar">
                            <button type="button btn-lg" onclick="#" id="" class="btn navbar-btn">
                                <i class="fa fa-tasks navbar-btn-icon"></i>
                            </button>
                            </a>
                        </div>

                        <div style="padding: 3px;">
                            <a href="#"  title="Inbox">
                            <button type="button btn-lg" onclick="#" id="" class="btn navbar-btn">
                                <i class="fa fa-inbox navbar-btn-icon"></i>
                            </button>
                            </a>
                        </div>
                        <div style="padding: 3px;">

                            {{#if session.notification_data.UNREAD}}
                            <a class="nav-link text-light btn navbar-btn" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i style="color:rgb(209, 255, 4)" class="fas fa-bell navbar-btn-icon"></i>
                                <span style="font-size:larger" class="notifi-num">({{session.notification_data.unread_length}})</span>
                            </a>
                            {{else}}
                            <a class="nav-link text-light btn navbar-btn" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell navbar-btn-icon"></i>
                            </a>
                            {{/if}}
                            <ul class="dropdown-menu">
                                <li class="head text" style="background-color: #fff;">
                                    <div class="row">
                                    <div class="col-lg-12 col-sm-12 col-12">
                                        <span><b>Notifications ({{session.notification_data.unread_length}})</b></span>
                                        <a href="/notification/read/all/" class="float-right text"><b>Mark all as read</b></a>
                                    </div>
                                </li>
                                <hr class="thin">

                                {{#each session.notification_data.notification_list}}

                                {{#if UNREAD}}
                                    <li class="notification-box" style="background-color: rgba(212, 229, 248, 0.658);">
                                        <div class="row">
                                        <div class="col-md-11">
                                            <a href="{{redirect_url}}">
                                                <div>
                                                    <strong class="text" style="color: #86C232">{{notification_type}}</strong>
                                                    <div style="color: black;">
                                                        {{notification_text}}
                                                    </div>
                                                    <small class="text" style="color: rgb(17, 104, 158);">{{created_at}}</small>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-1">
                                            <a href="/notification/read/single/{{id}}/" title="Mark as read" data-toggle="tooltip" style="color: #122f30;"><i class="fas fa-bullseye"></i></a>
                                        </div>
                                        </div>
                                    </li>
                                {{else}}
                                    <li class="notification-box" style="background-color: #fff;">
                                        <div class="row">
                                        <div class="col-md-11">
                                            <a href="{{redirect_url}}">
                                                <div>
                                                    <strong class="text" style="color: #86C232">{{notification_type}}</strong>
                                                    <div style="color: black;">
                                                        {{notification_text}}
                                                    </div>
                                                    <small class="text" style="color: rgb(17, 104, 158);">{{created_at}}</small>
                                                </div>
                                            </a>
                                        </div>
                                        </div>
                                    </li>
                                {{/if}}
                                {{/each}}
                                <li class="footer text-center" style="background-color: #fff; border-top: 1px solid rgb(4, 39, 37);">
                                    <a href="/notification/list/" class="text"><b>View All</b></a>
                                </li>
                            </ul>
                        </div>
                        {{/if}}

                        {{#unless session.email}}
                        <div style="padding: 3px;">
                            <a href="/login/" title="Log In">
                            <button type="button btn-lg" onclick="/login/" id="" class="btn navbar-btn">
                                <i class="fas fa-sign-in-alt navbar-btn-icon"></i>
                            </button>
                            </a>
                        </div>
                        {{/unless}}

                        {{#if session.email}}
                        <div style="padding: 3px;">
                            <a href="/logout/" title="Log Out">
                            <button type="button btn-lg" onclick="/logout/" id="" class="btn navbar-btn">
                                <i class="fas fa-sign-out-alt navbar-btn-icon"></i>
                            </button>
                            </a>
                        </div>
                        {{/if}}

                        {{#unless session.email}}
                        <div style="padding: 3px;">
                            <a href="/signup/" title="Sign Up">
                            <button type="button btn-lg" id="" class="btn navbar-btn">
                                <i class="fas fa-user-plus navbar-btn-icon"></i>
                            </button>
                            </a>
                        </div>
                        {{/unless}}

                        {{#if session.email}}
                        <div style="padding: 3px;">
                            <a href="/profile/{{session.username}}" title="Profile">
                            <button type="button btn-lg" id="" class="btn navbar-btn">
                                <i class="fas fa-user navbar-btn-icon"></i>
                            </button>
                            </a>
                        </div>
                        {{/if}}

                    </div>
                </div>
            </nav>
            {{{body}}}
            <!-- Page footer -->
            <br>
            <div class="footer">
                <h6 class="text-white text-center tm-copyright-text" style="bottom: 0; text-align: center;">
                    Copyright &copy; 2020 CodeTrainer.
                </h6>
            </div>

        </div>
    </div>
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>

</body>
</html>

