<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>
        Codeflares
    </title>

    <link rel="stylesheet" href="/css/simplemde.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/jquery-3.5.1.js">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/fontawesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/solid.min.css">
    <link rel="stylesheet" href="/css/css-font-awesome.css" />
    <link rel="stylesheet" href="/css/open-sans-fontface-open-sans.css" />
    <link rel="stylesheet" href="/css/css-perfect-scrollbar.css" />
    <link rel="stylesheet" href="/css/css-sidebar.css" />
    <link rel="stylesheet" href="/css/layout.css" />
    <link rel='icon' href='/img/favicon.png' type='image/x-icon'/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/fontawesome.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js"></script>
    
    <script src="/js/bootstrap3-typeahead.js"></script>
    <script src="/js/simplemde.min.js"></script>
</head>

<body class="body body-lighten">
        <div class="d-flex" id="wrapper">
            <!-- sidebar -->
            <div class="sidebar sidebar-lighten">
                <!-- sidebar menu -->
                <div class="sidebar-menu">
                    <!-- menu -->
                    <ul class="list list-unstyled list-scrollbar">
                        <!-- multi-level dropdown menu -->
                        <li class="list-item">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="/" class="list-link"><i style="width: 17px;" class="fa fa-home" aria-hidden="true"></i>Home</a>
                                </li>

                                {{#if session.email}}
                                <li>
                                    <a href="#" class="list-link link-arrow"><i style="width: 17px;" class="fa fa-user" aria-hidden="true"></i>Profile</a>
                                    <ul class="list-unstyled list-hidden dropdown">
                                        <li> <a class="list-link" href="/profile/{{session.username}}/">Profile</a> </li>
                                        <li> <a class="list-link" href="/update/profile/">Edit Profile</a> </li>
                                        <li> <a class="list-link" href="/settings/update/">Settings</a> </li>
                                        <li> <a class="list-link" href="/blog/post/add/global/{{session.user_id}}/">Create Blog Post</a> </li>
                                    </ul>
                                </li>
                                {{/if}}
                            </ul>
                            <ul class="list-unstyled">
                                {{#if session.email}}
                                <li>
                                    <a href="#" class="list-link link-arrow"><i style="width: 17px;" class="fa fa-book" aria-hidden="true"></i>Training</a>
                                    <ul class="list-unstyled list-hidden dropdown">
                                        <li> <a class="list-link" href="/training/individual/{{session.username}}/training-plan/">Personal Training</a> </li>
                                        
                                        <li>
                                            <a href="#" class="list-link link-arrow">Team Training</a>
                                            <ul class="list-unstyled list-hidden">
                                                {{#if session.user_settings.current_team_id}}
                                                    <li> <a class="list-link" href="/training/team/{{session.user_settings.current_team_id}}/training-plan/">Team Training</a> </li>
                                                {{else}}
                                                    <li title="No active team"> <a class="list-link">Team Training</a> </li>
                                                {{/if}}
                                                <li> <a class="list-link" href="/team/list/">Your Teams</a> </li>
                                                <li> <a class="list-link" href="/team/add/">Create Team</a> </li>
                                            </ul>
                                        </li>

                                    </ul>
                                </li>
                                {{/if}}
                            </ul>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#" class="list-link link-arrow"><i style="width: 17px;" class="fa fa-cube" aria-hidden="true"></i>Contest</a>
                                    <ul class="list-unstyled list-hidden dropdown">
                                        {{#if session.email}}
                                        <li> <a class="list-link" href="/contest/add/">Create Contest</a> </li>
                                        {{/if}}
                                        <li> <a class="list-link" href="/contest/list/">View Contest</a> </li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="list-unstyled">
                                {{#if session.email}}
                                <li>
                                    <a href="#" class="list-link link-arrow"><i style="width: 17px;" class="fa fa-institution" aria-hidden="true"></i>Classroom</a>
                                    <ul class="list-unstyled list-hidden dropdown">
                                        <li> <a class="list-link" href="/classroom/list/">Your Classrooms</a> </li>
                                        <li> <a class="list-link" href="/classroom/add/">Create Classroom</a> </li>
                                    </ul>
                                </li>
                                {{/if}}
                            </ul>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#" class="list-link link-arrow"><i style="width: 17px;" class="fa fa-database" aria-hidden="true"></i>Gateway</a>
                                    <ul class="list-unstyled list-hidden dropdown">
                                        <li> <a class="list-link" href="/category/list/">Categories</a> </li>
                                        <li> <a class="list-link" href="/problem/list/all/">Problems</a> </li>
                                                                                
                                        <li>
                                            <a href="#" class="list-link link-arrow">Leaderboard</a>
                                            <ul class="list-unstyled list-hidden">
                                                <li> <a class="list-link" href="/user/leaderboard/">User Rating</a> </li>
                                                <li> <a class="list-link" href="/user/leaderboard/topsolvers/">Top Solvers</a> </li>
                                            </ul>
                                        </li>

                                    </ul>
                                </li>
                            </ul>
                            <ul class="list-unstyled">
                                {{#if session.email}}
                                <li>
                                    <a href="#" class="list-link link-arrow"><i style="width: 17px;" class="fa fa-language" aria-hidden="true"></i>Advise</a>
                                    <ul class="list-unstyled list-hidden dropdown">
                                        <li> <a class="list-link" href="/problem/add/">Add Problem</a> </li>
                                        <li> <a class="list-link" href="/category/add/">Add Category</a> </li>
                                    </ul>
                                </li>
                                {{/if}}
                            </ul>
                            <hr class="light">
                            <ul class="list-unstyled">
                                <li><a class="list-link" href="/about/us/"><i style="width: 17px;" class="fa fa-info-circle"></i> About Us</a></li>
                                <li><a class="list-link" href="/contact/us/"><i style="width: 17px;" class="fa fa-paper-plane"></i> Contact Us</a></li>
                            </ul>
                            <hr class="light">
                        </li>
                    </ul>
                </div>
                    <div class="sidebar-footer">
                        <a href="#">
                            <i class="fa fa-bell"></i>
                            <span class="badge badge-pill badge-warning notification">3</span>
                        </a>
                        <a href="#">
                            <i class="fa fa-envelope"></i>
                            <span class="badge badge-pill badge-success notification">7</span>
                        </a>
                        <a href="#">
                            <i class="fa fa-cog"></i>
                            <span class="badge-sonar"></span>
                        </a>
                        <a href="#">
                            <i class="fa fa-power-off"></i>
                        </a>
                    </div>
            </div>

            <!-- website content -->
            <div class="content">
                <!-- navbar top fixed -->
                <nav class="navbar navbar-expand-lg fixed-top navbar-lighten">

                    <!-- navbar sidebar menu toggle -->
                    <span class="navbar-text" style="margin-right: 20px;">
                        <a class="list-link" href="#" id="sidebar-toggle" class="navbar-bars">
                            <i class="fa fa-align-justify navbar-btn-icon" aria-hidden="true"></i>
                        </a>
                    </span>

                    <!-- navbar title -->
                    <a class="navbar-brand navbar-link" href="#">CodeFlares</a>

                    <!-- navbar dropdown menu-->
                    <div class="collapse navbar-collapse">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                </li>
                            </ul>
                            <div style="padding: 3px;">
                                <a class="list-link" href="/blog/list/global/all/"  title="Discussions">
                                    <i class="fa fa-comments navbar-btn-icon"></i>
                                </a>
                            </div>
                            {{#if session.email}}

                            <div style="padding: 3px;">
                                <a class="list-link" href="/flagged/problem/list/"  title="Taskbar">
                                    <i class="fa fa-tasks navbar-btn-icon"></i>
                                </a>
                            </div>
                            <div style="padding: 3px;">

                                {{#if session.notification_data.UNREAD}}
                                <a class="list-link"  title="Notifications" type="button btn-lg" class="btn navbar-btn" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i style="color:rgb(9, 179, 37);" class="fa fa-bell navbar-btn-icon"></i>
                                    <span style="color:rgb(9, 179, 37);"><sup>{{session.notification_data.unread_length}}</sup></span>
                                </a>
                                {{else}}
                                <a class="list-link" title="Notifications" type="button btn-lg" class="btn navbar-btn" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-bell navbar-btn-icon"></i>
                                </a>
                                {{/if}}
                                <ul class="dropdown-menu">
                                    <li class="head text" style="background-color: #fff;">
                                        <div class="row">
                                        <div class="col-lg-12 col-sm-12 col-12" style="color: rgb(77, 89, 122);">
                                            <span>Notifications ({{session.notification_data.unread_length}})</span>
                                            <a href="/notification/read/all/" class="float-right text">Mark all as read</a>
                                        </div>
                                    </li>
                                    <hr class="thin">

                                    {{#each session.notification_data.notification_list}}

                                    {{#if UNREAD}}
                                        <li class="notification-box" style="background-color: rgba(212, 229, 248, 0.658);">
                                            <div class="row">
                                            <div class="col-md-11">
                                                <a href="{{redirect_url}}">
                                                    <div>
                                                        <strong class="text" style="color: rgb(71, 112, 13)">{{notification_type}}</strong>
                                                        <div style="color: black;">
                                                            {{notification_text}}
                                                        </div>
                                                        <small class="text" style="color: rgb(17, 104, 158);">{{created_at}}</small>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-md-1">
                                                <a href="/notification/read/single/{{id}}/" title="Mark as read" data-toggle="tooltip" style="color: #122f30;"><i class="fa fa-bullseye"></i></a>
                                            </div>
                                            </div>
                                        </li>
                                    {{else}}
                                        <li class="notification-box" style="background-color: #fff;">
                                            <div class="row">
                                            <div class="col-md-11">
                                                <a href="{{redirect_url}}">
                                                    <div>
                                                        <strong class="text" style="color: rgb(71, 112, 13)">{{notification_type}}</strong>
                                                        <div style="color: black;">
                                                            {{notification_text}}
                                                        </div>
                                                        <small class="text" style="color: rgb(17, 104, 158);">{{created_at}}</small>
                                                    </div>
                                                </a>
                                            </div>
                                            </div>
                                        </li>
                                    {{/if}}
                                    {{/each}}
                                    <li class="text-center" style="background-color: #fff; border-top: 1px solid rgb(4, 39, 37);">
                                        <a href="/notification/list/" class="text"><b>View All</b></a>
                                    </li>
                                </ul>
                            </div>
                            {{/if}}

                            {{#if session.email}}
                            <div style="padding: 3px;">
                                <a class="list-link" href="/training/individual/{{session.username}}/training-plan/"  title="Personal Training">
                                    <i class="fa fa-bolt navbar-btn-icon"></i>
                                </a>
                            </div>
                            {{/if}}

                            {{#unless session.email}}
                            <div style="padding: 3px;">
                                <a class="list-link" href="/login/" title="Log In">
                                    <i class="fa fa-sign-in navbar-btn-icon"></i>
                                </a>
                            </div>
                            {{/unless}}

                            {{#if session.email}}
                            <div style="padding: 3px;">
                                <a class="list-link" href="/logout/" title="Log Out">
                                    <i class="fa fa-sign-out navbar-btn-icon"></i>
                                </a>
                            </div>
                            {{/if}}

                            {{#unless session.email}}
                            <div style="padding: 3px;">
                                <a class="list-link" href="/signup/" title="Sign Up">
                                    <i class="fa fa-user-plus navbar-btn-icon"></i>
                                </a>
                            </div>
                            {{/unless}}

                            {{#if session.email}}
                            <div style="padding: 3px;">
                                <a class="list-link" href="/profile/{{session.username}}/" title="Profile">
                                    <i class="fa fa-user navbar-btn-icon"></i>
                                </a>
                            </div>
                            {{/if}}

                        </div>
                    </div>
                </nav>
                <div class="cfs-body">
                    <!-- content container -->
                    <div class="alert-list" style="margin-top: 15px; text-align:center;">
                    </div>
                    
                    <div style="min-height: 700px;">
                        {{{body}}}
                    </div>
        
                    <div class="toast-list" style="width: 300px;">
                    </div>
                    <!-- Page footer -->
                    <br>
                    <div class="footer">
                        <h6 class="text text-center tm-copyright-text">
                            Copyright &copy; 2020 CodeFlares
                        </h6>
                    </div>
                </div>
            </div>
        </div>

        <!-- javascript library -->
        <script src="/js/js-bootstrap.bundle.js"></script>
        <script src="/js/dist-perfect-scrollbar.js"></script>
        <script src="/js/nanobar-nanobar.js"></script>
        <script src="/js/8518-js-sidebar.menu.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                new PerfectScrollbar(".list-scrollbar");
                var nanobar = new Nanobar();
                nanobar.go(100);

                {{#each alert_list}}
                    var alert_text = "{{alert_text}}"
                    var html = `
                        <div class="alert alert-primary" role="alert">
                            <div class="row">
                                <div class="col-md-11">
                                    <p>${alert_text}</p>
                                </div>
                                <div class="col-md-1">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    `
                    $(".alert-list").append(html);
                {{/each}}

                {{#if toast_data}}
                    var toast_text = "{{toast_data.toast_text}}"
                    var toast_type = "{{toast_data.toast_type}}"
                    var html = `
                        <div class="toast alert-${toast_type}" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000" style="position: absolute; top: 6rem; right: 1rem; width: 25%;">
                            <div class="toast-header alert-${toast_type}" style="padding:15px;">
                                <strong class="mr-auto">System Notification</strong>
                                <small>Just now</small>
                                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="toast-body">${toast_text}</div>
                        </div>
                    `
                    $(".toast-list").append(html);
                {{/if}}

                $( document ).ready(function() {
                    $('.toast').toast('show');
                });
            });
        </script>
    </body>
</html>
