<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<div class="form-type-1" style="width: 100%;">	
	<div class="cfs-title-1">
		<h5 style="text-align: center;"><b>Create Training Contest</b></h5>
	</div>
	<br>

    <form action="/contest/add/" method="post" style="padding: 10px;">
		<div style="text-align: left; color: #113a46;" class="table-title-2">
			<h6 style="text-align: left;"><b>Basic Informations</b></h6>
		</div>
		<hr width="100%;" style="background-color: rgb(31, 85, 99);">

		<div class="form-row">
			<div class="form-group col-md-12">
				<div class="input-group">
					<input type="text" id="contest_name" class="form-control" name="contest_name" placeholder="Contest Name">
				</div>
			</div>
		</div>

		<div class="form-row">
			<div class="form-group col-md-3">
				<div class="input-group">
					<input type="text" id="description" class="form-control" name="description" placeholder="Description">
				</div>
			</div>
			<div class="form-group col-md-3">
				<div class="input-group">
                        <select class="form-control" id="contest_level" name="contest_level">
                            <option value="1">Level 01</option>
                            <option value="2">Level 02</option>
                            <option value="3">Level 03</option>
                            <option value="4">Level 04</option>
                            <option value="5">Level 05</option>
                            <option value="6">Level 06</option>
                            <option value="7">Level 07</option>
                            <option value="8">Level 08</option>
                            <option value="9">Level 09</option>
                            <option value="10">Level 10</option>
                        </select>
				</div>
			</div>
			<div class="form-group col-md-3">
				<div class="input-group">
					<select class="form-control" title="Target Audience" id="contest_type" name="contest_type" onchange="JavaScript:updateTargetAudience(event)">
						<option value="individual">Individual</option>
						<option value="team">Team</option>
						<option value="classroom">Classroom</option>
					</select>
				</div>
			</div>
			<div class="form-group col-md-3">
				<div class="input-group">
					<select class="form-control" title="Select Audience" id="contest_ref_id" name="contest_ref_id">
						<option value="{{session.user_id}}">{{session.username}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-3">
				<div class="input-group">
					<input type="number" id="problem_count" class="form-control" name="problem_count"  min="5" max="30" placeholder="Problem Count">
				</div>
			</div>
			<div class="form-group col-md-3">
				<div class="input-group">
					<select class="form-control" title="Access Level" id="contest_access" name="contest_access">
						<option value="private">Private</option>
						<option value="public">Public</option>
					</select>
				</div>
			</div>
			<div class="form-group col-md-3">
				<div class="input-group">
					<input type="date" id="start_date" class="form-control" name="start_date" placeholder="Start Date">
				</div>
			</div>
			<div class="form-group col-md-3">
				<div class="input-group">
					<input type="date" id="end_date" class="form-control" name="end_date" placeholder="End Date">
				</div>
			</div>
		</div>

		<br>
		
		<div style="text-align: left; color: #113a46;" class="table-title-2">
			<h6 style="text-align: left;"><b>Custom Parameters</b></h6>
		</div>
		<hr width="100%;" style="background-color: rgb(31, 85, 99);">

		<div class="category-group">
			<div class="form-row control-group">
				<div class="form-group col-md-3">
					<div class="input-group">
						<input type="text" autocomplete="off" id="category_name@1" class="form-control autocomplete" name="category_name@1" placeholder="Category">
					</div>
				</div>
				<div class="form-group col-md-2">
					<div class="input-group">
						<input type="text" id="minimum_difficulty@1" class="form-control" name="minimum_difficulty@1" placeholder="Minimum Difficulty">
					</div>
				</div>
				<div class="form-group col-md-2">
					<div class="input-group">
						<input type="text" id="maximum_difficulty@1" class="form-control" name="maximum_difficulty@1" placeholder="Maximum Difficulty">
					</div>
				</div>
				<div class="form-group col-md-2">
					<div class="input-group">
						<input type="text" id="minimum_problem@1" class="form-control" name="minimum_problem@1" placeholder="Minimum Problem">
					</div>
				</div>
				<div class="form-group col-md-2">
					<div class="input-group">
						<input type="text" id="maximum_problem@1" class="form-control" name="maximum_problem@1" placeholder="Maximum Problem">
					</div>
				</div>
				<div class="form-group col-sm-1" style="width: 10px !important;">
					<button class="btn add-more btn-block" type="button"><i class="fas fa-plus"></i></button>
				</div>
			</div>
		</div>


		<div class="copy hide" hidden>
			<div class="form-row control-group">
				<div class="form-group col-md-3">
					<div class="input-group">
						<input type="text" autocomplete="off" id="category_name_tmp" class="form-control autocomplete" name="category_name_tmp" placeholder="Category">
					</div>
				</div>
				<div class="form-group col-md-2">
					<div class="input-group">
						<input type="text" id="minimum_difficulty_tmp" class="form-control" name="minimum_difficulty_tmp" placeholder="Minimum Difficulty">
					</div>
				</div>
				<div class="form-group col-md-2">
					<div class="input-group">
						<input type="text" id="maximum_difficulty_tmp" class="form-control" name="maximum_difficulty_tmp" placeholder="Maximum Difficulty">
					</div>
				</div>
				<div class="form-group col-md-2">
					<div class="input-group">
						<input type="text" id="minimum_problem_tmp" class="form-control" name="minimum_problem_tmp" placeholder="Minimum Problem">
					</div>
				</div>
				<div class="form-group col-md-2">
					<div class="input-group">
						<input type="text" id="maximum_problem_tmp" class="form-control" name="maximum_problem_tmp" placeholder="Maximum Problem">
					</div>
				</div>
				<div class="form-group col-sm-1" style="width: 10px !important;">
					<button class="btn remove btn-block" type="button"><i class="fas fa-minus"></i></button>
				</div>
			</div>
		</div>

		<br>
		<div class="form-group submit-btn-div">
            <button type="submit" class="btn submit-btn btn-primary btn-block btn">Proceed</button>
        </div>
	</form>
</div>

<script type="text/javascript">
	var cat_item = 1;

	function enableAutoComplete(){
		$(".autocomplete").typeahead({
			// data source
			source: algorithms,

			// how many items to show
			items: 8,

			// default template
			menu: '<ul class="typeahead dropdown-menu" role="listbox"></ul>',
			item: '<li><a class="dropdown-item" href="#" role="option"></a></li>',
			headerHtml: '<li class="dropdown-header"></li>',
			headerDivider: '<li class="divider" role="separator"></li>',
			
			itemContentSelector:'a',

			// min length to trigger the suggestion list
			minLength: 1,

			// number of pixels the scrollable parent container scrolled down
			scrollHeight: 0,

			// auto selects the first item
			autoSelect: true,

			// callbacks
			afterSelect: $.noop,
			afterEmptySelect: $.noop,

			// adds an item to the end of the list
			addItem: false,

			// delay between lookups
			delay: 0,
		});
	}

    $(document).ready(function() {
		$(".add-more").click(function(){
			cat_item++;
			var html = $(".copy").html()
			var id_list = ['category_name', 'minimum_difficulty', 'maximum_difficulty', 'minimum_problem', 'maximum_problem']
			var idx = 0;
			for(idx = 0;idx<id_list.length;idx++){
				var item_id = id_list[idx] + '@' + cat_item.toString();
				var old_id = id_list[idx] + '_tmp';
				html = html.replace(old_id, item_id)
				html = html.replace(old_id, item_id)
			}
			$(".category-group").append(html);
			enableAutoComplete();
		});

		$("body").on("click",".remove",function(){ 
			$(this).parents(".control-group").remove();
		});
    });

	const algorithms = [
		{"name": "number_theory", "code": "AF"},
		{"name": "base", "code": "AX"},
		{"name": "greedy", "code": "AL"},
		{"name": "dynamic_programming", "code": "DZ"},
		{"name": "data_structure", "code": "AS"},
		{"name": "graph", "code": "AD"},
		{"name": "combinatorics", "code": "AO"}
		// more data here
	]
	enableAutoComplete();


	function updateTargetAudience(event) {
		event.preventDefault()
		var contest_type = document.getElementById("contest_type").value
		var html = ''
		if(contest_type == 'team'){
        	{{#each team_list}}
				html += '<option value="{{id}}">{{team_name}}</option>'
			{{/each}}
		}else if(contest_type == 'classroom'){
        	{{#each classroom_list}}
				html += '<option value="{{id}}">{{team_name}}</option>'
			{{/each}}
		}else{
			html += '<option value="{{session.username}}">{{session.username}}</option>'
		}
		var contest_ref_id = document.getElementById('contest_ref_id')
		contest_ref_id.innerHTML = html
	}

</script>