<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/individual_training.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>


<div class="cfs-transparent-header-div" style="text-align: center;">
    <div class="cfs-title-light">
        <h4 class="media-heading"><b>Classroom: {{team_name}} [Moderator: <span style="color: {{team_leader_skill_color}};"><a href = "/profile/{{team_leader_handle}}/">{{team_leader_handle}}</a></span>]</b></h4>
    </div>
    <hr class="light">

    <div class="row page-box">
        <div class="col-md-2">
        </div>
        <div class="col-md-2">
            {{#if home}}
            <b>
            <a href="/classroom/training/{{id}}/home/"><i class="fas fa-home"></i> Home</a>
            <hr style="border: 1px solid #2b3847; border-radius: 1px;">
            </b>
            {{else}}
            <b>
            <a href="/classroom/training/{{id}}/home/"><i class="fas fa-home"></i> Home</a>
            <hr style="border: 1px solid #c5c5c5; border-radius: 1px;">
            </b>
            {{/if}}
        </div>
        <div class="col-md-2">
            {{#if skill}}
            <b>
            <a href="/classroom/training/{{id}}/skill/"><i class="fas fa-chart-bar"></i> Member Skills</a>
            <hr style="border: 1px solid #2b3847; border-radius: 1px;">
            </b>
            {{else}}
            <b>
            <a href="/classroom/training/{{id}}/skill/"><i class="fas fa-chart-bar"></i> Member Skills</a>
            <hr style="border: 1px solid #c5c5c5; border-radius: 1px;">
            </b>
            {{/if}}
        </div>
        <div class="col-md-2">
            {{#if contest}}
            <b>
            <a href="/classroom/training/{{id}}/contest/"><i class="fas fa-cubes"></i> Training</a>
            <hr style="border: 1px solid #2b3847; border-radius: 1px;">
            </b>
            {{else}}
            <b>
            <a href="/classroom/training/{{id}}/contest/"><i class="fas fa-cubes"></i> Training</a>
            <hr style="border: 1px solid #c5c5c5; border-radius: 1px;">
            </b>
            {{/if}}
        </div>
        <div class="col-md-2">
            {{#if discussion}}
            <b>
            <a href="/classroom/training/{{id}}/discussion/"><i class="fas fa-comments"></i> Discussions</a>
            <hr style="border: 1px solid #2b3847; border-radius: 1px;">
            </b>
            {{else}}
            <b>
            <a href="/classroom/training/{{id}}/discussion/"><i class="fas fa-comments"></i> Discussions</a>
            <hr style="border: 1px solid #c5c5c5; border-radius: 1px;">
            </b>
            {{/if}}
        </div>
        <div class="col-md-2">
        </div>
    </div>

</div>


{{#if home}}
<div class="blog-post-2">
    <div class="row">
        <div class="col-md-6">
            <div class="post-header">
                <h2 style="color: rgb(23, 81, 104);" class="media-heading">
                    Classroom Information
                </h2>
                <br>
                <h6><i style="color:#3d87b9; width: 30px;" class="fas fa-university"></i> Institution Name: <b>{{institution_name}}</b></h6>
                <h6><i style="color:#3d87b9; width: 30px;" class="fas fa-info-circle"></i> Classroom Purpose: <b>{{team_purpose}}</b></h6>
                <h6><i style="color:#3d87b9; width: 30px;" class="fas fa-user-tie"></i> Classroom Moderator: <b><a href = "/profile/{{team_leader_handle}}/" style="color: {{team_leader_skill_color}}; font-weight:700;">{{team_leader_handle}}</a></b></h6>
                <h6><i style="color:#3d87b9; width: 30px;" class="fas fa-user-tie"></i> Classroom Managers: <b><a href = "/profile/{{team_leader_handle}}/" style="color: {{team_leader_skill_color}}; font-weight:700;">{{team_leader_handle}}</a></b></h6>
                <h6><i style="color:#3d87b9; width: 30px;" class="fas fa-calendar-week"></i> Registered Since: <b>{{created_at}}</b></h6>
                {{#if own_profile}}
                <h6><i style="color:#3d87b9; width: 30px;" class="fas fa-edit"></i> <a style="color: #3d87b9;" href="/classroom/update/{{id}}/">Update Classroom</a></h6>
                {{/if}}
            </div>
        </div>
        <div class="col-md-6" style="padding: 20px; padding-right:0px;">
			<div class="image-wrapper">
				<img src="/img/classroom-1.jpg" alt="image" height="180" width="450">
			</div>
        </div>
    </div>
</div>

<div class="cfs-table-wrapper-1">
    <div class="cfs-title-1">
        <h5 style="text-align: center;"><b>Classroom Members</b></h5>
    </div>
    <div class="cfs-table-1">
        <table id="memberTable" class="table category-list-table" style="text-align: center;">
            <thead>
                <tr>
                    <th style="min-width: 13%;">User</th>
                    <th>Name</th>
                    <th>Skill Value</th>
                    <th>Skill Title</th>
                    <th>Solve Count</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>
{{/if}}


{{#if contest}}
<div class="blog-post-3">
    <div class="row">
        <div class="table-wrapper-3" style="width: 49%;  margin-right:1px auto">
            <div class="cfs-title-1">
                <h5 style="text-align: center;"><b>Task List</b></h5>
            </div>
            <table class="table" style="text-align: center;">
                <thead>
                    <tr>
                        <th style="width: 30%;">Task Name</th>
                        <th>Added by</th>
                        <th>Deadline</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each task_list}}
                    <tr>
                        <td>{{task_title}}</td>
                        <td><a href = "/profile/{{task_added_by_user_handle}}/" style="color: {{task_added_by_skill_color}}; font-weight:700;">{{task_added_by_user_handle}}</a></td>
                        <td>{{deadline}}</td>
                        <td>
                            <a href="/classroom/task/update/{{id}}/" title="Update" data-toggle="tooltip" style="color: #5bbbd3;"><i class="fas fa-edit"></i></a>
                            <a href="/classroom/task/delete/{{id}}/" title="Delete" data-toggle="tooltip" style="color: rgb(180, 88, 1);"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    {{/each}}

                </tbody>
            </table>
            <div class="add-task row" style="padding: 5px;">
                <div style="margin-right: 5px; margin-left:15px;">
                    <a style="border-color: #3d87b9;" title="Add new task" class='btn' href="/classroom/task/add/{{id}}/"><i class="fas fa-plus"></i></a>
                </div>
                <div >
                    <a style="border-color: #3d87b9;" title="View all tasks" class='btn' href="/classroom/task/view/{{id}}/"  style="margin: 30px;"><i class="fas fa-bars"></i></a>
                </div>
            </div>
        </div>

        <div class="table-wrapper-3" style="width: 49%;  margin-left:1px auto">
            <div class="cfs-title-1">
                <h5 style="text-align: center;"><b>Class List</b></h5>
            </div>
            <table class="table" style="text-align: center;">
                <thead>
                    <tr>
                        <th style="width: 25%;">Class Title</th>
                        <th>Moderator</th>
                        <th>Class Time</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each class_list}}
                    <tr>
                        <td>{{class_title}}</td>
                        <td><a href = "/profile/{{class_moderator_id_user_handle}}/" style="color: {{class_moderator_skill_color}}; font-weight:700;">{{class_moderator_id_user_handle}}</a></td>
                        <td>{{class_time}}</td>
                        <td>
                            <a href="/classroom/class/update/{{id}}/" title="Update" data-toggle="tooltip" style="color: #5bbbd3;"><i class="fas fa-edit"></i></a>
                            <a href="/classroom/class/delete/{{id}}/" title="Delete" data-toggle="tooltip" style="color: rgb(180, 88, 1);"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    {{/each}}

                </tbody>
            </table>
            <div class="add-task row" style="padding: 5px;">
                <div style="margin-right: 5px; margin-left:15px;">
                    <a style="border-color: #3d87b9;" title="Add new class" class='btn' href="/classroom/class/add/{{id}}/"><i class="fas fa-plus"></i></a>
                </div>
                <div >
                    <a style="border-color: #3d87b9;" title="View all class" class='btn' href="/classroom/class/view/{{id}}/"  style="margin: 30px;"><i class="fas fa-bars"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}


{{#if skill}}
<div class="cfs-table-wrapper-1" id="categoryWiseSkillTableTop">
    <div class="cfs-title-1">
        <h5 style="text-align: center;"><b>Category Wise Skills</b></h5>
    </div>
    <table id="categoryWiseSkillTable" class="table category-list-table" style="text-align: center; padding: 5px;">
        <thead>
            <tr>
                <th style="min-width: 13%;">User</th>
                {{#each category_list}}
                    <th>{{short_name}}</th>
                {{/each}}
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

<div class="cfs-table-wrapper-1">
    <div class="cfs-title-1">
        <h5 style="text-align: center;"><b>Category Wise Solve Count</b></h5>
    </div>
    <table id="categoryWiseSolveCountTable" class="table category-list-table" style="text-align: center; padding: 5px;">
        <thead>
            <tr>
                <th style="width: 13%;">User</th>
                {{#each category_list}}
                    <th>{{short_name}}</th>
                {{/each}}
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
{{/if}}

{{#if contest}}
<div class="cfs-table-wrapper-1">
    <div class="cfs-title-1">
        <h5 style="text-align: center;"><b>Training Contest List</b></h5>
    </div>
    <table id="contestListTable" class="table" style="text-align: center; padding: 5px;">
        <thead>
            <tr>
                <th style="min-width: 20%;">Contest Name</th>
                <th>Setter</th>
                <th>Contest Type</th>
                <th>Contest Level</th>
                <th>Description</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
{{/if}}

{{#if discussion}}
<div class="cfs-table-wrapper-1" id="discussions">
    <div class="cfs-title-1" >
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8" style="padding-top: 3px;">
                <h5 style="text-align: center;"><b>Classroom Discussions</b></h5>
            </div>
            <div class="col-md-2" style="float: right;">
                <a title="Add new post" class="btn btn-sm btn-light" role="button" type="button" style="border-color: #9fb6c5;" href="/blog/post/add/classroom/{{id}}/"> <span style="color: #aab4bb;"><i class="fas fa-plus"></i></span> Add Post</a>
            </div>
        </div>
    </div>
    <hr style="width: 100%;">
    <br>
    <div class="blogs" id="blogs">

    </div>
</div>
{{/if}}


<script type="text/javascript">

    function getMemberTableList(){
        var data_list = [];

        var classroom_id = "{{id}}"
        var team_lead_id = "{{team_leader_id}}"
        var logger_in_user = "{{session.user_id}}"

        console.log('team_lead_id: ' + team_lead_id)
        console.log('logger_in_user: ' + logger_in_user)

        {{#each member_list}}
            var member_id = "{{id}}"
            console.log('member_id: ' + member_id)
            var user_name = '<a href = "/profile/{{user_handle}}/" style="color: {{skill_color}}; font-weight:700;">{{user_handle}}</a>'
            var action_delete = ''
            
            if(logger_in_user == team_lead_id){
                if(logger_in_user != member_id){
                    action_delete = '<a href="/classroom/member/delete/'+classroom_id+'/{{user_handle}}/" title="Delete member" data-toggle="tooltip" style="color: rgb(180, 88, 1);"><i class="fas fa-trash"></i></a>'
                }
            }else if(logger_in_user == member_id){
                action_delete = '<a href="/classroom/member/delete/'+classroom_id+'/{{user_handle}}/" title="Leave team" data-toggle="tooltip" style="color: rgb(180, 88, 1);"><i class="fas fa-trash"></i></a>'
            }
            
            data = [user_name, "{{full_name}}", "{{skill_value}}", "{{skill_title}}", "{{solve_count}}", action_delete]
            data_list.push(data)
        {{/each}}

        return data_list;
    }

    function getCategoryWiseSkillList(){
        var data_list = [];
        {{#each member_stat}}
            var user_profile = '<a href = "/profile/{{user_handle}}/" style="color: {{skill_color}}; font-weight:700; padding:3px;">{{user_handle}}</a>'
            var cur_member_data = [user_profile]
            {{#each skill_list}}
                var skill_value = parseFloat("{{skill_value}}")
                var skill_value_final = skill_value.toFixed(2);
                var val = `<span style="">${skill_value_final}</span>`
                cur_member_data.push(val)
            {{/each}}
            console.log(cur_member_data)
            data_list.push(cur_member_data)
        {{/each}}
        return data_list
    }

    function getCategoryWiseSolveCountList(){
        var data_list = [];
        {{#each member_stat}}
            var user_profile = '<a href = "/profile/{{user_handle}}/" style="color: {{skill_color}}; font-weight:700; padding:3px;">{{user_handle}}</a>'
            var cur_member_data = [user_profile]
            {{#each skill_list}}
                var solve_count = parseFloat("{{solve_count}}")
                var val = `<span style="">${solve_count}</span>`
                cur_member_data.push(val)
            {{/each}}
            console.log(cur_member_data)
            data_list.push(cur_member_data)
        {{/each}}
        return data_list
    }


    function getTaskList(){
        var current_user = "{{logged_in_user_id}}"
        var team_lead = "{{team_leader_id}}"
        console.log("current_user")
        console.log(current_user)

        var db_task_list = [];

        {{#each task_list}}
            var action_link = '<div class = "display: flex; align-items: center; justify-content: center;">'
            if(current_user == team_lead){
                action_link += '<a href="/classroom/delete/{{id}}/" title="Delete" data-toggle="tooltip" style="color: #c40b00;"><i class="fas fa-trash"></i></a>'
                action_link += '<a href="/classroom/reject/{{id}}/" title="Remove" data-toggle="tooltip" style="color: #f8b317;"><i class="fas fa-minus-circle"></i></a>'
            }else{
                action_link += '<a href="/classroom/reject/{{id}}/" title="Remove" data-toggle="tooltip" style="color: #f8b317;"><i class="fas fa-minus-circle"></i></a>'
            }
            action_link += "</div>"

            var task_data = ["{{task_title}}", "{{task_description}}", "{{task_added_by_user_handle}}", "{{deadline}}", "{{status}}", action_link];
            db_task_list.push(task_data)
        {{/each}}

        return db_task_list;
    }

    function showTaskListDTSearchTable(){
        var dt_list = getTaskList();
        
        $("#taskListTable").dataTable({
            "aaData": dt_list,
            paging: false,
            searching: false,
            destroy: true,
            scrollCollapse: true,
            responsive: true,
            pageLength: 10,
            lengthMenu: [[3, 5, 10, -1], [3, 5, 10, 20]]
        });
    }

    function showMemberTable(){
        var dt_list = getMemberTableList();
        
        $("#memberTable").dataTable({
            "aaData": dt_list,
            info: false,
            paging: false,
            searching: false,
            pageLength: 100,
            destroy: true,
            scrollY: '1000px',
            scrollCollapse: true
        });
    }

    function showCategoryWiseSkillTable(){
        var dt_list = getCategoryWiseSkillList();
        
        $("#categoryWiseSkillTable").dataTable({
            "aaData": dt_list,
            paging: false,
            searching: false,
            info: false,
            pageLength: 100,
            destroy: true,
            scrollY: '1000px',
            scrollCollapse: true
        });
    }

    function showCategoryWiseSolveCountTable(){
        var dt_list = getCategoryWiseSolveCountList();
        
        $("#categoryWiseSolveCountTable").dataTable({
            "aaData": dt_list,
            paging: false,
            searching: false,
            info: false,
            destroy: true,
            responsive: true,
            scrollCollapse: true
        });
    }

    function getContestList(){
        var data_list = [];
        {{#each contest_list}}
            var contest_link = '<a href = "/contest/view/{{id}}/" style="color: #3d87b9; font-weight:700;">{{contest_name}}</a>'
            var setter_link = '<div class = "display: flex; align-items: center; justify-content: center;">'
            setter_link += '<a href = "/profile/{{setter_handle}}/" style="color: {{setter_skill_color}}; font-weight:700;">{{setter_handle}}</a>'
            setter_link += "</div>"
            var data = [contest_link, setter_link, "{{contest_type}}", "{{contest_level}}", "{{description}}", "{{start_date}}", "{{end_date}}"];
            data_list.push(data)
        {{/each}}
        return data_list;
    }

    function showContestsDTSearchTable(){
        var dt_list = getContestList();
        
        $("#contestListTable").dataTable({
            "aaData": dt_list,
            paging: false,
            destroy: true,
            info: false,
            searching: false,
            ordering: false,
            scrollCollapse: true,
            responsive: true,
            pageLength: 100
        });
    }

    function viewBlogInBlogs(){
        {{#each blog_list}}
            var html = `
                <div class="blog-post-2">
                <div class="post-header">
                    <a href="/blog/post/view/{{blog_id}}/"><h2 style="color: rgb(23, 81, 104);" class="media-heading"><b>{{blog_title}}</b></h2></a>
                </div>
                <div class="post-sub-header">
                    <p class="text-left"> <b><span style="color: rgb(214, 193, 7); padding-right:3px;">{{blog_writer_handle}}</span>, <span style="color: #95989B; padding-left:7px;"> {{updated_at}}</span></b></p>
                </div>
                <div class="post-body">
                    <p> {{showdown_helper blog_text}} </p>
                </div>
                <div class="post-read-more">
                    <a href="/blog/post/view/{{blog_id}}/"><p style="color: rgb(23, 81, 104);" class="media-heading"><b>READ MORE <i style="height: 11px;" class="fas fa-angle-double-right"></i></b></p></a>
                </div>
                <div class="post-footer">
                    <p class="text-left"> Blog Topic : <b><span style="color: rgb(123, 137, 150); padding-right:3px;">{{blog_topic}}</span></b></p>
                </div>
                <hr>
                <div class="row post-foter">
                    <div class="col-md-10">
                        <a href="/vote/blog/like/{{blog_id}}/"><span style="padding-right: 20px; color: rgb(31, 192, 57);"><i class="fas fa-thumbs-up"></i> {{vote_count.like_count}}</span></a>
                        <a href="/vote/blog/dislike/{{blog_id}}/"><span style="color: rgb(209, 84, 0);"><i class="fas fa-thumbs-down"></i> {{vote_count.dislike_count}}</span></a>
                    </div>
                    <div class="col-md-2">
                        <a href="/blog/post/view/{{blog_id}}/"><span style="color: rgb(19, 87, 104);"><i class="fas fa-comment"></i> {{comment_count}} Comments</span></a>
                    </div>
                </div>
            </div>
            `
            $(".blogs").append(html);
        {{/each}}
    }
    
    showMemberTable()
    showCategoryWiseSkillTable()
    showTaskListDTSearchTable()
    showCategoryWiseSolveCountTable()
    showContestsDTSearchTable();
    viewBlogInBlogs();

</script>