<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>


<div class="row" style="margin-top: 15px;">

    <div class="col-md-9">
        <div class="show-team">
            <div class="blogs">
                
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="sidebar-rating-table">
            <div class="table-title-2">
                <h6 style="text-align: center;"><b>Top Rated [<a style="color: rgb(109, 164, 209);" href = "/user/leaderboard/">view all</a>]</b></h6>
            </div>
            <table class="table sidebar-stat-table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>User</th>
                        <th>Skill</th>
                    </tr>
                </thead>
                <tbody>
                {{#each top_rated_users}}
                    <tr>
                        <td>{{rank}}</td>
                        <td><a href = "/profile/{{username}}/" style="color: {{skill_color}}; font-weight:700;">{{username}}</a></td>
                        <td>{{skill_value}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
        <div class="sidebar-rating-table">
            <div class="table-title-2">
                <h6 style="text-align: center;"><b>Top Solvers [<a style="color: rgb(109, 164, 209);" href = "/user/topsolvers/">view all</a>]</b></h6>
            </div>
            <table class="table sidebar-stat-table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>User</th>
                        <th>Count</th>
                    </tr>
                </thead>
                <tbody>
                {{#each top_solved_users}}
                    <tr>
                        <td>{{rank}}</td>
                        <td><a href = "/profile/{{username}}/" style="color: {{skill_color}}; font-weight:700;">{{username}}</a></td>
                        <td>{{solve_count}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
        <div class="sidebar-rating-table">
            <div class="table-title-2">
                <h6 style="text-align: center;"><b>Top Contributors [<a style="color: rgb(109, 164, 209);" href = "/user/contributors/">view all</a>]</b></h6>
            </div>
            <table class="table sidebar-stat-table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th class="second_td">User</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                {{#each top_contributors}}
                    <tr>
                        <td>{{rank}}</td>
                        <td><a href = "/profile/{{username}}/" style="color: {{skill_color}}; font-weight:700;">{{username}}</a></td>
                        <td>{{contribution}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>



<script type="text/javascript">

    function viewBlogInBlogs(){
        var blog_para_max_length_first_blog = 2500
        var blog_para_max_length = 1000
        var first_blog = 0
        {{#each blog_list}}
            var blog_text = `{{blog_text}}`
            var max_len = blog_para_max_length
            if(first_blog == 0) max_len = blog_para_max_length_first_blog
            first_blog = 1
            if(blog_text.length > max_len){
                blog_text = blog_text.substring(0, max_len)
                blog_text += ' . . .'
            }

            var markdown_converter = new showdown.Converter()
            var blog_text_html = markdown_converter.makeHtml(blog_text)

            var html = `
                <div class="blog-post-2">
                <div class="post-header">
                    <a href="/blog/post/view/{{blog_id}}/"><h2 style="color: rgb(23, 81, 104);" class="media-heading"><b>{{blog_title}}</b></h2></a>
                </div>
                <div class="post-sub-header">
                    <p class="text-left"> <b><span style="color: {{blog_writer_skill_color}}; padding-right:3px;">{{blog_writer_handle}}</span>, <span style="color: #95989B; padding-left:7px;"> {{updated_at}}</span></b></p>
                </div>
                <div class="post-body">
                    {{showdown_helper blog_text}}
                </div>
                <div class="post-read-more">
                    <a href="/blog/post/view/{{blog_id}}/"><p style="color: rgb(23, 81, 104);" class="media-heading"><b>READ MORE <i style="height: 11px;" class="fas fa-angle-double-right"></i></b></p></a>
                </div>
                <div class="post-footer">
                    <p class="text-left"> Blog Topic : <b><span style="color: rgb(123, 137, 150); padding-right:3px;">{{blog_topic}}</span></b></p>
                </div>
                <hr>
                <div class="row post-foter">
                    <div class="col-md-10">
                        <a href="/vote/blog/like/{{blog_id}}/"><span style="padding-right: 20px; color: rgb(31, 192, 57);"><i class="fas fa-thumbs-up"></i> {{vote_count.like_count}}</span></a>
                        <a href="/vote/blog/dislike/{{blog_id}}/"><span style="color: rgb(209, 84, 0);"><i class="fas fa-thumbs-down"></i> {{vote_count.dislike_count}}</span></a>
                    </div>
                    <div class="col-md-2">
                        <a href="/blog/post/view/{{blog_id}}/"><span style="color: rgb(19, 87, 104);"><i class="fas fa-comment"></i> {{comment_count}} Comments</span></a>
                    </div>
                </div>
            </div>
            `
            $(".blogs").append(html);
        {{/each}}
    }
    $(document).ready( function () {
        viewBlogInBlogs();
    } );

</script>

