<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/individual_training.css">
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>

<div class="row">

    <div class="table-wrapper col-md-5">			
        <div class="table-title">
            <h4 style="text-align: center;"><b>Next Problems To Solve</b></h4>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Project Name</th>
                    <th>OJ Name</th>
                    <th>Relevant Score</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                {{#each problem_stat}}
                <tr>
                    <td>{{idx}}</td>
                    <td><a href = {{source_link}}>{{problem_name}}</a></td>
                    <td>{{oj_name}}</td>
                    <td>{{relevant_score}}</td>
                    <td>
                        <a href="#" class="edit" title="Flag for 3 days" data-toggle="tooltip"><i class="fas fa-tasks"></i></a>
                        <a href="#" class="delete" title="Delete from my list" data-toggle="tooltip"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                 {{/each}}

            </tbody>
        </table>
    </div>


    <div class="table-wrapper col-md-5">
        <div class="table-title">
            <h4 style="text-align: center;"><b>Next Topics To Learn</b></h4>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Algorithm Name</th>
                    <th>Algorithm Difficulty</th>
                    <th>Relevant Score</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                {{#each category_stat}}
                <tr>
                    <td>{{idx}}</td>
                    <td><a href = "">{{category_name}}</a></td>
                    <td>{{category_difficulty}}</td>
                    <td>{{relevant_score}}</td>
                    <td>
                        <a href="#" class="edit" title="Flag for 3 days" data-toggle="tooltip"><i class="fas fa-tasks"></i></a>
                        <a href="#" class="delete" title="Delete from my list" data-toggle="tooltip"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                 {{/each}}

            </tbody>
        </table>
    </div>
</div>

<div class="canvas-table">
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
</div>

<br>

<div class="table-type-1">
    <div class="table-title-2">
        <h4 style="text-align: center;"><b>Overall Algorithm Skills</b></h4>
    </div>
    <table id="categorySkillListTable" class="table table-striped table-bordered category-list-table">
        <thead>
            <tr>
                <th style="width: 13%;">Algorithm Root</th>
                <th>Algorithm Name</th>
                <th>Algorithm Difficulty</th>
                <th>Skill Value</th>
                <th>Skill Title</th>
                <th>Solve Count</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>


<script type="text/javascript">

    function getCategorySkillList(){
        var categories = [
            ['Data Structure', 'Data Structure', '87.5', '1374'],
            ['DP', 'DP', '87.5', '1374'],
            ['LCA', 'LCA', '85.5', '1677'],
        ]

        var db_category_list = [];

        {{#each category_skill_list}}
            console.log("{{category_name}}")
            var category_root = "{{category_root}}";
            var category_name = "{{category_name}}";
            var category_data = ["<a href = >"+category_root+"</a>", "<a href = >"+category_name+"</a>", "{{category_difficulty}}", "{{skill_value}}", "{{skill_title}}", "{{solve_count}}"];
            db_category_list.push(category_data)
        {{/each}}

        return db_category_list;
    }

    function showCategoriesSkillDTSearchTable(){
        var dt_list = getCategorySkillList();
        
        $("#categorySkillListTable").dataTable({
            "aaData": dt_list,
            paging: true,
            destroy: true,
            scrollY: '500px',
            scrollCollapse: true
        });
    }


    window.onload = function () {
        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            
            title:{
                text:"Topic Wise Skills"
            },
            axisX:{
                interval: 1
            },
            axisY2:{
                interlacedColor: "rgba(1,77,101,.2)",
                gridColor: "rgba(1,77,101,.1)",
                title: ""
            },
            data: [{
                type: "bar",
                name: "algorithms",
                axisYType: "secondary",
                color: "#014D65",
                dataPoints: [
                    { y: 3, label: "Data Structure" },
                    { y: 7, label: "Dynamic Programming" },
                    { y: 5, label: "Graph" },
                    { y: 9, label: "Geometry" },
                    { y: 7, label: "Number Theory" },
                    { y: 7, label: "Greedy" },
                    { y: 9, label: "Ad Hoc" },
                    { y: 8, label: "Implementation" },
                    { y: 11, label: "String Matching" },
                    { y: 15, label: "Max Flow" },
                    { y: 12, label: "Tree" },
                    { y: 15, label: "Combinatorics" }
                ]
            }]
        });
        chart.render();

        showCategoriesSkillDTSearchTable();
    }

</script>