<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<div class="table-type-1">
    <h3 style="text-align: center;">Problem Suggestions for Skill Building</h3>
    <table id="problemListTable" class="table table-striped table-bordered problem-list-table">
        <thead>
            <tr>
                <th>Project Name</th>
                <th>OJ Name</th>
                <th>Relevant Score</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>


<div class="table-type-1">
    <h3 style="text-align: center;">Algorithm Learning Suggestions</h3>
    <table id="categoryListTable" class="table table-striped table-bordered category-list-table">
        <thead>
            <tr>
                <th>Algorithm Root</th>
                <th>Algorithm Name</th>
                <th>Algorithm Difficulty</th>
                <th>Relevant Score</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>


<div class="table-type-1">
    <h3 style="text-align: center;">Your Algorithm Skills</h3>
    <table id="categorySkillListTable" class="table table-striped table-bordered category-list-table">
        <thead>
            <tr>
                <th>Algorithm Root</th>
                <th>Algorithm Name</th>
                <th>Algorithm Difficulty</th>
                <th>Skill Value</th>
                <th>Skill Title</th>
                <th>Solve Count</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>


<script type="text/javascript">

    function getProblemList(){
        var problems = [
            ['A misc and mice', 'A misc and mice', 'CF', '87.5', 'Click', 'Click'],
            ['A misc and mice', 'A misc and mice', 'CF', '85.5', 'Click', 'Click'],
            ['A misc and mice', 'A misc and mice', 'CF', '80.5', 'Click', 'Click'],
            ['A misc and mice', 'A misc and mice', 'CF', '77.5', 'Click', 'Click'],
            ['A misc and mice', 'A misc and mice', 'CF', '60.5', 'Click', 'Click']
        ]

        var db_problem_list = [];

        {{#each problem_stat}}
            console.log("{{problem_name}}")
            var problem_name = "{{problem_name}}";
            var problem_data = ["<a href = {{source_link}}>"+problem_name+"</a>", "{{oj_name}}", "{{relevant_score}}"];
            db_problem_list.push(problem_data)
        {{/each}}

        return db_problem_list;
    }

    function getCategoryList(){
        var categories = [
            ['Data Structure', 'Data Structure', '87.5', 'Click', 'Click'],
            ['Segment Tree', 'Segment Tree', '85.5', 'Click', 'Click'],
            ['Segment Tree', 'Segment Tree', '80.5', 'Click', 'Click'],
            ['DP', 'DP', '77.5', 'Click', 'Click'],
            ['LCA', 'LCA', '60.5', 'Click', 'Click']
        ]

        var db_category_list = [];

        {{#each category_stat}}
            console.log("{{category_name}}")
            var category_root = "{{category_root}}";
            var category_name = "{{category_name}}";
            var category_data = ["<a href = >"+category_root+"</a>", "<a href = >"+category_name+"</a>", "{{category_difficulty}}", "{{relevant_score}}"];
            db_category_list.push(category_data)
        {{/each}}

        return db_category_list;
    }

    function getCategorySkillList(){
        var categories = [
            ['Data Structure', 'Data Structure', '87.5', '1374'],
            ['DP', 'DP', '87.5', '1374'],
            ['LCA', 'LCA', '85.5', '1677'],
        ]

        var db_category_list = [];

        {{#each category_stat}}
            console.log("{{category_name}}")
            var category_root = "{{category_root}}";
            var category_name = "{{category_name}}";
            var category_data = ["<a href = >"+category_root+"</a>", "<a href = >"+category_name+"</a>", "{{category_difficulty}}", "{{skill_value}}", "{{skill_title}}", "{{solve_count}}"];
            db_category_list.push(category_data)
        {{/each}}

        return db_category_list;
    }

    function showProblemsDTSearchTable(){
        var dt_list = getProblemList();
        
        $("#problemListTable").dataTable({
            "aaData": dt_list,
            paging: true,
            destroy: true,
            scrollY: '500px',
            scrollCollapse: true
        });
    }

    function showCategoriesDTSearchTable(){
        var dt_list = getCategoryList();
        
        $("#categoryListTable").dataTable({
            "aaData": dt_list,
            paging: true,
            destroy: true,
            scrollY: '500px',
            scrollCollapse: true
        });
    }

    function showCategoriesSkillDTSearchTable(){
        var dt_list = getCategorySkillList();
        
        $("#categorySkillListTable").dataTable({
            "aaData": dt_list,
            paging: true,
            destroy: true,
            scrollY: '500px',
            scrollCollapse: true
        });
    }

    $(document).ready( function () {
        showProblemsDTSearchTable();
        showCategoriesDTSearchTable();
        showCategoriesSkillDTSearchTable();
    } );

</script>