<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/individual_training.css">
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<div class="row">

    <div class="table-wrapper" style="width: 50%;  margin-right:1px auto">			
        <div class="table-title">
            <h6 style="text-align: center;">Next Problems To Solve</h6>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Problem Name</th>
                    <th>OJ Name</th>
                    <th>Relevant Score</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                {{#each problem_stat}}
                <tr>
                    <td>{{idx}}</td>
                    <td><a href = {{problem_info.source_link}} style="color: #058876; font-weight:500; text-decoration: underline;">{{problem_info.problem_name}}</a></td>
                    <td>{{problem_info.oj_name}}</td>
                    <td>{{relevant_score}}</td>
                    <td>
                        <a style="color: rgb(137, 161, 30);" href="/problem/user/status/flag/{{problem_id}}/" class="edit" title="Flag for 3 days" data-toggle="tooltip"><i class="fas fa-flag"></i></a>
                        <a style="color: rgb(255, 124, 2);" href="/problem/user/status/remove/{{problem_id}}/" class="delete" title="Remove from my list" data-toggle="tooltip"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                 {{/each}}

            </tbody>
        </table>
    </div>


    <div class="table-wrapper" style="width: 45%;  margin-left:1px auto">
        <div class="table-title">
            <h6 style="text-align: center;">Next Topics To Learn</h6>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Algorithm Name</th>
                    <th>Algorithm Difficulty</th>
                    <th>Relevant Score</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                {{#each category_stat}}
                <tr>
                    <td>{{idx}}</td>
                    <td><a href = ""  style="color: #4b1196; font-weight:500; text-decoration: underline;">{{category_info.category_title}}</a></td>
                    <td>{{category_info.category_difficulty}}</td>
                    <td>{{relevant_score}}</td>
                    <td>
                        <a style="color: rgb(137, 161, 30);" href="#" class="edit" title="Flag for 3 days" data-toggle="tooltip"><i class="fas fa-flag"></i></a>
                        <a style="color: rgb(255, 124, 2);"  href="#" class="delete" title="Delete from my list" data-toggle="tooltip"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                 {{/each}}

            </tbody>
        </table>
    </div>
</div>



    <div class="table-wrapper">
        <div class="table-title-2">
            <h5 style="text-align: center;"><b>Topic Wise Skill Comparison</b></h5>
        </div>
        <br>
        <div id="skillComparisonChart" style="height: 400px; width:100%"></div>
    </div>

    <div class="table-wrapper">
        <div class="table-title-2">
            <h5 style="text-align: center;"><b>Topic Wise Solved Count Comparison</b></h5>
        </div>
        <br>
        <div id="solveCountComparisonChart" style="height: 400px; width:100%"></div>
    </div>

    <div class="table-wrapper">
        <div class="table-title-2">
            <h5 style="text-align: center;"><b>Overall Algorithm Skills</b></h5>
        </div>
        <table id="categorySkillListTable" class="table table-striped table-bordered category-list-table">
            <thead>
                <tr>
                    <th style="width: 13%;">Algorithm Root</th>
                    <th>Algorithm Name</th>
                    <th>Algorithm Difficulty</th>
                    <th>Skill Value</th>
                    <th>Skill Title</th>
                    <th>Solve Count</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>


<script type="text/javascript">

    function getCategorySkillList(){
        var db_category_list = [];

        {{#each category_skill_list}}
            var category_root_title = "{{category_info.category_root_title}}";
            var category_title = "{{category_info.category_title}}";
            var skill_value = parseFloat("{{skill_value}}")
            console.log('skill_value: ')
            console.log(skill_value)
            skill_value = skill_value.toFixed(2)
            console.log(skill_value)
            var category_data = ['<a href = "" style="color: #4b1196; font-weight:500; text-decoration: underline;">'+category_root_title+'</a>', '<a href = >'+category_title+'</a>', "{{category_info.category_difficulty}}", skill_value, "{{skill_title}}", "{{solve_count}}"];
            db_category_list.push(category_data)
        {{/each}}

        return db_category_list;
    }

    function showCategoriesSkillDTSearchTable(){
        var dt_list = getCategorySkillList();
        
        $("#categorySkillListTable").dataTable({
            "aaData": dt_list,
            paging: true,
            destroy: true,
            scrollY: '500px',
            pageLength: 20,
            scrollCollapse: true
        });
    }

    function findRootCategoriesSkill(){
        var category_list = [];

        {{#each root_category_skill_list}}
            var data = {
                'label': "{{category_info.category_title}}",
                'y': {{skill_value}}
            }
            console.log(data)
            category_list.push(data)
        {{/each}}

        return category_list;
    }

    function generate_skill_table(){
        var data_list = []
        var header_list = []
        header_list.push('Topics')
        header_list.push('Skill')
        data_list.push(header_list)

        {{#each root_category_skill_list}}
            var skill_value_str = "{{skill_value}}"
            var skill_value = parseFloat(skill_value_str)
            data_list.push(["{{category_info.category_title}}", skill_value])
        {{/each}}

        return data_list;
    }

    function show_topic_wise_skill(){
        google.charts.load('current', {'packages':['bar']});
        google.charts.setOnLoadCallback(drawChart);
        var data_list = generate_skill_table();

        function drawChart() {
            var data = google.visualization.arrayToDataTable(data_list);
            var options = {
                bars: 'horizontal', // Required for Material Bar Charts.
                hAxis: {format: 'decimal'},
                colors: ['#5085A5']
            };

            var chart = new google.charts.Bar(document.getElementById('skillComparisonChart'));
            chart.draw(data, google.charts.Bar.convertOptions(options));
            var btns = document.getElementById('btn-group');
            btns.onclick = function (e) {
                if (e.target.tagName === 'BUTTON') {
                    options.hAxis.format = e.target.id === 'none' ? '' : e.target.id;
                    chart.draw(data, google.charts.Bar.convertOptions(options));
                }
            }
        }
    }


    function generate_solve_count_table(){
        var data_list = []
        var header_list = []
        header_list.push('Topics')
        header_list.push('overall')
        data_list.push(header_list)

        {{#each root_category_skill_list}}
            var solve_count_str = "{{solve_count}}"
            var solve_count = parseFloat(solve_count_str)
            data_list.push(["{{category_info.category_title}}", solve_count])
        {{/each}}
        return data_list;
    }

    function show_topic_wise_solve_count(){
        google.charts.load('current', {'packages':['bar']});
        google.charts.setOnLoadCallback(drawChart);
        var data_list = generate_solve_count_table();

        function drawChart() {
            var data = google.visualization.arrayToDataTable(data_list);
            var options = {
                bars: 'vertical', // Required for Material Bar Charts.
                hAxis: {format: 'decimal'},
                colors: ['#687864']
            };

            var chart = new google.charts.Bar(document.getElementById('solveCountComparisonChart'));
            chart.draw(data, google.charts.Bar.convertOptions(options));
            var btns = document.getElementById('btn-group');
            btns.onclick = function (e) {
                if (e.target.tagName === 'BUTTON') {
                    options.hAxis.format = e.target.id === 'none' ? '' : e.target.id;
                    chart.draw(data, google.charts.Bar.convertOptions(options));
                }
            }
        }
    }

    show_topic_wise_skill()
    showCategoriesSkillDTSearchTable();
    show_topic_wise_solve_count();

</script>