<head>
	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/user_profile.css">
</head>

<div class="profile-top">
	<div class="row">
		<div class="col-md-7">
			<div class="row">
				<div class="col-md-7">
					<h3 style="color:coral;">{{title}}</h3>
					<h2 style="color:rgb(99, 204, 218);">{{team_name}}</h2>
					<h5 style="color:darkgreen">Team Rating: {{rating}} (max rating {{max_rating}})</h5>
					<h5>Institution Name: {{institution_name}}</h5>
					<h5>Team Purpose: {{team_purpose}}</h5>
					<h5 id="team_members"> Member List: </h5>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-2 emphasis">
					<h3><strong> {{follower}} </strong></h3>                    
					<h6>Followers</h6>
				</div>
				<div class="col-md-2 emphasis">
					<h3><strong> {{following}} </strong></h3>                    
					<h6><small>Following</small></h6>
				</div>
				<div class="col-md-3 emphasis">
					<h3><strong> {{solve_count}} </strong></h3>                    
					<h6><small>Problem Solved</small></h6>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-3 emphasis">
					<button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Follow </button>
				</div>
				<div class="col-md-4 emphasis">
					<button class="btn btn-info btn-block"><span class="fas fa-envelope"></span> Send Message </button>
				</div>
			</div>
		</div>
		<div class="col-md-5">
			<div class="image-wrapper">
				<img src="/img/profile.png" alt="image" height="380" width="380">
			</div>
		</div>
	</div>

	<br>
	<br>
	<br>
	<br>

	<div class="team-view">
        <div class="table-title-2">
            <h4 style="text-align: center;"><b>CodeTrainer Team Rating History</b></h4>
        </div>
		<div id="team_rating_chart" style="width: 100%; height: 500px"></div>
		<br>
		<br>
        <div class="table-title-2">
            <h4 style="text-align: center;"><b>CodeTrainer Rating History Comparison</b></h4>
        </div>
		<div id="codetrainer_rating_comparison_chart" style="width: 100%; height: 500px"></div>
		<br>
		<br>
        <div class="table-title-2">
            <h4 style="text-align: center;"><b>CodeForces Rating History Comparison</b></h4>
        </div>
		<div id="codeforces_rating_comparison_chart" style="width: 100%; height: 500px"></div>
	</div>
</div>
<script>

window.onload = function () {
	var member_list_items = "";
	var mem_count = 0;
	{{#each member_list}}
		if(mem_count>0) member_list_items += " ";
    	member_list_items += '<a href = "/profile/{{user_handle}}/" style="color: #5bc0de; font-weight:700;">{{user_handle}}</a>'
		mem_count += 1
	{{/each}}

	var team_members = document.getElementById('team_members');
	team_members.innerHTML = "Member List: " + member_list_items
}


	//------ CodeTrainer TEAM RATING HISTORY CHART -------//
	function show_codetrainer_team_rating(){
		google.charts.load('current', {'packages':['line']});
		google.charts.setOnLoadCallback(drawChart);

		function drawChart() {
			var data = new google.visualization.DataTable();

			data.addColumn('date', 'Year');
			data.addColumn('number', "Rating");

			var rating_data_list = []
			{{#each rating_history}}
				var rating_data = []
				rating_data.push(new Date({{date.year}}, {{date.month}}, {{date.day}}));
				rating_data.push({{rating}})
				rating_data_list.push(rating_data)
			{{/each}}

			data.addRows(rating_data_list);

			var options = {
				chart: {
					title: ''
				},
			};

		var chart = new google.charts.Line(document.getElementById('team_rating_chart'));
		chart.draw(data, google.charts.Line.convertOptions(options));
		}
	}
	//------ CodeTrainer TEAM RATING HISTORY ENDS -------//

	//------ CodeTrainer RATING HISTORY COMPARISON CHART -------//
	function show_codetrainer_rating(){
		google.charts.load('current', {'packages':['line']});
		google.charts.setOnLoadCallback(drawChart);

		function drawChart() {
			var data = new google.visualization.DataTable();
			data.addColumn('date', 'Year');

			{{#each codeforces_history.handle_list}}
				var user_handle = "{{user_handle}}"
				data.addColumn('number', user_handle);
			{{/each}}

			var rating_data_list = []
			{{#each codeforces_history.history}}
				var rating = []
				rating.push(new Date({{date.year}}, {{date.month}}, {{date.day}}));
				{{#each rating_list}}
					rating.push({{rating}})
				{{/each}}
				rating_data_list.push(rating)
			{{/each}}

			data.addRows(rating_data_list);

			var options = {
				chart: {
				title: ''
				},
			};

			var chart = new google.charts.Line(document.getElementById('codetrainer_rating_comparison_chart'));
			chart.draw(data, google.charts.Line.convertOptions(options));
		}
	}
	//------ CodeTrainer RATING HISTORY COMPARISON CHART ENDS -------//


	//------ CODEFORCES RATING HISTORY COMPARISON CHART -------//
	function show_codeforces_rating(){
		google.charts.load('current', {'packages':['line']});
		google.charts.setOnLoadCallback(drawChart);

		function drawChart() {
			var data = new google.visualization.DataTable();
			data.addColumn('date', 'Year');

			{{#each codeforces_history.handle_list}}
				var user_handle = "{{user_handle}}"
				data.addColumn('number', user_handle);
			{{/each}}

			var rating_data_list = []
			{{#each codeforces_history.history}}
				var rating = []
				rating.push(new Date({{date.year}}, {{date.month}}, {{date.day}}));
				{{#each rating_list}}
					rating.push({{rating}})
				{{/each}}
				rating_data_list.push(rating)
			{{/each}}

			data.addRows(rating_data_list);

			var options = {
				chart: {
				title: ''
				},
			};

			var chart = new google.charts.Line(document.getElementById('codeforces_rating_comparison_chart'));
			chart.draw(data, google.charts.Line.convertOptions(options));
		}
	}
	//------ CODEFORCES RATING HISTORY COMPARISON CHART ENDS -------//

	show_codeforces_rating();
	show_codetrainer_rating();
	show_codetrainer_team_rating();

</script>