<head>
	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/user_profile.css">
</head>



<div class="blog-post-1" style="margin-top: 15px; background-color:#d7ebfa;">
    <div class="row">
        <div class="col-md-8">
            <div class="post-header">
                <h2 style="color: rgb(23, 81, 104);" class="media-heading"><b>{{skill_title}}</b></h2>
                <br>
                <h3><b>{{team_name}}</b></h3>
				<h5 style="color:darkgreen">User Rating: {{skill_value}} (max rating: {{skill_value}})</h5>
                <h5>Institution Name: <b>{{institution_name}}</b></h5>
                <h5>Team Purpose: <b>{{team_purpose}}</b></h5>
                <h5>Created By: <b><a href = "/profile/{{team_leader_handle}}/" style="color: #5bc0de; font-weight:700;">{{team_leader_handle}}</a></b></h5>
                <h5>Created On: <b>{{created_at}}</b></h5>
				<h5 id="team_members"> Member List: </h5>
            </div>
			<br>
			<div class="row" style="text-align: center;">
				<div class="col-md-2 emphasis">
					<h3><strong> {{follow_stat.follower_count}} </strong></h3>                    
					<h6>Followers</h6>
				</div>
				<div class="col-md-2 emphasis">
					<h3><strong> {{follow_stat.following_count}} </strong></h3>                    
					<h6><small>Following</small></h6>
				</div>
				<div class="col-md-2 emphasis">
					<h3><strong> {{solve_count}} </strong></h3>                    
					<h6><small>Problem Solved</small></h6>
				</div>
			</div>
			<br>

			<div class="row" style="text-align: center;">
				{{#if following}}
					<div class="col-md-2 emphasis">
						<a href="/unfollow/{{id}}/" style="background-color: rgb(204, 196, 127);" class="btn btn-block"> <span class="fa fa-minus-circle"></span> Unfollow </a>
					</div>
				{{/if}}
				{{#if unfollowing}}
					<div class="col-md-2 emphasis">
						<a href="/follow/{{id}}/" style="background-color: rgb(124, 189, 115);" class="btn btn-block"><span class="fa fa-plus-circle"></span> Follow </a>
					</div>
				{{/if}}
				<div class="col-md-2 emphasis">
					<a style="background-color: rgb(173, 202, 197);" class="btn btn-block"><span class="fas fa-sync"></span> Sync </a>
				</div>
				<div class="col-md-2 emphasis">
					<a style="background-color: rgb(163, 201, 233);" class="btn btn-block"><span class="fas fa-user-edit"></span> Update </a>
				</div>
			</div>
        </div>
        <div class="col-md-4">
			<div class="image-wrapper">
				<img src="/img/profile.png" alt="image" height="380" width="380">
			</div>
        </div>
    </div>
</div>

<br>

<div class="table-type-1">
    <div class="table-title-2">
        <h3 style="text-align: center;"><b>CodeTrainer Team Rating History</b></h3>
    </div>
    <br>
	<div id="team_rating_chart" style="height: 400px; width: 100%;"></div>
</div>

<div class="table-type-1">
    <div class="table-title-2">
        <h3 style="text-align: center;"><b>CodeTrainer Rating History Comparison</b></h3>
    </div>
    <br>
	<div id="codetrainer_rating_comparison_chart" style="height: 400px; width: 100%;"></div>
</div>

<div class="table-type-1">
    <div class="table-title-2">
        <h3 style="text-align: center;"><b>CodeForces Rating History Comparison</b></h3>
    </div>
    <br>
	<div id="codeforces_rating_comparison_chart" style="height: 400px; width: 100%;"></div>
</div>

<script>

window.onload = function () {
	var member_list_items = "";
	var mem_count = 0;
	{{#each member_list}}
		if(mem_count>0) member_list_items += " ";
    	member_list_items += '<a href = "/profile/{{user_handle}}/" style="color: #5bc0de; font-weight:700;">{{user_handle}}</a>'
		mem_count += 1
	{{/each}}

	var team_members = document.getElementById('team_members');
	team_members.innerHTML = "Member List: " + member_list_items
}


	//------ CodeTrainer TEAM RATING HISTORY CHART -------//
	function show_codetrainer_team_rating(){
		google.charts.load('current', {'packages':['line']});
		google.charts.setOnLoadCallback(drawChart);

		function drawChart() {
			var data = new google.visualization.DataTable();

			data.addColumn('date', 'Year');
			data.addColumn('number', "Rating");

			var rating_data_list = []
			{{#each rating_history}}
				var rating_data = []
				rating_data.push(new Date({{date.year}}, {{date.month}}, {{date.day}}));
				rating_data.push({{rating}})
				rating_data_list.push(rating_data)
			{{/each}}

			data.addRows(rating_data_list);

			var options = {
				chart: {
					title: ''
				},
			};

		var chart = new google.charts.Line(document.getElementById('team_rating_chart'));
		chart.draw(data, google.charts.Line.convertOptions(options));
		}
	}
	//------ CodeTrainer TEAM RATING HISTORY ENDS -------//

	//------ CodeTrainer RATING HISTORY COMPARISON CHART -------//
	function show_codetrainer_rating(){
		google.charts.load('current', {'packages':['line']});
		google.charts.setOnLoadCallback(drawChart);

		function drawChart() {
			var data = new google.visualization.DataTable();
			data.addColumn('date', 'Year');

			{{#each codeforces_history.handle_list}}
				var user_handle = "{{user_handle}}"
				data.addColumn('number', user_handle);
			{{/each}}

			var rating_data_list = []
			{{#each codeforces_history.history}}
				var rating = []
				rating.push(new Date({{date.year}}, {{date.month}}, {{date.day}}));
				{{#each rating_list}}
					rating.push({{rating}})
				{{/each}}
				rating_data_list.push(rating)
			{{/each}}

			data.addRows(rating_data_list);

			var options = {
				chart: {
				title: ''
				},
			};

			var chart = new google.charts.Line(document.getElementById('codetrainer_rating_comparison_chart'));
			chart.draw(data, google.charts.Line.convertOptions(options));
		}
	}
	//------ CodeTrainer RATING HISTORY COMPARISON CHART ENDS -------//


	//------ CODEFORCES RATING HISTORY COMPARISON CHART -------//
	function show_codeforces_rating(){
		google.charts.load('current', {'packages':['line']});
		google.charts.setOnLoadCallback(drawChart);

		function drawChart() {
			var data = new google.visualization.DataTable();
			data.addColumn('date', 'Year');

			{{#each codeforces_history.handle_list}}
				var user_handle = "{{user_handle}}"
				data.addColumn('number', user_handle);
			{{/each}}

			var rating_data_list = []
			{{#each codeforces_history.history}}
				var rating = []
				rating.push(new Date({{date.year}}, {{date.month}}, {{date.day}}));
				{{#each rating_list}}
					rating.push({{rating}})
				{{/each}}
				rating_data_list.push(rating)
			{{/each}}

			data.addRows(rating_data_list);

			var options = {
				chart: {
				title: ''
				},
			};

			var chart = new google.charts.Line(document.getElementById('codeforces_rating_comparison_chart'));
			chart.draw(data, google.charts.Line.convertOptions(options));
		}
	}
	//------ CODEFORCES RATING HISTORY COMPARISON CHART ENDS -------//

	show_codeforces_rating();
	show_codetrainer_rating();
	show_codetrainer_team_rating();

</script>