<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/individual_training.css">
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<div class="row">

    <div class="table-wrapper col-md-5">			
        <div class="table-title">
            <h4 style="text-align: center;"><b>Next Problems To Solve</b></h4>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Project Name</th>
                    <th>OJ Name</th>
                    <th>Relevant Score</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                {{#each problem_stat}}
                <tr>
                    <td>{{idx}}</td>
                    <td><a href = {{problem_info.source_link}} style="color: #1d1dd1; font-weight:500; text-decoration: underline;">{{problem_info.problem_name}}</a></td>
                    <td>{{problem_info.oj_name}}</td>
                    <td>{{relevant_score}}</td>
                    <td>
                        <a href="#" class="edit" title="Flag for 3 days" data-toggle="tooltip"><i class="fas fa-tasks"></i></a>
                        <a href="#" class="delete" title="Delete from my list" data-toggle="tooltip"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                 {{/each}}

            </tbody>
        </table>
    </div>


    <div class="table-wrapper col-md-5">
        <div class="table-title">
            <h4 style="text-align: center;"><b>Next Topics To Learn</b></h4>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Algorithm Name</th>
                    <th>Algorithm Difficulty</th>
                    <th>Relevant Score</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                {{#each category_stat}}
                <tr>
                    <td>{{idx}}</td>
                    <td><a href = "">{{category_info.category_title}}</a></td>
                    <td>{{category_info.category_difficulty}}</td>
                    <td>{{relevant_score}}</td>
                    <td>
                        <a href="#" class="edit" title="Flag for 3 days" data-toggle="tooltip"><i class="fas fa-tasks"></i></a>
                        <a href="#" class="delete" title="Delete from my list" data-toggle="tooltip"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                 {{/each}}

            </tbody>
        </table>
    </div>
</div>

<div class="canvas-table">
    <div class="table-title-2">
        <h3 style="text-align: center;"><b>Topic Wise Skill Comparison</b></h3>
    </div>
    <br>
<div id="chartContainer" style="height: 700px; width: 100%;"></div>
</div>

<div class="canvas-table">
    <div class="table-title-2">
        <h3 style="text-align: center;"><b>Topic Wise Skill Comparison</b></h3>
    </div>
    <br>
<div id="chartContainer2" style="height: 700px; width: 100%;"></div>
</div>

<br>

<div class="table-type-1">
    <div class="table-title-2">
        <h3 style="text-align: center;"><b>Overall Algorithm Skills</b></h3>
    </div>
    <table id="categorySkillListTable" class="table table-striped table-bordered category-list-table">
        <thead>
            <tr>
                <th style="width: 13%;">Algorithm Root</th>
                <th>Algorithm Name</th>
                <th>Algorithm Difficulty</th>
                <th>Skill Value</th>
                <th>Skill Title</th>
                <th>Solve Count</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

<div id="chart_div"></div>


<script type="text/javascript">

    function getCategorySkillList(){
        var db_category_list = [];
        {{#each category_skill_list}}
            //console.log("{{category_root_title}}")
            var category_root_title = "{{category_info.category_root_title}}";
            var category_title = "{{category_info.category_title}}";
            var category_data = ["<a href = >"+category_root_title+"</a>", "<a href = >"+category_title+"</a>", "{{category_info.category_difficulty}}", "{{skill_value}}", "{{skill_title}}", "{{solve_count}}"];
            db_category_list.push(category_data)
        {{/each}}

        return db_category_list;
    }

    function showCategoriesSkillDTSearchTable(){
        var dt_list = getCategorySkillList();
        
        $("#categorySkillListTable").dataTable({
            "aaData": dt_list,
            paging: true,
            destroy: true,
            scrollY: '500px',
            scrollCollapse: true
        });
    }

    function findRootCategoriesSkill(){
        var category_list = [];

        {{#each root_category_skill_list}}
            var data = {
                'label': "{{category_info.category_title}}",
                'y': {{skill_value}}
            }
            //console.log(data)
            category_list.push(data)
        {{/each}}

        return category_list;
    }
    
    function get_member_list(){
        var member_list = []
        {{#each member_list}}
            member_list.push("{{user_handle}}")
        {{/each}}
        return member_list
    }

    function get_data_list(){
        var data_list = [];

        var idx = 0;
        {{#each skill_info}}
            var cur_list = []
            {{#each skill_list}}
                var data = {
                    'label': "{{category_info.category_title}}",
                    'y': {{skill_value}}
                }
                cur_list.push(data)
            {{/each}}
            data_list.push(cur_list)
            console.log('PRINT USER SKILL')
            console.log(cur_list)
        {{/each}}

        data_list.push(findRootCategoriesSkill())
        return data_list;
    }


    window.onload = function () {
        console.log('Insode window onload')
        var data_list = get_data_list();

        console.log('Fnal dt_list')
        console.log(data_list)
        var member_list = get_member_list();

        var len = data_list.length
        console.log('Length:')
        console.log(len)
        var idx = 0;
        var colors = ["rgb(253,207,179, 0.7)", "rgb(206,200,228, 0.7)", "rgb(85,133,181, 0.7)", "rgb(157,215,164, 0.7)"]

        var plot_data_list = []
        member_list.push("overall");
        console.log('member list: ' + member_list)

        for(idx = 0;idx<len;idx++){
            var data = {
                type: "bar",
                showInLegend: true,
                name: member_list[idx],
                axisYType: "secondary",
                color: colors[idx],
                dataPoints: data_list[idx]
            }
            plot_data_list.push(data)
        }
        console.log('Fnal plot_data_list')
        console.log(plot_data_list)

        var chart = new CanvasJS.Chart("chartContainer2", {
            animationEnabled: true,
            
            title:{
                text:""
            },
            axisX:{
                interval: 1
            },
            axisY2:{
                interlacedColor: "rgba(1,77,101, .1)",
                gridColor: "rgba(1,77,101,.3)",
                title: ""
            },
            legend: {
                cursor:"pointer",
                itemclick : toggleDataSeries
            },
            toolTip: {
                shared: true,
                content: toolTipFormatter
            },
            data: plot_data_list
        });

        chart.render();

        function toolTipFormatter(e) {
            var str = "";
            var total = 0 ;
            var str3;
            var str2 ;
            for (var i = 0; i < e.entries.length; i++){
                var str1 = "<span style= \"color:"+e.entries[i].dataSeries.color + "\">" + e.entries[i].dataSeries.name + "</span>: <strong>"+  e.entries[i].dataPoint.y + "</strong> <br/>" ;
                //total = e.entries[i].dataPoint.y + total;
                str = str.concat(str1);
            }
            str2 = "<strong>" + e.entries[0].dataPoint.label + "</strong> <br/>";
            return (str2.concat(str));
        }

        function toggleDataSeries(e) {
            if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                e.dataSeries.visible = false;
            }
            else {
                e.dataSeries.visible = true;
            }
            chart.render();
        }


        showCategoriesSkillDTSearchTable();
    }

    function generate_skill_table(){
        var data_list = []
        var member_list = get_member_list();
        console.log('member list: ' + member_list)
        var len = member_list.length

        var header_list = []
        header_list.push('Topics')
        header_list.push('overall')

        for(idx = 0;idx<len;idx++){
            header_list.push(member_list[idx])
        }
        data_list.push(header_list)

        {{#each root_category_skill_list}}
            var skill_value_str = "{{skill_value}}"
            var skill_value = parseFloat(skill_value_str)
            data_list.push(["{{category_info.category_title}}", skill_value])
        {{/each}}

        {{#each skill_info}}
            var topic_idx = 1;
            {{#each skill_list}}
                var skill_value_str = "{{skill_value}}"
                var skill_value = parseFloat(skill_value_str)
                data_list[topic_idx].push(skill_value)
                topic_idx++;
            {{/each}}
        {{/each}}
        return data_list;
    }

    function show_topic_wise_comparison(){
        google.charts.load('current', {'packages':['bar']});
        google.charts.setOnLoadCallback(drawChart);
        var data_list = generate_skill_table();

        function drawChart() {
            var data = google.visualization.arrayToDataTable(data_list);
            var options = {
                bars: 'horizontal', // Required for Material Bar Charts.
                hAxis: {format: 'decimal'},
                colors: ['#7fa4c6', '#fdddc9', '#dcd8ec', '#bae3bf']
            };

            var chart = new google.charts.Bar(document.getElementById('chartContainer'));
            chart.draw(data, google.charts.Bar.convertOptions(options));
            var btns = document.getElementById('btn-group');
            btns.onclick = function (e) {
                if (e.target.tagName === 'BUTTON') {
                    options.hAxis.format = e.target.id === 'none' ? '' : e.target.id;
                    chart.draw(data, google.charts.Bar.convertOptions(options));
                }
            }
        }
    }

    show_topic_wise_comparison()

</script>