<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<div class="cfs-transparent-header-div" style="text-align: center;">
    <div class="cfs-title-light">
        <h4 class="media-heading"><b>Team Training Model <span>#</span> <span style="color: {{skill_color}};"><a href = "/team/view/{{id}}/">{{team_name}}</a></span></b></h4>
    </div>
    <hr class="light">
    <div  class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-2">
            <h6><span style="color: #2b3a47;">Team Rating</span></h6>
            <hr style="color: #2b3a47; width: 90%;">
            <h6 style="font-size: 25px;"><span style="color: #2b3a47;">{{skill_value}}</span></h6>
        </div>
        <div class="col-md-2">
            <h6><span style="color: #2b3a47;">Solve Count</span></h6>
            <hr style="color: #2b3a47; width: 90%;">
            <h6 style="font-size: 25px;"><span style="color: #2b3a47;">{{solve_count}}</span></h6>
        </div>
        <div class="col-md-2">
            <h6><span style="color: #2b3a47;">Score Earned</span></h6>
            <hr style="color: #2b3a47; width: 90%;">
            <h6 style="font-size: 25px;"><span style="color: #2b3a47;">{{total_score}}</span></h6>
        </div>
        <div class="col-md-2">
            <h6><span style="color: #2b3a47;">Target Score</span></h6>
            <hr style="color: #2b3a47; width: 90%;">
            <h6 style="font-size: 25px;"><span style="color: #2b3a47;">{{next_week_target}}</span></h6>
        </div>
        <div class="col-md-2">
        </div>
    </div>

    <hr class="light">

    <div class="row page-box">
        <div class="col-md-2">
        </div>
        <div class="col-md-2">
            {{#if training-plan}}
            <b>
            <a title="Home" href="/training/team/{{id}}/training-plan/"><i class="fas fa-tenge"></i> Training Plan</a>
            <hr style="border: 1px solid #2b3847; border-radius: 1px;">
            </b>
            {{else}}
            <b>
            <a title="Home" href="/training/team/{{id}}/training-plan/"><i class="fas fa-tenge"></i> Training Plan</a>
            <hr style="border: 1px solid #c5c5c5; border-radius: 1px;">
            </b>
            {{/if}}
        </div>
        <div class="col-md-2">
            {{#if category-skill}}
            <b>
            <a title="Member Skills" href="/training/team/{{id}}/category-skill/"><i class="fas fa-chart-bar"></i> Category Skills</a>
            <hr style="border: 1px solid #2b3847; border-radius: 1px;">
            </b>
            {{else}}
            <b>
            <a title="Member Skills" href="/training/team/{{id}}/category-skill/"><i class="fas fa-chart-bar"></i> Category Skills</a>
            <hr style="border: 1px solid #c5c5c5; border-radius: 1px;">
            </b>
            {{/if}}
        </div>
        <div class="col-md-2">
            {{#if contest}}
            <a href="/training/team/{{id}}/contest/"><i class="fas fa-cubes"></i> Contest</a>
            <hr style="border: 1px solid #2b3847; border-radius: 1px;">
            {{else}}
            <a href="/training/team/{{id}}/contest/"><i class="fas fa-cubes"></i> Contest</a>
            <hr style="border: 1px solid #c5c5c5; border-radius: 1px;">
            {{/if}}
        </div>
        <div class="col-md-2">
            {{#if rating-comparison}}
            <a href="/training/team/{{id}}/rating-comparison/"><i class="fas fa-cubes"></i> Rating Comparison</a>
            <hr style="border: 1px solid #2b3847; border-radius: 1px;">
            {{else}}
            <a href="/training/team/{{id}}/rating-comparison/"><i class="fas fa-cubes"></i> Rating Comparison</a>
            <hr style="border: 1px solid #c5c5c5; border-radius: 1px;">
            {{/if}}
        </div>
        <div class="col-md-2">
        </div>
    </div>

</div>

{{#if training-plan}}
<div class="cfs-table-wrapper-1" style="width: 100%%;  margin-right:1px auto">			
    <div class="cfs-title-1">
        <h6 style="text-align: center;">Next Problems To Solve</h6>
    </div>
    <table class="table" style="text-align: center;">
        <thead>
            <tr>
                <th>#</th>
                <th style="width: 30%;">Problem Name</th>
                <th>Source</th>
                <th>Relevant Score</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            {{#each problem_stat}}
            <tr>
                <td style="color: #2b3a47;"><b>{{rank}}</b></td>
                <td><a href = "/problem/view/{{problem_info.id}}/" style="color: #0061a1; font-weight:500; text-decoration: underline;">{{problem_info.problem_name}}</a></td>
                <td><a style="color: #3d87b9;" href="{{problem_info.source_link}}"><i class="fas fa-external-link-alt"></i></a></td>
                <td>{{relevant_score}}</td>
                <td>
                    <a style="color: rgb(155, 134, 18);" href="#" class="edit" title="Flag for 3 days" data-toggle="tooltip"><i class="fas fa-eye-slash"></i></a>
                    <a style="color: rgb(180, 88, 1);" href="#" class="delete" title="Delete from my list" data-toggle="tooltip"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
                {{/each}}

        </tbody>
    </table>
</div>

<div class="cfs-table-wrapper-1" style="width: 100%%;  margin-right:1px auto">
    <div class="cfs-title-1">
        <h6 style="text-align: center;">Next Algorithms To Learn</h6>
    </div>
    <table class="table" style="text-align: center; width: 100%; table-layout: fixed;">
        <thead>
            <tr>
                <th>#</th>
                <th>Algorithm Name</th>
                <th>Algorithm Skill</th>
                <th>Difficulty</th>
                <th>Relevant Score</th>
            </tr>
        </thead>
        <tbody>

            {{#each category_stat}}
            <tr>
                <td style="color: #2b3a47;"><b>{{rank}}</b></td>
                <td><a href = "/category/view/{{category_info.category_id}}/" style="color: #0061a1; font-weight:500; text-decoration: underline;">{{category_info.category_title}}</a></td>
                <td>{{skill_value}}</td>
                <td>{{category_info.category_difficulty}}</td>
                <td>{{relevant_score}}</td>
            </tr>
            {{/each}}

        </tbody>
    </table>
</div>
{{/if}}


{{#if category-skill}}
<div class="cfs-table-wrapper-1">
    <div class="cfs-title-1">
        <h6 style="text-align: center;">Topic Wise Skill Comparison</h6>
    </div>
    <br>
    <br>
    <div style="padding: 10px;">
        <div id="skillComparisonChart" style="height: 400px; width: 100%;"></div>
    </div>
</div>

<div class="cfs-table-wrapper-1">
    <div class="cfs-title-1">
        <h6 style="text-align: center;">Topic Wise Solved Count Comparison</h6>
    </div>
    <br>
    <br>
    <div style="padding: 10px;">
        <div id="solveCountComparisonChart" style="height: 400px; width: 100%;"></div>
    </div>
</div>

<div class="cfs-table-wrapper-1" id="categorySkillListTableTop">
    <div class="cfs-title-1">
        <h6 style="text-align: center;">Overall Algorithm Skills</h6>
    </div>
    <div style="padding: 10px;">
    <table id="categorySkillListTable" class="table category-list-table" style="text-align: center;">
        <thead>
            <tr>
                <th style="width: 13%;">Algorithm Root</th>
                <th>Algorithm Name</th>
                <th>Algorithm Difficulty</th>
                <th>Skill Value</th>
                <th>Skill Title</th>
                <th>Solve Count</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    </div>
</div>
{{/if}}

{{#if contest}}
<div class="cfs-table-wrapper-1">
    <div class="cfs-title-1">
        <h6 style="text-align: center;"><b>Training Contest List</b></h6>
    </div>
    <div style="padding: 10px;">
    <table id="contestListTable" class="table" style="text-align: center;">
        <thead>
            <tr>
                <th style="width: 15%;">Contest Name</th>
                <th>Setter</th>
                <th>Contest Type</th>
                <th>Contest Level</th>
                <th>Description</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    </div>
</div>
{{/if}}

{{#if rating-comparison}}
<div class="cfs-table-wrapper-1">
    <div class="cfs-title-1">
        <h6 style="text-align: center;">CodeFlares Rating History Comparison</h6>
    </div>
    <br>
    <div style="padding: 10px;">
	<div id="codeflares_rating_comparison_chart" style="height: 400px; width: 100%;"></div>
    </div>
</div>

<div class="cfs-table-wrapper-1">
    <div class="cfs-title-1">
        <h6 style="text-align: center;">CodeForces Rating History Comparison</h6>
    </div>
    <br>
    <div style="padding: 10px;">
	<div id="codeforces_rating_comparison_chart" style="height: 400px; width: 100%;"></div>
    </div>
</div>
{{/if}}


<script type="text/javascript">

    function getCategorySkillList(){
        var db_category_list = [];
        {{#each category_skill_list}}
            var category_root_link = '<span style="color: #0061a1; font-weight:500;">{{category_info.category_root_title}}</span>'
            var category_link = '<a href = "/category/view/{{category_info.category_id}}/" style="color: #0061a1; font-weight:500; text-decoration: underline;">{{category_info.category_title}}</a>'
            var skill_value = parseFloat("{{skill_value}}")
            skill_value = skill_value.toFixed(2)
            var category_data = [category_root_link, category_link, "{{category_info.category_difficulty}}", skill_value, "{{skill_title}}", "{{solve_count}}"];
            db_category_list.push(category_data)
        {{/each}}

        return db_category_list;
    }

    function showCategoriesSkillDTSearchTable(){
        var dt_list = getCategorySkillList();
        
        $("#categorySkillListTable").dataTable({
            "aaData": dt_list,
            paging: true,
            destroy: true,
            scrollY: '500px',
            scrollCollapse: true
        });
    }

    function findRootCategoriesSkill(){
        var category_list = [];

        {{#each root_category_skill_list}}
            var data = {
                'label': "{{category_info.category_title}}",
                'y': {{skill_value}}
            }
            //console.log(data)
            category_list.push(data)
        {{/each}}

        return category_list;
    }
    
    function get_member_list(){
        var member_list = []
        {{#each member_list}}
            member_list.push("{{user_handle}}")
        {{/each}}
        return member_list
    }

    function get_data_list(){
        var data_list = [];

        var idx = 0;
        {{#each skill_info}}
            var cur_list = []
            {{#each skill_list}}
                var data = {
                    'label': "{{category_info.category_title}}",
                    'y': {{skill_value}}
                }
                cur_list.push(data)
            {{/each}}
            data_list.push(cur_list)
            console.log('PRINT USER SKILL')
            console.log(cur_list)
        {{/each}}

        data_list.push(findRootCategoriesSkill())
        return data_list;
    }

    function generate_skill_table(){
        var data_list = []
        var member_list = get_member_list();
        console.log('member list: ' + member_list)
        var len = member_list.length

        var header_list = []
        header_list.push('Topics')
        header_list.push('overall')

        for(idx = 0;idx<len;idx++){
            header_list.push(member_list[idx])
        }
        data_list.push(header_list)

        {{#each root_category_skill_list}}
            var skill_value_str = "{{skill_value}}"
            var skill_value = parseFloat(skill_value_str)
            data_list.push(["{{category_info.category_title}}", skill_value])
        {{/each}}

        {{#each skill_info}}
            var topic_idx = 1;
            {{#each skill_list}}
                var skill_value_str = "{{skill_value}}"
                var skill_value = parseFloat(skill_value_str)
                data_list[topic_idx].push(skill_value)
                topic_idx++;
            {{/each}}
        {{/each}}
        return data_list;
    }

    function show_topic_wise_comparison(){
        google.charts.load('current', {'packages':['bar']});
        google.charts.setOnLoadCallback(drawChart);
        var data_list = generate_skill_table();

        function drawChart() {
            var data = google.visualization.arrayToDataTable(data_list);
            var options = {
                bars: 'horizontal', // Required for Material Bar Charts.
                hAxis: {format: 'decimal'},
                colors: ['#4C71A1', '#B7C9D5', '#7492B9', '#A7C5EC']
            };

            var chart = new google.charts.Bar(document.getElementById('skillComparisonChart'));
            chart.draw(data, google.charts.Bar.convertOptions(options));
            var btns = document.getElementById('btn-group');
            btns.onclick = function (e) {
                if (e.target.tagName === 'BUTTON') {
                    options.hAxis.format = e.target.id === 'none' ? '' : e.target.id;
                    chart.draw(data, google.charts.Bar.convertOptions(options));
                }
            }
        }
    }


    function generate_solve_count_table(){
        var data_list = []
        var member_list = get_member_list();
        console.log('member list: ' + member_list)
        var len = member_list.length

        var header_list = []
        header_list.push('Topics')
        header_list.push('overall')

        for(idx = 0;idx<len;idx++){
            header_list.push(member_list[idx])
        }
        data_list.push(header_list)

        {{#each root_category_skill_list}}
            var solve_count_str = "{{solve_count}}"
            var solve_count = parseFloat(solve_count_str)
            data_list.push(["{{category_info.category_title}}", solve_count])
        {{/each}}

        {{#each skill_info}}
            var topic_idx = 1;
            {{#each skill_list}}
                var solve_count_str = "{{solve_count}}"
                var solve_count = parseFloat(solve_count_str)
                data_list[topic_idx].push(solve_count)
                topic_idx++;
            {{/each}}
        {{/each}}
        return data_list;
    }

    function show_topic_wise_solve_count_comparison(){
        google.charts.load('current', {'packages':['bar']});
        google.charts.setOnLoadCallback(drawChart);
        var data_list = generate_solve_count_table();

        function drawChart() {
            var data = google.visualization.arrayToDataTable(data_list);
            var options = {
                bars: 'vertical', // Required for Material Bar Charts.
                hAxis: {format: 'decimal'},
                colors: ['#7fa4c6', '#fdddc9', '#dcd8ec', '#bae3bf']
            };

            var chart = new google.charts.Bar(document.getElementById('solveCountComparisonChart'));
            chart.draw(data, google.charts.Bar.convertOptions(options));
            var btns = document.getElementById('btn-group');
            btns.onclick = function (e) {
                if (e.target.tagName === 'BUTTON') {
                    options.hAxis.format = e.target.id === 'none' ? '' : e.target.id;
                    chart.draw(data, google.charts.Bar.convertOptions(options));
                }
            }
        }
    }

    function getContestList(){
        var data_list = [];
        {{#each contest_list}}
            var contest_link = '<a href = "/contest/view/{{id}}/" style="color: #818101; font-weight:700;">{{contest_name}}</a>'
            var setter_link = '<div class = "display: flex; align-items: center; justify-content: center;">'
            setter_link += '<a href = "/profile/{{setter_handle}}/" style="color: #5bc0de; font-weight:700;">{{setter_handle}}</a>'
            setter_link += "</div>"
            var data = [contest_link, setter_link, "{{contest_type}}", "{{contest_level}}", "{{description}}", "{{start_date}}", "{{end_date}}"];
            data_list.push(data)
        {{/each}}
        return data_list;
    }

    function showContestsDTSearchTable(){
        var dt_list = getContestList();
        
        $("#contestListTable").dataTable({
            "aaData": dt_list,
            paging: false,
            info: false,
            searching: false,
            destroy: true,
            scrollCollapse: true,
            responsive: true,
            pageLength: 100
        });
    }

	//------ CodeFlares RATING HISTORY COMPARISON CHART -------//
	function show_codetrainer_rating(){
		google.charts.load('current', {'packages':['line']});
		google.charts.setOnLoadCallback(drawChart);

		function drawChart() {
			var data = new google.visualization.DataTable();
			data.addColumn('date', 'Year');

			{{#each codeflares_history.handle_list}}
				var user_handle = "{{user_handle}}"
				data.addColumn('number', user_handle);
			{{/each}}

			var rating_data_list = []
			{{#each codeflares_history.history}}
				var rating = []
				rating.push(new Date({{date.year}}, {{date.month}}, {{date.day}}));
				{{#each rating_list}}
					rating.push({{rating}})
				{{/each}}
				rating_data_list.push(rating)
			{{/each}}

			data.addRows(rating_data_list);

			var options = {
				chart: {
				title: ''
				},
			};

			var chart = new google.charts.Line(document.getElementById('codeflares_rating_comparison_chart'));
			chart.draw(data, google.charts.Line.convertOptions(options));
		}
	}
	//------ CodeFlares RATING HISTORY COMPARISON CHART ENDS -------//


	//------ CODEFORCES RATING HISTORY COMPARISON CHART -------//
	function show_codeforces_rating(){
		google.charts.load('current', {'packages':['line']});
		google.charts.setOnLoadCallback(drawChart);

		function drawChart() {
			var data = new google.visualization.DataTable();
			data.addColumn('date', 'Year');

			{{#each codeforces_history.handle_list}}
				var user_handle = "{{user_handle}}"
				data.addColumn('number', user_handle);
			{{/each}}

			var rating_data_list = []
			{{#each codeforces_history.history}}
				var rating = []
				rating.push(new Date({{date.year}}, {{date.month}}, {{date.day}}));
				{{#each rating_list}}
					rating.push({{rating}})
				{{/each}}
				rating_data_list.push(rating)
			{{/each}}

			data.addRows(rating_data_list);

			var options = {
				chart: {
				title: ''
				},
			};

			var chart = new google.charts.Line(document.getElementById('codeforces_rating_comparison_chart'));
			chart.draw(data, google.charts.Line.convertOptions(options));
		}
	}
	//------ CODEFORCES RATING HISTORY COMPARISON CHART ENDS -------//

    show_topic_wise_comparison()
    showCategoriesSkillDTSearchTable();
    show_topic_wise_solve_count_comparison();
    showContestsDTSearchTable();
	show_codeforces_rating();
	show_codetrainer_rating();

</script>