<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>


<div class="form-type-1" style="width: 80%;">	
	<div class="cfs-title-1">
		<h5 style="text-align: center;">
			<b>Update Problem Information</b>
			<a title="Guideline" class='btn' data-toggle="modal" data-target="#addProblemGuideline"><i class="fas fa-info-circle"></i></a>
		</h5>
	</div>
	<br>
    <form action="/problem/update/{{id}}/" method="post" style="padding: 10px;">
		<div class="form-row">
			<div class="form-group col-md-12">
				<label><b>Problem Name</b></label>
				<div class="input-group">
					<input type="text" id="problem_name" class="form-control" name="problem_name" value="{{problem_name}}" required>
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-12">
				<label><b>Problem Link</b></label>
				<div class="input-group">
					<input type="text" id="source_link" class="form-control" name="source_link" value="{{source_link}}" required>
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label><b>Problem ID</b></label>
				<div class="input-group">
					<input type="text" id="problem_id" class="form-control" name="problem_id" value="{{problem_id}}" required>
				</div>
			</div>
			<div class="form-group col-md-6">
				<label><b>Problem Type</b></label>
				<div class="input-group">
					<select class="form-control" id="problem_type" name="problem_type"></select>
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label><b>Online Judge Name</b></label>
				<div class="input-group">
					<select class="form-control" id="oj_name" name="oj_name"></select>
				</div>
			</div>
			<div class="form-group col-md-6">
				<label><b>Problem Remarks</b></label>
				<div class="input-group">
					<input type="text" id="problem_description" class="form-control" name="problem_description" value="{{problem_description}}">
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label><b>Problem Difficulty (1 - 10)</b></label>
				<div class="input-group">
					<input type="text" id="problem_difficulty" class="form-control" name="problem_difficulty" value="{{problem_difficulty}}" required>
				</div>
			</div>
			<div class="form-group col-md-6">
				<label><b>Problem Significance for Categories (1 - 2)</b></label>
				<div class="input-group">
					<input type="text" id="problem_significance" class="form-control" name="problem_significance" value="{{problem_significance}}">
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-12">
				<label><b>Active Status</b></label>
				<div class="input-group">
					<select class="form-control" id="active_status" name="active_status"></select>
				</div>
			</div>
		</div>

		<label><b>Category Dependency List</b></label>
		
		<div class="category-group">
		</div>
		
		<div class="copy-plus hide" hidden>
			<div class="form-row control-group">
				<div class="form-group col-md-6">
					<div class="input-group">
						<input type="text" autocomplete="off" id="problem_category_tmp" class="form-control autocomplete" name="problem_category_tmp" placeholder="Enter the category name">
					</div>
				</div>
				<div class="form-group col-md-5">
					<div class="input-group">
						<input type="text" id="dependency_factor_tmp" class="form-control" name="dependency_factor_tmp" placeholder="Enter the dependent factor (1-10)">
					</div>
				</div>
				<div class="form-group col-sm-1" style="width: 10px !important;">
					<button class="btn add-more btn-block" type="button"><i class="fas fa-plus"></i></button>
				</div>
			</div>
		</div>

		<div class="copy hide" hidden>
			<div class="form-row control-group">
				<div class="form-group col-md-6">
					<div class="input-group">
						<input type="text" autocomplete="off" id="problem_category_tmp" class="form-control autocomplete" name="problem_category_tmp" placeholder="Enter the category name">
					</div>
				</div>
				<div class="form-group col-md-5">
					<div class="input-group">
						<input type="text" id="dependency_factor_tmp" class="form-control" name="dependency_factor_tmp" placeholder="Enter the dependent factor (1-10)">
					</div>
				</div>
				<div class="form-group col-sm-1" style="width: 10px !important;">
					<button class="btn remove btn-block" type="button"><i class="fas fa-minus"></i></button>
				</div>
			</div>
		</div>

		<div class="form-group submit-btn-div">
            <button type="submit" class="btn submit-btn btn-light btn-block btn">Submit</button>
        </div>
	</form>
</div>


<!-- Modal Section Starts -->
<div class="modal fade" id="addProblemGuideline" tabindex="-1" role="dialog" aria-labelledby="addProblemGuidelineLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">Add Problem Guideline</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

		<div class="modal-data">

		<h5>Problem Name</h5>
		<p>Should be exactly the same as it's written in the corresponding problem page.</p>
		<br>

		<h5>Problem ID</h5>
		
		<p>Each problem in an website has an unique identification id.</p>
		<p>1. For codeforcode, the id is {contest-id}/{problem-id}.</p>
		<p>2. For other websites, the problem id is the problem code you see in the problem link.</p>
		<br>

		<h5>Problem Type</h5>
		<p>Problem type can be of the following three types.</p>
		<p>1. Classical: If the problem seems like a very classical type for any particular algorithm. Which means,
		the problem is a direct application of the corresponding algorithm and doesn't require any
		further knowledge other than the algorithm to solve it.</p>
		<p>2. Regular: If the problem requires some common knowledge and regular practice.</p>
		<p>3. Rare Knowledge: If the problem requires some knowledge which are very rare.</p>
		<br>

		<h5>Problem Significance</h5>
		<p>Problem significance denotes how much the problem is important for each of the connected categories.</p>
		<p>If all the linked categories are equally important then enter 1, otherwise enter 2</p>
		<br>


		<h5>Source Link</h5>
		<p>Source link is the exact same link to visit the problem.</p>
		<br>

		<h5>Dependent Category</h5>
		<p>Select the categories to which the problem belongs to from the auto complete search box</p>
		<p>If the category doesn't exist, you have to first contact us to add the category. You can 
			enter the dependent category only after we add the category in server.
		</p>
		<br>

		<h5>Dependent Category Factor</h5>
		<p>The factor denotes how much the category is important to learn to solve the problem</p>
		<p>The value should be in range 1 to 10. 1 is for being least important, 10 is for most important.</p>
		<br>
		
		<h5>Sample Example</h5>
		<p>Sample Codeforces Problem: <a href="https://codeforces.com/problemset/problem/977/A">Wrong Subtraction</a></p>
		<p>Problem Name: Wrong Subtraction</p>
		<p>Problem ID: 977/A</p>
		<p>Online Judge: Codeforces</p>
		<p>Difficulty: 1.5</p>
		<p>Significance: 1</p>
		<p>Source Link: <a href="https://codeforces.com/problemset/problem/977/A">https://codeforces.com/problemset/problem/977/A</a></p>
		<p>Dependent Category 1: implementation</p>
		<p>Dependent Factor 1: 9.5</p>
		<p>Dependent Category 2: ad_hoc</p>
		<p>Dependent Factor 2: 6.5</p>
		</div>
    </div>
  </div>
</div>

<!-- Modal Section Ends -->

<script type="text/javascript">
	var cat_item = 0;

	function enableAutoComplete(){
		$(".autocomplete").typeahead({
			// data source
			source: getAlgorithmList(),

			// how many items to show
			items: 8,

			// default template
			menu: '<ul class="typeahead dropdown-menu" role="listbox"></ul>',
			item: '<li><a class="dropdown-item" href="#" role="option"></a></li>',
			headerHtml: '<li class="dropdown-header"></li>',
			headerDivider: '<li class="divider" role="separator"></li>',
			
			itemContentSelector:'a',

			// min length to trigger the suggestion list
			minLength: 1,

			// number of pixels the scrollable parent container scrolled down
			scrollHeight: 0,

			// auto selects the first item
			autoSelect: true,

			// callbacks
			afterSelect: $.noop,
			afterEmptySelect: $.noop,

			// adds an item to the end of the list
			addItem: false,

			// delay between lookups
			delay: 0,
		});
	}

    $(document).ready(function() {
		$(".add-more").click(function(){
			cat_item++;
			var html = $(".copy").html()
			var problem_category_id = 'problem_category@' + cat_item.toString();
			html = html.replace('problem_category_tmp', problem_category_id)
			html = html.replace('problem_category_tmp', problem_category_id)
			var dependency_factor_id = 'dependency_factor@' + cat_item.toString();
			html = html.replace('dependency_factor_tmp', dependency_factor_id)
			html = html.replace('dependency_factor_tmp', dependency_factor_id)
			$(".category-group").append(html);
			enableAutoComplete();
		});

		$("body").on("click",".remove",function(){ 
			$(this).parents(".control-group").remove();
		});
    });

	function addInitialDependentCategory(){
		{{#each categories}}
			cat_item++
			if(cat_item == 1){
				var html = $(".copy-plus").html()
				var problem_category_id = 'problem_category@' + cat_item.toString();
				html = html.replace('problem_category_tmp', problem_category_id)
				html = html.replace('problem_category_tmp', problem_category_id)
				var dependency_factor_id = 'dependency_factor@' + cat_item.toString();
				html = html.replace('dependency_factor_tmp', dependency_factor_id)
				html = html.replace('dependency_factor_tmp', dependency_factor_id)
				$(".category-group").append(html);
				enableAutoComplete();
				$(`[id="${problem_category_id}"]`).val("{{category_name}}"); 
				$(`[id="${dependency_factor_id}"]`).val("{{dependency_factor}}"); 
			}else{
				var html = $(".copy").html()
				var problem_category_id = 'problem_category@' + cat_item.toString();
				html = html.replace('problem_category_tmp', problem_category_id)
				html = html.replace('problem_category_tmp', problem_category_id)
				var dependency_factor_id = 'dependency_factor@' + cat_item.toString();
				html = html.replace('dependency_factor_tmp', dependency_factor_id)
				html = html.replace('dependency_factor_tmp', dependency_factor_id)
				$(".category-group").append(html);
				enableAutoComplete();
				$(`[id="${problem_category_id}"]`).val("{{category_name}}"); 
				$(`[id="${dependency_factor_id}"]`).val("{{dependency_factor}}"); 
			}
		{{/each}}
	}

    function getAlgorithmList(){
        var data_list = []
        {{#each category_list}}
            var data = {
                "name": "{{category_name}}",
                "code": "{{category_name}}"
            }
            data_list.push(data)
        {{/each}}
        return data_list
    }

	function viewOnlineJudges() {
		var html = ''
		var selected_oj_title = "{{oj_name}}"
        {{#each oj_list}}
			var title = "{{title}}"
			var name = "{{name}}"
			if(title == selected_oj_title){
				html += `<option value="${title}" selected>${name}</option>`
			}else{
				html += `<option value="${title}">${name}</option>`
			}
        {{/each}}
		var oj_name = document.getElementById('oj_name')
		oj_name.innerHTML = html
	}

	function viewProblemType() {
		var data_name = ['Regular', 'Classical', 'Rare Knowledge']
		var data_title = ['regular', 'classical', 'rare_knowledge']
		var html = ''
		var selected_problem_type_title = "{{problem_type}}"
		console.log('selected_problem_type_title: ' + selected_problem_type_title)
		var idx = 0
        for(idx = 0;idx<data_name.length;idx++){
			var title = data_title[idx]
			var name = data_name[idx]
			if(title == selected_problem_type_title){
				html += `<option value="${title}" selected>${name}</option>`
			}else{
				html += `<option value="${title}">${name}</option>`
			}
		}
		var problem_type = document.getElementById('problem_type')
		problem_type.innerHTML = html
	}

	function viewActiveStatus() {
		var data_name = ['Pending', 'Approved', 'Disapproved']
		var data_title = ['pending', 'approved', 'disapproved']
		var html = ''
		var selected_active_status_title = "{{active_status}}"
		var idx = 0
        for(idx = 0;idx<data_name.length;idx++){
			var title = data_title[idx]
			var name = data_name[idx]
			if(title == selected_active_status_title){
				html += `<option value="${title}" selected>${name}</option>`
			}else{
				html += `<option value="${title}">${name}</option>`
			}
		}
		var active_status = document.getElementById('active_status')
		active_status.innerHTML = html
	}

	enableAutoComplete();
	addInitialDependentCategory();
	viewOnlineJudges();
	viewProblemType();
	viewActiveStatus();

</script>