<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<div class="form-type-1" style="width: 80%;">	
	<div class="cfs-title-1">
		<h5 style="text-align: center;">Profile Settings</h5>
	</div>
	<br>
    <form action="/settings/update/" method="post" style="padding: 10px;">
		<div class="form-row">
			<div class="form-group col-md-12">
				<label for="text">Select your current team:</label>
				<select class="form-control" id="current_team_id" name="current_team_id">
				</select>
			</div>
		</div>

		<div class="form-row">
			<div class="form-group col-md-12">
				<label for="text">Get system notifications:</label>
				<select class="form-control" id="get_notification" name="get_notification">
					<option value="Yes">Yes</option>
					<option value="No">No</option>
				</select>
			</div>
		</div>

		<div class="form-row">
			<div class="form-group col-md-12">
				<label for="text">Get email updates from us:</label>
				<select class="form-control" id="get_email_updates" name="get_email_updates">
					<option value="Yes">Yes</option>
					<option value="No">No</option>
				</select>
			</div>
		</div>

		<div class="form-row">
			<div class="form-group col-md-12">
				<label for="text">Hide problem tags:</label>
				<select class="form-control" id="hide_problem_tags" name="hide_problem_tags">
					<option value="Yes">Yes</option>
					<option value="No">No</option>
				</select>
			</div>
		</div>

		<div class="form-row">
			<div class="form-group col-md-12">
				<label for="text">Show contact info to others:</label>
				<select class="form-control" id="show_contact_info" name="show_contact_info">
					<option value="Yes">Yes</option>
					<option value="No">No</option>
				</select>
			</div>
		</div>

		<div class="form-group submit-btn-div">
            <button type="submit" class="btn submit-btn btn-primary btn-block btn">Submit</button>
        </div>

	</form>
</div>

<script type="text/javascript">

	function viewTeamsInForm() {
		var html = ''
		var selected_team_id = "{{session.user_settings.current_team_id}}"
        {{#each team_list}}
			var team_id = "{{id}}";
			if(team_id == selected_team_id){
				html += '<option value="{{id}}" selected>{{team_name}}</option>'
			}else{
				html += '<option value="{{id}}">{{team_name}}</option>'
			}
        {{/each}}

		var current_team_id = document.getElementById('current_team_id')
		current_team_id.innerHTML = html
	}
	function viewNotificationFieldsInForm() {
		var flag = "{{session.user_settings.get_notification}}"
		var html = ''
		if(flag == 'No'){
			html += '<option value="No" selected>No</option>'
			html += '<option value="Yes">Yes</option>'
		}else{
			html += '<option value="Yes" selected>Yes</option>'
			html += '<option value="No">No</option>'
		}
		var get_notification = document.getElementById('get_notification')
		get_notification.innerHTML = html
	}
	function getEmailUpdatesInForm() {
		var flag = "{{session.user_settings.get_email_updates}}"
		var html = ''
		if(flag == 'No'){
			html += '<option value="No" selected>No</option>'
			html += '<option value="Yes">Yes</option>'
		}else{
			html += '<option value="Yes" selected>Yes</option>'
			html += '<option value="No">No</option>'
		}
		var get_email_updates = document.getElementById('get_email_updates')
		get_email_updates.innerHTML = html
	}
	function hideProblemTagsInForm() {
		var flag = "{{session.user_settings.hide_problem_tags}}"
		var html = ''
		if(flag == 'No'){
			html += '<option value="No" selected>No</option>'
			html += '<option value="Yes">Yes</option>'
		}else{
			html += '<option value="Yes" selected>Yes</option>'
			html += '<option value="No">No</option>'
		}
		var hide_problem_tags = document.getElementById('hide_problem_tags')
		hide_problem_tags.innerHTML = html
	}
	function showContactInfoInForm() {
		var flag = "{{session.user_settings.show_contact_info}}"
		var html = ''
		if(flag == 'No'){
			html += '<option value="No" selected>No</option>'
			html += '<option value="Yes">Yes</option>'
		}else{
			html += '<option value="Yes" selected>Yes</option>'
			html += '<option value="No">No</option>'
		}
		var show_contact_info = document.getElementById('show_contact_info')
		show_contact_info.innerHTML = html
	}
	viewTeamsInForm();
	viewNotificationFieldsInForm();
	showContactInfoInForm()
	hideProblemTagsInForm()
	getEmailUpdatesInForm()

</script>

