<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<div class="form-type-1" style="width: 100%;">	
	<div class="cfs-title-1">
		<h5>Update Blog Post</h5>
		<h6 style="text-align: center; color: #09323f; font-size: small;">Target Audience: [{{target_audience}}]</h6>
	</div>
	<br>
    <form action="/blog/update/{{blog_id}}/" method="post" style="padding: 10px;">
		<div class="form-row">
			<div class="form-group col-md-12">
				<div class="input-group">
					<input type="text" autocomplete="off" id="blog_title" class="form-control" name="blog_title" value="{{blog_title}}">
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-12">
				<div class="input-group">
					<input type="text" autocomplete="off" id="blog_topic" class="form-control" name="blog_topic" value="{{blog_topic}}">
				</div>
			</div>
		</div>
		<div class="form-row" hidden>
			<div class="form-group col-md-12">
				<textarea type="text" id="blog_text_tmp" class="form-control blog-post-text-box" name="blog_text_tmp">{{blog_text}}</textarea>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-12">
				<textarea type="text" id="blog_text" class="form-control blog-post-text-box" name="blog_text"></textarea>
			</div>
		</div>
		<div class="form-group submit-btn-div">
            <button type="submit" class="btn submit-btn btn-primary btn-block btn">Update</button>
        </div>
	</form>
</div>


<script type="text/javascript">
    var simplemde = new SimpleMDE({ element: document.getElementById("blog_text")});
    simplemde.value(document.getElementById("blog_text_tmp").value);
</script>
 