<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>


<div class="form-type-1" style="width: 80%;">	
	<div class="cfs-title-1">
		<h5 style="text-align: center;"><b>Update Your Profile</b></h5>
	</div>
	<br>
    <form action="/update/profile/" method="post" style="padding: 10px;">
		<div class="form-group">
			<label for="email"> <b>Username</b> </label>
			<div class="input-group">
				<input type="text" class="form-control" name="username" value="{{username}}" readonly>
			</div>
		</div>
		<div class="form-group">
			<label for="email"> <b>Full Name</b> </label>
			<div class="input-group">
				<input type="text" id="full_name" class="form-control" name="full_name" value="{{full_name}}">
			</div>
		</div>
        <div class="form-group">
			<label for="email"> <b>Email</b> </label>
			<div class="input-group">
				<input type="email" class="form-control" name="email" value="{{email}}" readonly>
			</div>
        </div>
		<div class="form-group">
			<label for="email"> <b>Country Name</b> </label>
			<div class="input-group">
				<input type="text" id="country" class="form-control autocomplete-country" name="country" value="{{country}}">
			</div>
		</div>
		<div class="form-group">
			<label for="email"> <b>University Name</b> </label>
			<div class="input-group">
				<input type="text" id="university" class="form-control autocomplete-university" name="university" value="{{university}}">
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="email"> <b>Codeforces Handle</b> </label>
				<div class="input-group">
					<input type="text" class="form-control" name="codeforces_handle" value="{{codeforces_handle}}" placeholder="Codeforces Handle">
				</div>
			</div>
			<div class="form-group col-md-6">
				<label for="email"> <b>Codechef Handle</b> </label>
				<div class="input-group">
					<input type="text" class="form-control" name="codechef_handle" value="{{codechef_handle}}" placeholder="Codechef Handle">
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="email"> <b>SPOJ Handle</b> </label>
				<div class="input-group">
					<input type="text" class="form-control" name="spoj_handle" value="{{spoj_handle}}" placeholder="SPOJ Handle">
				</div>
			</div>
			<div class="form-group col-md-6">
				<label for="email"> <b>UVA Handle</b> </label>
				<div class="input-group">
					<input type="text" class="form-control" name="uva_handle" value="{{uva_handle}}" placeholder="UVa Handle">
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="email"> <b>Atcoder Handle</b> </label>
				<div class="input-group">
					<input type="text" class="form-control" name="atcoder_handle" value="{{atcoder_handle}}" placeholder="At Code Handle">
				</div>
			</div>
			<div class="form-group col-md-6">
				<label for="email"> <b>Lightoj Handle</b> </label>
				<div class="input-group">
					<input type="text" class="form-control" name="lightoj_handle" value="{{lightoj_handle}}" placeholder="LighOJ Handle">
				</div>
			</div>
		</div>
		<div class="form-group submit-btn-div">
            <button type="submit" class="btn submit-btn btn-block btn">Update</button>
        </div>
	</form>
</div>

<script>


    function getUniversityList(){
        var data_list = []
        {{#each university_list}}
            var data = {
                "name": "{{name}}",
                "code": "{{name}}"
            }
            data_list.push(data)
        {{/each}}
        console.log('data_list: ')
        console.log(data_list)
        return data_list
    }

	function enableAutoCompleteUniversity(){
		$(".autocomplete-university").typeahead({
			// data source
			source: getUniversityList(),

			// how many items to show
			items: 8,

			// default template
			menu: '<ul class="typeahead dropdown-menu" role="listbox"></ul>',
			item: '<li><a class="dropdown-item" href="#" role="option"></a></li>',
			headerHtml: '<li class="dropdown-header"></li>',
			headerDivider: '<li class="divider" role="separator"></li>',
			
			itemContentSelector:'a',

			// min length to trigger the suggestion list
			minLength: 1,

			// number of pixels the scrollable parent container scrolled down
			scrollHeight: 0,

			// auto selects the first item
			autoSelect: true,

			// callbacks
			afterSelect: $.noop,
			afterEmptySelect: $.noop,

			// adds an item to the end of the list
			addItem: false,

			// delay between lookups
			delay: 0,
		});
	}

    function getCountryList(){
        var data_list = []
        {{#each country_list}}
            var data = {
                "name": "{{name}}",
                "code": "{{name}}"
            }
            data_list.push(data)
        {{/each}}
        console.log('data_list: ')
        console.log(data_list)
        return data_list
    }

	function enableAutoCompleteCountry(){
		$(".autocomplete-country").typeahead({
			// data source
			source: getCountryList(),

			// how many items to show
			items: 8,

			// default template
			menu: '<ul class="typeahead dropdown-menu" role="listbox"></ul>',
			item: '<li><a class="dropdown-item" href="#" role="option"></a></li>',
			headerHtml: '<li class="dropdown-header"></li>',
			headerDivider: '<li class="divider" role="separator"></li>',
			
			itemContentSelector:'a',

			// min length to trigger the suggestion list
			minLength: 1,

			// number of pixels the scrollable parent container scrolled down
			scrollHeight: 0,

			// auto selects the first item
			autoSelect: true,

			// callbacks
			afterSelect: $.noop,
			afterEmptySelect: $.noop,

			// adds an item to the end of the list
			addItem: false,

			// delay between lookups
			delay: 0,
		});
	}

	enableAutoCompleteUniversity();
	enableAutoCompleteCountry();
</script>