<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>


<div class="form-type-1" style="width: 40%;">	
    <form action="/update/profile/" method="post">
		<h2>Update Your Profile</h2>
			<div class="form-group">
				<label for="email"> <b>Username</b> </label>
				<div class="input-group">
					<input type="text" class="form-control" name="username" value="{{username}}" readonly>
				</div>
			</div>
			<div class="form-group">
				<label for="email"> <b>Full Name</b> </label>
				<div class="input-group">
					<input type="text" id="full_name" class="form-control" name="full_name" value="{{full_name}}">
				</div>
			</div>
        <div class="form-group">
			<label for="email"> <b>Email</b> </label>
			<div class="input-group">
				<input type="email" class="form-control" name="email" value="{{email}}" readonly>
			</div>
        </div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="email"> <b>Codeforces Handle</b> </label>
				<div class="input-group">
					<input type="text" class="form-control" name="codeforces_handle" value={{codeforces_handle}}>
				</div>
			</div>
			<div class="form-group col-md-6">
				<label for="email"> <b>Codechef Handle</b> </label>
				<div class="input-group">
					<input type="text" class="form-control" name="codechef_handle" value={{codechef_handle}}>
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="email"> <b>SPOJ Handle</b> </label>
				<div class="input-group">
					<input type="text" class="form-control" name="spoj_handle" value={{spoj_handle}}>
				</div>
			</div>
			<div class="form-group col-md-6">
				<label for="email"> <b>UVA Handle</b> </label>
				<div class="input-group">
					<input type="text" class="form-control" name="uva_handle" value={{uva_handle}}>
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="email"> <b>Atcoder Handle</b> </label>
				<div class="input-group">
					<input type="text" class="form-control" name="atcoder_handle" value={{atcoder_handle}}>
				</div>
			</div>
			<div class="form-group col-md-6">
				<label for="email"> <b>Lightoj Handle</b> </label>
				<div class="input-group">
					<input type="text" class="form-control" name="lightoj_handle" value={{lightoj_handle}}>
				</div>
			</div>
		</div>
		<div class="form-group">
            <button type="submit" class="btn btn-info btn-block btn-lg">Update</button>
        </div>
	</form>
</div>