<head>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
		<script type = "text/javascript">
         google.charts.load('current', {packages: ['corechart','line']});  
      </script>
</head>

<div class="profile-wrapper-1" style="width: 100%;  margin-right:1px auto;">
    <div class="cfs-title-1">
        <div class="row cfs-title-1-inside">
            {{#if profile-page}}
            <div class="selected-button">
            <a style="color: #0f2436;" href="/profile/{{username}}/" class="btn btn-sm" role="button"><b>{{username}}</b></a>
            </div>
            {{else}}
            <a style="color: #0f2436;" href="/profile/{{username}}/" class="btn btn-sm" role="button"><b>{{username}}</b></a>
            {{/if}}
            {{#if submission-page}}
            <div class="selected-button">
            <a style="color: #0f2436;" href="/user/submissions/{{username}}/" class="btn btn-sm" role="button"><b>Submissions</b></a>
            </div>
            {{else}}
            <a style="color: #0f2436;" href="/user/submissions/{{username}}/" class="btn btn-sm" role="button"><b>Submissions</b></a>
            {{/if}}

            {{#if follower-page}}
            <div class="selected-button">
            <a style="color: #0f2436;" href="/user/followers/{{username}}/" class="btn btn-sm" role="button"><b>Followers</b></a>
            </div>
            {{else}}
            <a style="color: #0f2436;" href="/user/followers/{{username}}/" class="btn btn-sm" role="button"><b>Followers</b></a>
            {{/if}}

            {{#if following-page}}
            <div class="selected-button">
            <a style="color: #0f2436;" href="/user/followings/{{username}}/" class="btn btn-sm" role="button"><b>Followings</b></a>
            </div>
            {{else}}
            <a style="color: #0f2436;" href="/user/followings/{{username}}/" class="btn btn-sm" role="button"><b>Followings</b></a>
            {{/if}}
        </div>
    </div>

	{{#if profile-page}}
	<div style="padding: 30px; padding-left: 50px;">
    <div class="row">
        <div class="col-md-8">
            <div class="post-header">
                <h2 style="color: {{skill_color}};"><b>{{username}}</b></h2>
				<h6>{{full_name}}</h6>
				<br>
				<h6><i style="color:#3d87b9; width: 30px;" class="fas fa-layer-group"></i> <span style="color:{{skill_color}}; font-weight: 600; font-size:25px;">{{skill_title}}</span></h6>
				<h6><i style="color:#3d87b9; width: 30px;" class="fas fa-poll-h"></i> User Rating: <span style="color: rgb(13, 98, 155); font-weight: 500;">{{skill_value}}</span></h6>
				<a href="/user/submissions/{{username}}/" style="color:rgb(13, 98, 155); font-weight: 500;"><h6><i style="color:#3d87b9; width: 30px;" class="fas fa-cheese"></i> Problem Solved: {{solve_count}}</h6></a>
                <a href="/user/followers/{{username}}/" style="color:rgb(13, 98, 155); font-weight: 500;"><h6><i style="color:#3d87b9; width: 30px;" class="fas fa-user-secret"></i> Followers: {{follow_stat.follower_count}}</h6></a>
                <a href="/user/followings/{{username}}/" style="color:rgb(13, 98, 155); font-weight: 500;"><h6><i style="color:#3d87b9; width: 30px;" class="fas fa-user-secret"></i> Following: {{follow_stat.following_count}}</h6></a>
				<h6><i style="color:#3d87b9; width: 30px;" class="fas fa-envelope"></i> Email: {{email}}</h6>
                <h6><i style="color:#3d87b9; width: 30px;" class="fas fa-calendar-week"></i> Registered Since: {{created_at}}</h6>
				
				{{#if own_profile}}
				<h6 style="color: #3d87b9;"><i style="color:#3d87b9; width: 30px;" class="fas fa-lock"></i> <a href="/change/password/">Change Password</a></h6>
				<h6 style="color: #3d87b9;"><i style="color:#3d87b9; width: 30px;" class="fas fa-user-edit"></i> <a href="/update/profile/">Update Profile</a></h6>
				{{/if}}
            </div>
			<br>
			<br>

			<div class="row">
				{{#if following}}
					<div class="col-md-2" style="padding-left: 5px;">
						<a style="border-color: rgb(13, 98, 155); color:rgb(13, 98, 155);" href="/unfollow/{{id}}/" class="btn btn-block"> <span title="Unfollow" class="fas fa-user-friends"></span></a>
					</div>
				{{/if}}
				{{#if unfollowing}}
					<div class="col-md-2" style="padding-left: 5px;">
						<a style="border-color: rgb(145, 156, 160); color:rgb(145, 156, 160);" href="/follow/{{id}}/" class="btn btn-block"><span title="Follow" class="fas fa-user-friends"></span></a>
					</div>
				{{/if}}
				{{#if session.user_id}}
				<div class="col-md-2" style="padding-left: 5px;">
					<a style="border-color: rgb(13, 98, 155); color:rgb(13, 98, 155);" href="/user/sync/{{id}}/" class="btn btn-block"><span title="Sync Profile" class="fas fa-sync"></span></a>
				</div>
				{{/if}}
				{{#if own_profile}}
				<div class="col-md-2" style="padding-left: 5px;">
					<a style="border-color: rgb(13, 98, 155); color:rgb(13, 98, 155);" href="/update/profile/" class="btn btn-block"><span title="Update Profile" class="fas fa-user-edit"></span></a>
				</div>
				{{/if}}
				{{#if session.user_id}}
				<div class="col-md-2" style="padding-left: 5px;">
					<a style="border-color: rgb(13, 98, 155); color:rgb(13, 98, 155);" href="/training/individual/{{username}}/training-plan/" class="btn btn-block"><span title="Training Plan" class="fas fa-tenge"></span></a>
				</div>
				{{/if}}
			</div>
        </div>
        <div class="col-md-4" style="padding: 30px">
			<div class="image-wrapper">
				<img src="/img/profile-8.png" alt="image" height="340" width="280">
			</div>
        </div>
    </div>
	</div>
	{{/if}}

	{{#if submission-page}}
    <div class="cfs-title-2" style="margin-top: 30px;">
        <h5 style="text-align: center; font-size: large;"><b>Problem Submission History</b></h5>
    </div>
    <div class="cfs-table-1">
        <table class="table cfs-table-data" id="problemSubmissionListTable" style="text-align: center;">
            <thead style="background-color: rgb(255, 255, 255);">
                <tr>
                    <td>#</th>
                    <td style="width: 30%;">Problem Name</td>
                    <td>Source Link</th>
                    <td>OJ Name</th>
                    <td>Status</th>
                    <td>Submission Link</td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
	{{/if}}
	

	{{#if follower-page}}
    <div class="cfs-title-2" style="margin-top: 30px;">
        <h5 style="text-align: center; font-size: large;"><b>User Follower List</b></h5>
    </div>
    <div class="cfs-table-1">
        <table class="table cfs-table-data" id="userFollowerTable" style="text-align: center;">
            <thead style="background-color: rgb(255, 255, 255);">
                <tr>
                    <td>#</th>
                    <td>User Handle</td>
                    <td>Skill Value</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>	
	{{/if}}
	

	{{#if following-page}}
    <div class="cfs-title-2" style="margin-top: 30px;">
        <h5 style="text-align: center; font-size: large;"><b>User Following List</b></h5>
    </div>
    <div class="cfs-table-1">
        <table class="table cfs-table-data" id="userFollowingTable" style="text-align: center;">
            <thead style="background-color: rgb(255, 255, 255);">
                <tr>
                    <td>#</th>
                    <td>User Handle</td>
                    <td>Skill Value</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
	{{/if}}


</div>

{{#if profile-page}}
<div class="cfs-table-wrapper-1">
    <div class="cfs-title-1" >
        <h5 style="text-align: center;"><b>CodeFlares Rating History</b></h5>
    </div>
	<div id="rating_chart_skill_value" style="height: 400px; width: 100%;"></div>
</div>


<div class="cfs-table-wrapper-1">
    <div class="cfs-title-1">
        <h5 style="text-align: center;"><b>CodeFlares Solve Count History</b></h5>
    </div>
	<div id="rating_chart_solve_count" style="height: 400px; width: 100%;"></div>
</div>
{{/if}}

<script>

	//------ CodeFlares TEAM RATING HISTORY CHART -------//
	
	function show_rating_history(){
		google.charts.setOnLoadCallback(drawChart);
		function drawChart() {
            var data = new google.visualization.DataTable();

			data.addColumn('date', 'Year');
			data.addColumn('number', "Rating");

			var rating_data_list = []
			{{#each rating_history}}
				var rating_data = []
				rating_data.push(new Date({{date.year}}, {{date.month}}, {{date.day}}));
				rating_data.push({{rating}})
				rating_data_list.push(rating_data)
			{{/each}}
			data.addRows(rating_data_list);
			
            var options = {
               	pointsVisible: true	  
            };
            var chart = new google.visualization.LineChart(document.getElementById('rating_chart_skill_value'));
            chart.draw(data, options);
         }
	}

	function show_solve_count_history(){
		google.charts.load('current', {'packages':['line']});
		google.charts.setOnLoadCallback(drawChart);

		function drawChart() {
			var data = new google.visualization.DataTable();

			data.addColumn('date', 'Year');
			data.addColumn('number', "Solve Count");

			var rating_data_list = []
			{{#each rating_history}}
				var rating_data = []
				rating_data.push(new Date({{date.year}}, {{date.month}}, {{date.day}}));
				rating_data.push({{solve_count}})
				rating_data_list.push(rating_data)
			{{/each}}

			data.addRows(rating_data_list);

            var options = {
               pointsVisible: true	  
            };
            var chart = new google.visualization.LineChart(document.getElementById('rating_chart_solve_count'));
            chart.draw(data, options);
		}
	}
	//------ CodeFlares TEAM RATING HISTORY ENDS -------//

    function getSubmissionList(){
        var dt_list = [];
        {{#each submission_history}}
            var problem_link = `<a href = "/problem/view/{{problem_id}}/" style="color: #3d87b9; font-weight:500; text-decoration: underline;"><b>{{problem_details.problem_name}}</b></a>`
            var source_link = `<a href = {{problem_details.source_link}} style="color: #3d87b9; font-weight:600;"><i class="fas fa-link"></i></a>`
            var submisson_stat = ''
            var cnt = 0;
            {{#each submission_list}}
                if (cnt>0) {
                    submisson_stat += ', '
                }
                submisson_stat += `<a href = "{{submission_link}}" style="color: #3d87b9; font-weight:500; text-decoration: underline;">Code Link</a>`
                cnt += 1
            {{/each}}
            var data = ["{{order}}", problem_link, "{{problem_details.oj_name}}", source_link, 'SOLVED', submisson_stat];
            dt_list.push(data)
        {{/each}}
        return dt_list;
    }

    function showProblemSubmissionTable(){
        var dt_list = getSubmissionList();
        
        $("#problemSubmissionListTable").dataTable({
            "aaData": dt_list,
            paging: true,
            searching: true,
            ordering: false,
            info: true,
            destroy: true,
            scrollCollapse: true,
            responsive: true,
            pageLength: 50,
            lengthMenu: [[10, 20, 50, -1], [10, 20, 50, 100]]
        });
    }

    function getFollowerList(){
        var dt_list = [];
        {{#each follower_list}}
            var user_link = `<a href = "/profile/{{user_handle}}/" style="color: {{skill_color}}; font-weight:500;"><b>{{user_handle}}</b></a>`
            var skill = `<span style="color: {{skill_color}};">{{skill_value}}</span>`
            var data = ["{{order}}", user_link, skill];
            dt_list.push(data)
        {{/each}}
        return dt_list;
    }

    function showFollowerTable(){
        var dt_list = getFollowerList();
        
        $("#userFollowerTable").dataTable({
            "aaData": dt_list,
            paging: true,
            searching: true,
            ordering: false,
            info: false,
            destroy: true,
            scrollCollapse: true,
            responsive: true,
            pageLength: 50,
            lengthMenu: [[10, 20, 50, -1], [10, 20, 50, 100]]
        });
    }

    function getFollowingList(){
        var dt_list = [];
        {{#each following_list}}
            var user_link = `<a href = "/profile/{{user_handle}}/" style="color: {{skill_color}}; font-weight:500;"><b>{{user_handle}}</b></a>`
            var skill = `<span style="color: {{skill_color}};">{{skill_value}}</span>`
            var data = ["{{order}}", user_link, skill];
            dt_list.push(data)
        {{/each}}
        return dt_list;
    }

    function showFollowingTable(){
        var dt_list = getFollowingList();
        
        $("#userFollowingTable").dataTable({
            "aaData": dt_list,
            paging: true,
            searching: true,
            ordering: false,
            info: false,
            destroy: true,
            scrollCollapse: true,
            responsive: true,
            pageLength: 50,
            lengthMenu: [[10, 20, 50, -1], [10, 20, 50, 100]]
        });
    }
	
    $(document).ready( function () {
		{{#if profile-page}}
			show_rating_history();
			show_solve_count_history();
		{{/if}}

		{{#if submission-page}}
			showProblemSubmissionTable();
		{{/if}}

		{{#if follower-page}}
			showFollowerTable();
		{{/if}}

		{{#if following-page}}
			showFollowingTable();
		{{/if}}
    } );
</script>