<head>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/user_profile.css">
</head>


<div class="blog-post-1" style="margin-top: 15px; background-color:#d7ebfa;">
    <div class="row">
        <div class="col-md-8">
            <div class="post-header">
                <h2 style="color: rgb(23, 81, 104);" class="media-heading"><b>{{skill_title}}</b></h2>
                <br>
                <h3><b>{{username}}</b></h3>
				<h5 style="color:darkgreen">User Rating: {{skill_value}} (max rating: {{skill_value}})</h5>
				<h5>Full Name: {{full_name}}</h5>
				<h5>Email: {{email}}</h5>
				<h5>Role: {{user_role}}</h5>
                <h5>Registered Since: <b>{{created_at}}</b></h5>
            </div>
			<br>
			<div class="row" style="text-align: center;">
				<div class="col-md-2 emphasis">
					<h3><strong> {{follow_stat.follower_count}} </strong></h3>                    
					<h6>Followers</h6>
				</div>
				<div class="col-md-2 emphasis">
					<h3><strong> {{follow_stat.following_count}} </strong></h3>                    
					<h6><small>Following</small></h6>
				</div>
				<div class="col-md-2 emphasis">
					<h3><strong> {{solve_count}} </strong></h3>                    
					<h6><small>Problem Solved</small></h6>
				</div>
			</div>
			<br>

			<div class="row" style="text-align: center;">
				{{#if following}}
					<div class="col-md-2 emphasis">
						<a href="/unfollow/{{id}}/" style="background-color: rgb(204, 196, 127);" class="btn btn-block"> <span class="fa fa-minus-circle"></span> Unfollow </a>
					</div>
				{{/if}}
				{{#if unfollowing}}
					<div class="col-md-2 emphasis">
						<a href="/follow/{{id}}/" style="background-color: rgb(124, 189, 115);" class="btn btn-block"><span class="fa fa-plus-circle"></span> Follow </a>
					</div>
				{{/if}}
				<div class="col-md-2 emphasis">
					<a style="background-color: rgb(173, 202, 197);" class="btn btn-block"><span class="fas fa-sync"></span> Sync </a>
				</div>
				<div class="col-md-2 emphasis">
					<a style="background-color: rgb(163, 201, 233);" class="btn btn-block"><span class="fas fa-user-edit"></span> Update </a>
				</div>
			</div>
        </div>
        <div class="col-md-4">
			<div class="image-wrapper">
				<img src="/img/profile.png" alt="image" height="380" width="380">
			</div>
        </div>
    </div>
</div>

<br>

<div class="table-type-1">
    <div class="table-title-2">
        <h3 style="text-align: center;"><b>CodeTrainer Rating History</b></h3>
    </div>
    <br>
	<div id="rating_chart" style="height: 400px; width: 100%;"></div>
</div>

<script>

	//------ CodeTrainer TEAM RATING HISTORY CHART -------//
	function show_rating_history(){
		google.charts.load('current', {'packages':['line']});
		google.charts.setOnLoadCallback(drawChart);

		function drawChart() {
			var data = new google.visualization.DataTable();

			data.addColumn('date', 'Year');
			data.addColumn('number', "Rating");

			var rating_data_list = []
			{{#each rating_history}}
				var rating_data = []
				rating_data.push(new Date({{date.year}}, {{date.month}}, {{date.day}}));
				rating_data.push({{rating}})
				rating_data_list.push(rating_data)
			{{/each}}

			data.addRows(rating_data_list);

			var options = {
				chart: {
					title: ''
				},
			};

		var chart = new google.charts.Line(document.getElementById('rating_chart'));
		chart.draw(data, google.charts.Line.convertOptions(options));
		}
	}
	//------ CodeTrainer TEAM RATING HISTORY ENDS -------//

	show_rating_history();
</script>