<head>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
		<script type = "text/javascript">
         google.charts.load('current', {packages: ['corechart','line']});  
      </script>
</head>

<div class="blog-post-2" style="margin-top: 30px;">
    <div class="row">
        <div class="col-md-8">
            <div class="post-header">
                <h2 style="color: {{skill_color}};"><b>{{username}}</b></h2>
				<h6>{{full_name}}</h6>
				<br>
				<h6><i style="color:#3d87b9; width: 30px;" class="fas fa-layer-group"></i> <span style="color:{{skill_color}}; font-weight: 600; font-size:25px;">{{skill_title}}</span></h6>
				<h6><i style="color:#3d87b9; width: 30px;" class="fas fa-poll-h"></i> User Rating: <span style="color: rgb(13, 98, 155); font-weight: 500;">{{skill_value}}</span></h6>
				<a href="/user/submissions/{{username}}/" style="color:rgb(13, 98, 155); font-weight: 500;"><h6><i style="color:#3d87b9; width: 30px;" class="fas fa-cheese"></i> Problem Solved: {{solve_count}}</h6></a>
                <a href="/user/followers/{{username}}/" style="color:rgb(13, 98, 155); font-weight: 500;"><h6><i style="color:#3d87b9; width: 30px;" class="fas fa-user-secret"></i> Followers: {{follow_stat.follower_count}}</h6></a>
                <a href="/user/followings/{{username}}/" style="color:rgb(13, 98, 155); font-weight: 500;"><h6><i style="color:#3d87b9; width: 30px;" class="fas fa-user-secret"></i> Following: {{follow_stat.following_count}}</h6></a>
				<h6><i style="color:#3d87b9; width: 30px;" class="fas fa-envelope"></i> Email: {{email}}</h6>
                <h6><i style="color:#3d87b9; width: 30px;" class="fas fa-calendar-week"></i> Registered Since: {{created_at}}</h6>
				
				{{#if own_profile}}
				<h6 style="color: #3d87b9;"><i style="color:#3d87b9; width: 30px;" class="fas fa-lock"></i> <a href="/change/password/">Change Password</a></h6>
				<h6 style="color: #3d87b9;"><i style="color:#3d87b9; width: 30px;" class="fas fa-user-edit"></i> <a href="/update/profile/">Update Profile</a></h6>
				{{/if}}
            </div>
			<br>
			<br>

			<div class="row">
				{{#if following}}
					<div class="col-md-2" style="padding-left: 5px;">
						<a style="border-color: rgb(13, 98, 155); color:rgb(13, 98, 155);" href="/unfollow/{{id}}/" class="btn btn-block"> <span title="Unfollow" class="fas fa-user-friends"></span></a>
					</div>
				{{/if}}
				{{#if unfollowing}}
					<div class="col-md-2" style="padding-left: 5px;">
						<a style="border-color: rgb(145, 156, 160); color:rgb(145, 156, 160);" href="/follow/{{id}}/" class="btn btn-block"><span title="Follow" class="fas fa-user-friends"></span></a>
					</div>
				{{/if}}
				{{#if session.user_id}}
				<div class="col-md-2" style="padding-left: 5px;">
					<a style="border-color: rgb(13, 98, 155); color:rgb(13, 98, 155);" href="/user/sync/{{id}}/" class="btn btn-block"><span title="Sync Profile" class="fas fa-sync"></span></a>
				</div>
				{{/if}}
				{{#if own_profile}}
				<div class="col-md-2" style="padding-left: 5px;">
					<a style="border-color: rgb(13, 98, 155); color:rgb(13, 98, 155);" href="/update/profile/" class="btn btn-block"><span title="Update Profile" class="fas fa-user-edit"></span></a>
				</div>
				{{/if}}
				{{#if session.user_id}}
				<div class="col-md-2" style="padding-left: 5px;">
					<a style="border-color: rgb(13, 98, 155); color:rgb(13, 98, 155);" href="/training/individual/{{username}}/training-plan/" class="btn btn-block"><span title="Training Plan" class="fas fa-tenge"></span></a>
				</div>
				{{/if}}
			</div>
        </div>
        <div class="col-md-4" style="padding: 30px">
			<div class="image-wrapper">
				<img src="/img/profile-8.png" alt="image" height="340" width="280">
			</div>
        </div>
    </div>
</div>

<div class="cfs-table-wrapper-1">
    <div class="cfs-title-1" >
        <h5 style="text-align: center;"><b>CodeFlares Rating History</b></h5>
    </div>
	<div id="rating_chart_skill_value" style="height: 400px; width: 100%;"></div>
</div>


<div class="cfs-table-wrapper-1">
    <div class="cfs-title-1">
        <h5 style="text-align: center;"><b>CodeFlares Solve Count History</b></h5>
    </div>
	<div id="rating_chart_solve_count" style="height: 400px; width: 100%;"></div>
</div>

<script>

	//------ CodeFlares TEAM RATING HISTORY CHART -------//
	
	function show_rating_history(){
		google.charts.setOnLoadCallback(drawChart);
		function drawChart() {
            var data = new google.visualization.DataTable();

			data.addColumn('date', 'Year');
			data.addColumn('number', "Rating");

			var rating_data_list = []
			{{#each rating_history}}
				var rating_data = []
				rating_data.push(new Date({{date.year}}, {{date.month}}, {{date.day}}));
				rating_data.push({{rating}})
				rating_data_list.push(rating_data)
			{{/each}}
			data.addRows(rating_data_list);
			
            var options = {
               	pointsVisible: true	  
            };
            var chart = new google.visualization.LineChart(document.getElementById('rating_chart_skill_value'));
            chart.draw(data, options);
         }
	}

	function show_solve_count_history(){
		google.charts.load('current', {'packages':['line']});
		google.charts.setOnLoadCallback(drawChart);

		function drawChart() {
			var data = new google.visualization.DataTable();

			data.addColumn('date', 'Year');
			data.addColumn('number', "Solve Count");

			var rating_data_list = []
			{{#each rating_history}}
				var rating_data = []
				rating_data.push(new Date({{date.year}}, {{date.month}}, {{date.day}}));
				rating_data.push({{solve_count}})
				rating_data_list.push(rating_data)
			{{/each}}

			data.addRows(rating_data_list);

            var options = {
               pointsVisible: true	  
            };
            var chart = new google.visualization.LineChart(document.getElementById('rating_chart_solve_count'));
            chart.draw(data, options);
		}
	}
	//------ CodeFlares TEAM RATING HISTORY ENDS -------//

	show_rating_history();
	show_solve_count_history();
</script>