<head>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/user_profile.css">
</head>

<div class="profile-top">
	<div class="row profile-section">

		<div class="col-md-7">

			<div class="row">
				<div class="col-md-7">
					<h3 style="color:coral;">{{title}}</h3>
					<h2>{{username}}</h2>
					<h5 style="color:darkgreen">User Rating: {{rating}} (max rating {{max_rating}})</h5>
					<h5>Full Name: {{full_name}}</h5>
					<h5>Email: {{email}}</h5>
					<h5>Role: {{user_role}}</h5>
				</div>
			</div>

			<br>

			<div class="row">
				<div class="col-md-2 emphasis">
					<h3><strong> {{follower}} </strong></h3>                    
					<h6>Followers</h6>
				</div>
				<div class="col-md-2 emphasis">
					<h3><strong> {{following}} </strong></h3>                    
					<h6><small>Following</small></h6>
				</div>
				<div class="col-md-3 emphasis">
					<h3><strong> {{solve_count}} </strong></h3>                    
					<h6><small>Problem Solved</small></h6>
				</div>
			</div>

			<br>

			<div class="row">
				<div class="col-md-3 emphasis">
					<button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Follow </button>
				</div>
				<div class="col-md-4 emphasis">
					<button class="btn btn-info btn-block"><span class="fas fa-envelope"></span> Send Message </button>
				</div>
			</div>
		</div>

		<div class="col-md-5">
			<div class="image-wrapper">
				<img src="/img/profile.png" alt="image" height="380" width="380">
			</div>
		</div>

	</div>

	<br>
	<br>
	<br>
	<br>

	<div class="below-section">
        <div class="table-title-2">
            <h4 style="text-align: center;"><b>CodeTrainer Rating History</b></h4>
        </div>
		<div id="rating_chart" style="width: 100%; height: 500px"></div>
	</div>

</div>

<script>

	//------ CodeTrainer TEAM RATING HISTORY CHART -------//
	function show_rating_history(){
		google.charts.load('current', {'packages':['line']});
		google.charts.setOnLoadCallback(drawChart);

		function drawChart() {
			var data = new google.visualization.DataTable();

			data.addColumn('date', 'Year');
			data.addColumn('number', "Rating");

			var rating_data_list = []
			{{#each rating_history}}
				var rating_data = []
				rating_data.push(new Date({{date.year}}, {{date.month}}, {{date.day}}));
				rating_data.push({{rating}})
				rating_data_list.push(rating_data)
			{{/each}}

			data.addRows(rating_data_list);

			var options = {
				chart: {
					title: ''
				},
			};

		var chart = new google.charts.Line(document.getElementById('rating_chart'));
		chart.draw(data, google.charts.Line.convertOptions(options));
		}
	}
	//------ CodeTrainer TEAM RATING HISTORY ENDS -------//

	show_rating_history();
</script>