<head>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/user_profile.css">
</head>


<div class="blog-post-1" style="margin-top: 15px;">
    <div class="row">
        <div class="col-md-8">
            <div class="post-header">
                <h2 style="color: rgb(16, 133, 148);" class="media-heading"><b>{{skill_title}}</b></h2>
                <h3 style="color: rgb(199, 196, 42);"><b>{{username}}</b></h3>
				<h5>User Rating: <span style="color:rgb(3, 164, 182); font-weight: 800;">{{skill_value}}</span></h5>
				<h5>Problem Solved: <span style="color:rgb(13, 98, 155); font-weight: 800;">{{solve_count}}</span></h5>
                <h5>Followers: <span style="color:rgb(110, 134, 64); font-weight: 800;">{{follow_stat.follower_count}}</span></h5>
                <h5>Following: <span style="color:rgb(110, 134, 64); font-weight: 800;">{{follow_stat.following_count}}</span></h5>
				<h5>Full Name: {{full_name}}</h5>
				<h5>Email: {{email}}</h5>
                <h5>Registered Since: {{created_at}}</h5>
            </div>
			<br>

			<div class="row" style="text-align: center; padding: 10px;">
				{{#if following}}
					<div class="col-md-2">
						<a href="/unfollow/{{id}}/" style="background-color: rgb(218, 223, 228); color:rgb(68, 169, 219);" class="btn btn-block"> <span title="Unfollow" class="fas fa-user-friends"></span></a>
					</div>
				{{/if}}
				{{#if unfollowing}}
					<div class="col-md-2">
						<a href="/follow/{{id}}/" style="background-color: rgb(218, 223, 228); color:rgb(145, 156, 160);" class="btn btn-block"><span title="Follow" class="fas fa-user-friends"></span></a>
					</div>
				{{/if}}
				{{#if session.user_id}}
				<div class="col-md-2">
					<a href="/user/sync/{{id}}/" style="background-color: rgb(218, 223, 228);  color:rgb(39, 124, 150);" class="btn btn-block"><span title="Sync Profile" class="fas fa-sync"></span></a>
				</div>
				{{/if}}
				{{#if own_profile}}
				<div class="col-md-2">
					<a href="/update/profile/" style="background-color: rgb(218, 223, 228);  color:rgb(62, 100, 53);" class="btn btn-block"><span title="Update Profile" class="fas fa-user-edit"></span></a>
				</div>
				{{/if}}
				<div class="col-md-2">
					<a href="/training/individual/{{username}}/training-plan/" style="background-color: rgb(218, 223, 228);  color:rgb(53, 93, 100);" class="btn btn-block"><span title="Training Plan" class="fas fa-tenge"></span></a>
				</div>
			</div>
        </div>
        <div class="col-md-4">
			<br>
			<br>
			<br>
			<br>
			<div class="image-wrapper">
				<img src="/img/profile.png" alt="image" height="200" width="200">
			</div>
        </div>
    </div>
</div>

<br>

<div class="table-type-1">
    <div class="table-title-2">
        <h6 style="text-align: center;"><b>CodeFlares Rating History</b></h6>
    </div>
    <br>
	<div id="rating_chart_skill_value" style="height: 400px; width: 100%;"></div>
</div>

<br>

<div class="table-type-1">
    <div class="table-title-2">
        <h6 style="text-align: center;"><b>CodeFlares Solve Count History</b></h6>
    </div>
    <br>
	<div id="rating_chart_solve_count" style="height: 400px; width: 100%;"></div>
</div>


<script>

	//------ CodeFlares TEAM RATING HISTORY CHART -------//
	function show_rating_history(){
		google.charts.load('current', {'packages':['line']});
		google.charts.setOnLoadCallback(drawChart);

		function drawChart() {
			var data = new google.visualization.DataTable();

			data.addColumn('date', 'Year');
			data.addColumn('number', "Rating");

			var rating_data_list = []
			{{#each rating_history}}
				var rating_data = []
				rating_data.push(new Date({{date.year}}, {{date.month}}, {{date.day}}));
				rating_data.push({{rating}})
				rating_data_list.push(rating_data)
			{{/each}}

			data.addRows(rating_data_list);

			var options = {
				chart: {
					title: ''
				}
			};

		var chart = new google.charts.Line(document.getElementById('rating_chart_skill_value'));
		chart.draw(data, google.charts.Line.convertOptions(options));
		}
	}

	function show_solve_count_history(){
		google.charts.load('current', {'packages':['line']});
		google.charts.setOnLoadCallback(drawChart);

		function drawChart() {
			var data = new google.visualization.DataTable();

			data.addColumn('date', 'Year');
			data.addColumn('number', "Solve Count");

			var rating_data_list = []
			{{#each rating_history}}
				var rating_data = []
				rating_data.push(new Date({{date.year}}, {{date.month}}, {{date.day}}));
				rating_data.push({{solve_count}})
				rating_data_list.push(rating_data)
			{{/each}}

			data.addRows(rating_data_list);

			var options = {
				chart: {
					title: ''
				},
			};

		var chart = new google.charts.Line(document.getElementById('rating_chart_solve_count'));
		chart.draw(data, google.charts.Line.convertOptions(options));
		}
	}
	//------ CodeFlares TEAM RATING HISTORY ENDS -------//

	show_rating_history();
	show_solve_count_history();
</script>