<head>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
		<script type = "text/javascript">
         google.charts.load('current', {packages: ['corechart','line']});  
      </script>
</head>


<div class="profile-wrapper-1" style="width: 100%;  margin-right:1px auto;">
    <div class="cfs-title-1">
        <div class="row cfs-title-1-inside">
            {{#if profile-page}}
            <div class="selected-button">
            <a style="color: #0f2436;" href="/profile/{{username}}/" class="btn btn-sm" role="button"><b>{{username}}</b></a>
            </div>
            {{else}}
            <a style="color: #0f2436;" href="/profile/{{username}}/" class="btn btn-sm" role="button"><b>{{username}}</b></a>
            {{/if}}
            {{#if submission-page}}
            <div class="selected-button">
            <a style="color: #0f2436;" href="/user/submissions/{{username}}/" class="btn btn-sm" role="button"><b>Submissions</b></a>
            </div>
            {{else}}
            <a style="color: #0f2436;" href="/user/submissions/{{username}}/" class="btn btn-sm" role="button"><b>Submissions</b></a>
            {{/if}}
            {{#if view-teams-page}}
            <div class="selected-button">
            <a style="color: #0f2436;" href="/team/list/{{username}}/" class="btn btn-sm" role="button"><b>Teams</b></a>
            </div>
            {{else}}
            <a style="color: #0f2436;" href="/team/list/{{username}}/" class="btn btn-sm" role="button"><b>Teams</b></a>
            {{/if}}

            {{#if follower-page}}
            <div class="selected-button">
            <a style="color: #0f2436;" href="/user/followers/{{username}}/" class="btn btn-sm" role="button"><b>Followers</b></a>
            </div>
            {{else}}
            <a style="color: #0f2436;" href="/user/followers/{{username}}/" class="btn btn-sm" role="button"><b>Followers</b></a>
            {{/if}}

            {{#if following-page}}
            <div class="selected-button">
            <a style="color: #0f2436;" href="/user/followings/{{username}}/" class="btn btn-sm" role="button"><b>Followings</b></a>
            </div>
            {{else}}
            <a style="color: #0f2436;" href="/user/followings/{{username}}/" class="btn btn-sm" role="button"><b>Followings</b></a>
            {{/if}}
        </div>
    </div>

	{{#if profile-page}}
	<div style="padding: 30px; padding-left: 50px;">
    <div class="row">
        <div class="col-md-8">
            <div class="post-header">
                <h2 style="color: {{skill_color}};"><b>{{username}}</b></h2>
				<h6>{{full_name}}</h6>
				<br>
				<h6><i style="color:#3d87b9; width: 30px;" class="fas fa-layer-group"></i> <span style="color:{{skill_color}}; font-weight: 600; font-size:25px;">{{skill_title}}</span></h6>
				<h6><i style="color:#3d87b9; width: 30px;" class="fas fa-poll-h"></i> User Rating: <span style="color: rgb(13, 98, 155); font-weight: 500;">{{skill_value}}</span></h6>
				<a href="/user/submissions/{{username}}/" style="color:rgb(13, 98, 155); font-weight: 500;"><h6><i style="color:#3d87b9; width: 30px;" class="fas fa-cheese"></i> Problem Solved: {{solve_count}}</h6></a>
                <a href="/user/followers/{{username}}/" style="color:rgb(13, 98, 155); font-weight: 500;"><h6><i style="color:#3d87b9; width: 30px;" class="fas fa-user-secret"></i> Followers: {{follow_stat.follower_count}}</h6></a>
                <a href="/user/followings/{{username}}/" style="color:rgb(13, 98, 155); font-weight: 500;"><h6><i style="color:#3d87b9; width: 30px;" class="fas fa-user-secret"></i> Following: {{follow_stat.following_count}}</h6></a>
				<h6><i style="color:#3d87b9; width: 30px;" class="fas fa-envelope"></i> Email: {{email}}</h6>
                <h6><i style="color:#3d87b9; width: 30px;" class="fas fa-flag"></i> Country: {{country}}</h6>
                <h6><i style="color:#3d87b9; width: 30px;" class="fas fa-university"></i> Institution Name: {{university}}</h6>
                <h6><i style="color:#3d87b9; width: 30px;" class="fas fa-calendar-week"></i> Registered Since: {{created_at}}</h6>
				
				{{#if own_profile}}
				<h6 style="color: #3d87b9;"><i style="color:#3d87b9; width: 30px;" class="fas fa-lock"></i> <a href="/change/password/">Change Password</a></h6>
				<h6 style="color: #3d87b9;"><i style="color:#3d87b9; width: 30px;" class="fas fa-user-edit"></i> <a href="/update/profile/">Update Profile</a></h6>
				{{/if}}
            </div>
			<br>
			<br>

			<div class="row">
				{{#if following}}
					<div class="col-md-2" style="padding-left: 5px;">
						<a style="border-color: rgb(13, 98, 155); color:rgb(13, 98, 155);" href="/unfollow/{{id}}/" class="btn btn-block"> <span title="Unfollow" class="fas fa-user-friends"></span></a>
					</div>
				{{/if}}
				{{#if unfollowing}}
					<div class="col-md-2" style="padding-left: 5px;">
						<a style="border-color: rgb(145, 156, 160); color:rgb(145, 156, 160);" href="/follow/{{id}}/" class="btn btn-block"><span title="Follow" class="fas fa-user-friends"></span></a>
					</div>
				{{/if}}
				{{#if session.user_id}}
				<div class="col-md-2" style="padding-left: 5px;">
					<a style="border-color: rgb(13, 98, 155); color:rgb(13, 98, 155);" href="/user/sync/{{id}}/" class="btn btn-block"><span title="Sync Profile" class="fas fa-sync"></span></a>
				</div>
				{{/if}}
				{{#if own_profile}}
				<div class="col-md-2" style="padding-left: 5px;">
					<a style="border-color: rgb(13, 98, 155); color:rgb(13, 98, 155);" href="/update/profile/" class="btn btn-block"><span title="Update Profile" class="fas fa-user-edit"></span></a>
				</div>
				{{/if}}
				{{#if session.user_id}}
				<div class="col-md-2" style="padding-left: 5px;">
					<a style="border-color: rgb(13, 98, 155); color:rgb(13, 98, 155);" href="/training/individual/{{username}}/training-plan/" class="btn btn-block"><span title="Training Plan" class="fas fa-tenge"></span></a>
				</div>
				{{/if}}
			</div>
        </div>
        <div class="col-md-4" style="padding: 30px">
			<div class="image-wrapper">
				<img src="/img/profile-8.png" alt="image" height="340" width="280">
			</div>
        </div>
    </div>
	</div>
	{{/if}}

	{{#if submission-page}}
    <div class="cfs-title-2" style="margin-top: 30px;">
        <h5 style="text-align: center; font-size: large;"><b>Problem Submission History</b></h5>
    </div>
    <div class="cfs-table-1">
        <table class="table cfs-table-data" id="problemSubmissionListTable" style="text-align: center;">
            <thead style="background-color: rgb(255, 255, 255);">
                <tr>
                    <td>#</th>
                    <td style="width: 30%;">Problem Name</td>
                    <td>OJ Name</th>
                    <td>Source Link</th>
                    <td>Status</th>
                    <td>Submission Link</td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
	{{/if}}
	

	{{#if follower-page}}
    <div class="cfs-title-2" style="margin-top: 30px;">
        <h5 style="text-align: center; font-size: large;"><b>User Follower List</b></h5>
    </div>
    <div class="cfs-table-1">
        <table class="table cfs-table-data" id="userFollowerTable" style="text-align: center;">
            <thead style="background-color: rgb(255, 255, 255);">
                <tr>
                    <td>#</th>
                    <td>User Handle</td>
                    <td>Skill Value</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>	
	{{/if}}
	

	{{#if following-page}}
    <div class="cfs-title-2" style="margin-top: 30px;">
        <h5 style="text-align: center; font-size: large;"><b>User Following List</b></h5>
    </div>
    <div class="cfs-table-1">
        <table class="table cfs-table-data" id="userFollowingTable" style="text-align: center;">
            <thead style="background-color: rgb(255, 255, 255);">
                <tr>
                    <td>#</th>
                    <td>User Handle</td>
                    <td>Skill Value</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
	{{/if}}

    {{#if view-teams-page}}

    <div class="cfs-title-2" style="margin-top: 30px;">
        <h5 style="text-align: center; font-size: large;"><b>User Team List</b></h5>
    </div>
    <div class="cfs-table-1">
        {{#if team_list}}
        <table id="teamListTable" class="table top-list-table">
            <thead>
                <tr style="display: none;">
                    <th>Team Name</th>
                    <th>Purpose</th>
                    <th>Institution</th>
                    <th>Members</th>
                    <th>Training</th>
                    <th>Contests</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        {{else}}
            <h6 style="text-align: center; padding: 20px;">No team is available to view right now.</h6>
        {{/if}}
    </div>
    {{/if}}
</div>

{{#if profile-page}}
<div class="cfs-table-wrapper-1">
    <div class="cfs-title-1" >
        <h5 style="text-align: center;"><b>CodeFlares Rating History</b></h5>
    </div>
	<div id="rating_chart_skill_value" style="height: 400px; width: 100%;"></div>
</div>


<div class="cfs-table-wrapper-1">
    <div class="cfs-title-1">
        <h5 style="text-align: center;"><b>CodeFlares Solve Count History</b></h5>
    </div>
	<div id="rating_chart_solve_count" style="height: 400px; width: 100%;"></div>
</div>
{{/if}}

<script>

	//------ CodeFlares TEAM RATING HISTORY CHART -------//
	
	function show_rating_history(){
		google.charts.setOnLoadCallback(drawChart);
		function drawChart() {
            var data = new google.visualization.DataTable();

			data.addColumn('date', 'Year');
			data.addColumn('number', "Rating");

			var rating_data_list = []
			{{#each rating_history}}
				var rating_data = []
				rating_data.push(new Date({{date.year}}, {{date.month}}, {{date.day}}));
				rating_data.push({{rating}})
				rating_data_list.push(rating_data)
			{{/each}}
			data.addRows(rating_data_list);
			
            var options = {
               	pointsVisible: true	  
            };
            var chart = new google.visualization.LineChart(document.getElementById('rating_chart_skill_value'));
            chart.draw(data, options);
         }
	}

	function show_solve_count_history(){
		google.charts.load('current', {'packages':['line']});
		google.charts.setOnLoadCallback(drawChart);

		function drawChart() {
			var data = new google.visualization.DataTable();

			data.addColumn('date', 'Year');
			data.addColumn('number', "Solve Count");

			var rating_data_list = []
			{{#each rating_history}}
				var rating_data = []
				rating_data.push(new Date({{date.year}}, {{date.month}}, {{date.day}}));
				rating_data.push({{solve_count}})
				rating_data_list.push(rating_data)
			{{/each}}

			data.addRows(rating_data_list);

            var options = {
               pointsVisible: true	  
            };
            var chart = new google.visualization.LineChart(document.getElementById('rating_chart_solve_count'));
            chart.draw(data, options);
		}
	}
	//------ CodeFlares TEAM RATING HISTORY ENDS -------//

    function getSubmissionListOld(){
        var dt_list = [];
        {{#each submission_history}}
            var problem_link = `<a href = "/problem/view/{{problem_id}}/" style="color: #3d87b9; font-weight:500; text-decoration: underline;"><b>{{problem_details.problem_name}}</b></a>`
            var source_link = `<a href = {{problem_details.source_link}} style="color: #3d87b9; font-weight:600;"><i class="fas fa-link"></i></a>`
            var submisson_stat = ''
            var cnt = 0;
            {{#each submission_list}}
                if (cnt>0) {
                    submisson_stat += ', '
                }
                submisson_stat += `<a href = "{{submission_link}}" style="color: #3d87b9; font-weight:500; text-decoration: underline;">Code Link</a>`
                cnt += 1
            {{/each}}
            var data = ["{{order}}", problem_link, "{{problem_details.oj_name}}", source_link, 'SOLVED', submisson_stat];
            dt_list.push(data)
        {{/each}}
        return dt_list;
    }

    function getSubmissionList(submission_data){
        console.log('getSubmissionList called')
        console.log(submission_data)
        var sub_list = submission_data.submission_history
        var dt_list = [];
        var idx = 0
        for(idx = 0;idx<sub_list.length;idx++){
            var order = sub_list[idx].order
            var problem_name = sub_list[idx].problem_details.problem_name
            var oj_name = sub_list[idx].problem_details.oj_name
            var source_link = sub_list[idx].problem_details.source_link
            var problem_id = sub_list[idx].problem_id
            var problem_link = `<a href = "/problem/view/${problem_id}/" style="color: #3d87b9; font-weight:500; text-decoration: underline;"><b>${problem_name}</b></a>`
            var source_link = `<a href = "${source_link}" style="color: #3d87b9; font-weight:600;"><i class="fas fa-link"></i></a>`
            var submisson_stat = ''
            var cnt = 0;
            for(cnt = 0;cnt<sub_list[idx].submission_list.length;cnt++){
                if (cnt>0) {
                    submisson_stat += ', '
                }
                var submission_link = sub_list[idx].submission_list[cnt].submission_link
                submisson_stat += `<a href = "${submission_link}" style="color: #3d87b9; font-weight:500; text-decoration: underline;">Code Link</a>`
                cnt += 1
            }
            var data = [order, problem_link, oj_name, source_link, 'SOLVED', submisson_stat];
            dt_list.push(data)
        }
        return dt_list;
    }

    function showProblemSubmissionTable(){
        $("#problemSubmissionListTable").dataTable({
            ordering: false,
            "pageLength": 20,
            destroy: true,
            ordering: false,
            serverSide: true,
            lengthMenu: [[10, 20, 50, 100], [10, 20, 50, 100]],
            ajax: {
                url: config.server_host + 'user/submission/' + '{{id}}',
                type: 'POST',
                "contentType": "application/json",
                "data": function ( d ) {
                    var ajax_body = JSON.stringify( d );
                    var ajax_json = JSON.parse(ajax_body)
                    return JSON.stringify(ajax_json)
                },
                "dataSrc": function ( data ) {
                    console.log('response received')
                    console.log(data)
                    return getSubmissionList(data.data);
                }
            }
        });
    }

    function getFollowerList(){
        var dt_list = [];
        {{#each follower_list}}
            var user_link = `<a href = "/profile/{{user_handle}}/" style="color: {{skill_color}}; font-weight:500;"><b>{{user_handle}}</b></a>`
            var skill = `<span style="color: {{skill_color}};">{{skill_value}}</span>`
            var data = ["{{order}}", user_link, skill];
            dt_list.push(data)
        {{/each}}
        return dt_list;
    }

    function showFollowerTable(){
        var dt_list = getFollowerList();
        
        $("#userFollowerTable").dataTable({
            "aaData": dt_list,
            paging: true,
            searching: true,
            ordering: false,
            info: false,
            destroy: true,
            scrollCollapse: true,
            responsive: true,
            pageLength: 50,
            lengthMenu: [[10, 20, 50, -1], [10, 20, 50, 100]]
        });
    }

    function getFollowingList(){
        var dt_list = [];
        {{#each following_list}}
            var user_link = `<a href = "/profile/{{user_handle}}/" style="color: {{skill_color}}; font-weight:500;"><b>{{user_handle}}</b></a>`
            var skill = `<span style="color: {{skill_color}};">{{skill_value}}</span>`
            var data = ["{{order}}", user_link, skill];
            dt_list.push(data)
        {{/each}}
        return dt_list;
    }

    function showFollowingTable(){
        var dt_list = getFollowingList();
        
        $("#userFollowingTable").dataTable({
            "aaData": dt_list,
            paging: true,
            searching: true,
            ordering: false,
            info: false,
            destroy: true,
            scrollCollapse: true,
            responsive: true,
            pageLength: 50,
            lengthMenu: [[10, 20, 50, -1], [10, 20, 50, 100]]
        });
    }

    function getTeamList(){
        var current_user = "{{logged_in_user_id}}"
        var current_username = "{{session.username}}"
        var username = "{{username}}"
        console.log("current_user")
        console.log(current_user)

        var db_team_list = [];

        {{#each team_list}}
            console.log("{{team_name}}")
            var team_name = "{{team_name}}"
            var member_list_items = "";
            var mem_count = 0;
            var my_status = "{{status}}"
            console.log('my_status: ' + my_status)
            {{#each member_list}}
                if(mem_count>0) member_list_items += ",  ";
                member_list_items += '<a href = "/profile/{{user_handle}}/" style="color: {{skill_color}}; font-weight:700;">{{user_handle}} ({{status}})</a>'
                mem_count += 1
            {{/each}}

            var team_link = "{{team_name}}"
            if (my_status == "confirmed"){
                team_link = '<a href = "/team/view/{{id}}/" style="color: {{skill_color}}; font-weight:700;">{{team_name}}</a>'
            }
            var action_link = ""
            

            if(username == current_username){
                action_link = '<div class = "display: flex; align-items: center; justify-content: center;">'
                if(my_status != "confirmed"){
                    action_link += '<a href="/team/confirm/{{id}}/" title="Confirm" data-toggle="tooltip" style="color: #5bc0de;"><i class="fas fa-check-circle"></i></a>'
                    action_link += "  "
                    action_link += '<a href="/team/reject/{{id}}/" title="Reject" data-toggle="tooltip" style="color: rgb(180, 88, 1);"><i class="fas fa-times-circle"></i></a>'
                }else{
                    var team_lead = "{{team_leader_id}}"
                    console.log("team_lead")
                    console.log(team_lead)
                    if(current_user == team_lead){
                        action_link += '<a href="/team/delete/{{id}}/" title="Delete" data-toggle="tooltip" style="color: rgb(180, 88, 1);"><i class="fas fa-trash"></i></a>'
                    }else{
                        action_link += '<a href="/team/reject/{{id}}/" title="Remove" data-toggle="tooltip" style="color: rgb(180, 88, 1);"><i class="fas fa-minus-circle"></i></a>'
                    }
                }
                action_link += "</div>"
            }


            var training_link = 'Training'
            var contest_link = 'Contests'

            if (my_status == "confirmed"){
                training_link = `<a class="btn btn-sm btn-light" href="/training/team/{{id}}/training-plan/" role="button">Training Plan</a>`
                contest_link = `<a class="btn btn-sm btn-light" href="/training/team/{{id}}/contest/" role="button">Training Contests</a>`
            }

            var team_data = [team_link, "{{team_purpose}}", "{{institution_name}}", member_list_items, training_link, contest_link, action_link];
            db_team_list.push(team_data)
        {{/each}}

        return db_team_list;
    }

    function showTeamsDTSearchTable(){
        var dt_list = getTeamList();
        
        $("#teamListTable").dataTable({
            "aaData": dt_list,
            paging: false,
            searching: false,
            ordering: false,
            info: false,
            destroy: true,
            scrollCollapse: true,
            responsive: true,
            pageLength: 10,
            lengthMenu: [[3, 5, 10, -1], [3, 5, 10, 20]]
        });
    }
	
    $(document).ready( function () {
		{{#if profile-page}}
			show_rating_history();
			show_solve_count_history();
		{{/if}}

		{{#if submission-page}}
			showProblemSubmissionTable();
		{{/if}}

		{{#if follower-page}}
			showFollowerTable();
		{{/if}}

		{{#if following-page}}
			showFollowingTable();
		{{/if}}

		{{#if view-teams-page}}
			showTeamsDTSearchTable();
		{{/if}}
    } );
</script>