<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/individual_training.css">
</head>

<div class="show-contest">
    <div class="problem-set-table">
        <div class="table-title">
            <h6 style="text-align: center;"><b>Problem Set</b></h6>
        </div>
        <div class="table-title-2" style="border: 1px solid #d4d4d4; padding: 10px;">
		    <div class="row">
                <div class="col-md-1" style="margin-right: 20px;">
                    <a href="/contest/view/{{id}}/" class="btn btn-light" role="button">Problems</a>
                </div>
                <div class="col-md-1">
                    <a href="/contest/standings/{{id}}/" class="btn btn-light" role="button">Standings</a>
                </div>
                <div class="col-md-10">
                </div>
            </div>
        </div>
        <br>
        <br>

    <ul style="width: 97%;">
        {{#each problem_set}}
            <a href="/">
            <li class="problem-row">
                <div class="row">
                    <div class="col-md-4" style="padding-top: 10px;">
                        <a href = "/problem/view/{{id}}/" style="color: #058876; font-weight:500; text-decoration: underline;">{{problem_order}}. {{problem_name}}</a>
                        
                    </div>
                    <div class="col-md-3" style="padding-top: 10px;">
                        <h6>{{oj_name}}</h6>
                    </div>
                    <div class="col-md-3" style="padding-top: 10px;">
                        <h6>{{problem_id}}</h6>
                    </div>
                    <div class="col-md-2">
                        <div class = "display: flex; align-items: center; justify-content: center;">
                            <a href="{{source_link}}" class="btn btn-light" role="button">Solve Problem</a>
                        </div>
                    </div>
                </div>
            </li>
            </a>
            <br>
        {{/each}}
    </ul>
        <br>
        <h6 style="text-align: center; font-size:small;">Contest Set by <a href="/profile/{{user_handle}}/" style="color: {{user_skill_color}};">{{setter_handle}}</a>, from <span style="color: rgb(73, 141, 185);">{{start_date}}</span> to <span style="color: rgb(73, 141, 185);">{{end_date}}</span></h6>
    </div>
</div>


<script type="text/javascript">

    function getProblemList(){
        var data_list = [];
        {{#each problem_set}}
            var prbolem_link = '<a href = "/problem/view/{{id}}/" style="color: #058876; font-weight:500; text-decoration: underline;">{{problem_name}}</a>'
            var source_link = '<a href = {{source_link}} style="color: #058876; font-weight:500; text-decoration: underline;"><i class="fas fa-link"></i></a>'
            var solve_count = `<span style="color: #05578E;">{{solve_count}}</span>`
            var data = ["{{problem_order}}", prbolem_link, source_link, "{{problem_id}}", "{{oj_name}}", solve_count];
            data_list.push(data)
        {{/each}}
        return data_list;
    }

    function showProblemsDTSearchTable(){
        var dt_list = getProblemList();
        
        $("#problemListTable").dataTable({
            "aaData": dt_list,
            paging: false,
            searching: false,
            ordering: false,
            info: false,
            destroy: true,
            scrollCollapse: true,
            responsive: true,
            pageLength: 10,
            lengthMenu: [[3, 5, 10, -1], [3, 5, 10, 20]]
        });
    }

    $(document).ready( function () {
        showProblemsDTSearchTable();
    } );

</script>
