<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<div class="cfs-table-wrapper-1"  style="margin-top: 15px;">
    <div class="cfs-title-1">
        <h6 style="text-align: center;"><b>Public Blogs</b></h6>
    </div>
    <br>
    <div class="blogs">
    </div>
</div>


<script type="text/javascript">

    function viewBlogInBlogs(){
        {{#each blog_list}}
            var html = `
                <div class="blog-post-1">
                <div class="post-header">
                    <a href="/blog/post/view/{{blog_id}}/"><h2 style="color: rgb(23, 81, 104);" class="media-heading"><b>{{blog_title}}</b></h2></a>
                </div>
                <div class="post-sub-header">
                    <p class="text-left"> <b><span style="color: rgb(214, 193, 7); padding-right:3px;">{{blog_writer_handle}}</span>, <span style="color: #95989B; padding-left:7px;"> {{updated_at}}</span></b></p>
                </div>
                <div class="post-body">
                    <p> {{showdown_helper blog_text}} </p>
                </div>
                <div class="post-read-more">
                    <a href="/blog/post/view/{{blog_id}}/"><p style="color: rgb(23, 81, 104);" class="media-heading"><b>READ MORE <i style="height: 11px;" class="fas fa-angle-double-right"></i></b></p></a>
                </div>
                <div class="post-footer">
                    <p class="text-left"> Blog Topic : <b><span style="color: rgb(123, 137, 150); padding-right:3px;">{{blog_topic}}</span></b></p>
                </div>
                <hr>
                <div class="row post-foter">
                    <div class="col-md-10">
                        <a href="/vote/blog/like/{{blog_id}}/"><span style="padding-right: 20px; color: rgb(31, 192, 57);"><i class="fas fa-thumbs-up"></i> {{vote_count.like_count}}</span></a>
                        <a href="/vote/blog/dislike/{{blog_id}}/"><span style="color: rgb(209, 84, 0);"><i class="fas fa-thumbs-down"></i> {{vote_count.dislike_count}}</span></a>
                    </div>
                    <div class="col-md-2">
                        <a href="/blog/post/view/{{blog_id}}/"><span style="color: rgb(19, 87, 104);"><i class="fas fa-comment"></i> {{comment_count}} Comments</span></a>
                    </div>
                </div>
            </div>
            <br>
            `
            $(".blogs").append(html);
        {{/each}}
    }

    $(document).ready( function () {
        viewBlogInBlogs();
    } );

</script>
