<head>
	<link rel="stylesheet" type="text/css" href="/css/view-problem.css">
</head>

<div class="row">

<div class="view-form-table-1" style="width: 100%;">
    <div class="table-title-2">
        <h2 style="text-align: center;"><b>Category Database</b></h2>
        <hr class="thin">
    </div>
    <br>
       <form name="form form-type-1" action="/category/list/" method="POST">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <div class="input-group">
                        <input type="text" id="category_root" class="form-control autocomplete-root" name="category_root" placeholder="Root Category">
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <div class="input-group">
                        <input type="text" id="minimum_difficulty" class="form-control" name="minimum_difficulty" placeholder="Minimum Difficulty">
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <div class="input-group">
                        <input type="text" id="maximum_difficulty" class="form-control" name="maximum_difficulty" placeholder="Maximum Difficulty">
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <button type="submit" class="btn submit-btn btn-info btn-block btn-lg">Submit</button>
                </div>
            </div>
        </form>
        <table id="categoryListTable" class="table table-striped table-bordered table-type-1-table">
            <thead>
                <tr>
                    <th>Root Category</th>
                    <th>Category Name</th>
                    <th>Category Difficulty</th>
                    <th>Problem Count</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>


<script type="text/javascript">

    function getCategoryList(){
        var categorys = [
            ['Data Structure', 'Data Structure', '5'],
            ['Data Structure', 'Segment Tree', '8.5'],
            ['Data Structure', 'Segment Tree', '8.5'],
            ['DP', 'Bit Mask', '7.5'],
            ['DP', 'LCA', '6.5']
        ]

        var db_category_list = [];

        {{#each category_list}}
            console.log("{{category_title}}")
            var category_root = "{{category_root_title}}";
            var category_title = "{{category_title}}";
            var category_data = ["<a href = >"+category_root+"</a>", "<a href = >"+category_title+"</a>", "{{category_difficulty}}", "{{problem_count}}"];
            db_category_list.push(category_data)
        {{/each}}

        return db_category_list;
    }

    function showCategorysDTSearchTable(){
        var dt_list = getCategoryList();
        
        $("#categoryListTable").dataTable({
            "aaData": dt_list,
            paging: true,
            destroy: true,
            scrollCollapse: true,
            pageLength: 50,
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, 100]]
        });
    }
	var cat_item = 1;

	function enableAutoCompleteRoot(){
		$(".autocomplete-root").typeahead({
			// data source
			source: rootAlgorithms,

			// how many items to show
			items: 8,

			// default template
			menu: '<ul class="typeahead dropdown-menu" role="listbox"></ul>',
			item: '<li><a class="dropdown-item" href="#" role="option"></a></li>',
			headerHtml: '<li class="dropdown-header"></li>',
			headerDivider: '<li class="divider" role="separator"></li>',
			
			itemContentSelector:'a',

			// min length to trigger the suggestion list
			minLength: 1,

			// number of pixels the scrollable parent container scrolled down
			scrollHeight: 0,

			// auto selects the first item
			autoSelect: true,

			// callbacks
			afterSelect: $.noop,
			afterEmptySelect: $.noop,

			// adds an item to the end of the list
			addItem: false,

			// delay between lookups
			delay: 0,
		});
	}

	const rootAlgorithms = [
		{"name": "Data Structure", "code": "AF"},
		{"name": "Dynamic Programming", "code": "AX"},
		{"name": "Graph", "code": "AL"},
		{"name": "Geometry", "code": "DZ"},
		{"name": "Mathemetics", "code": "AS"},
		{"name": "String Matching", "code": "AD"},
		{"name": "STL", "code": "AO"},
		{"name": "Greedy", "code": "AO"},
		// more data here
	]

    $(document).ready( function () {
	    enableAutoCompleteRoot();
        showCategorysDTSearchTable();
    } );

</script>