<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<div class="form-type-1" style="width: 100%;">	
    <form action="/contest/confirm/{{id}}/" method="post">

		<h2 style="text-align: center; color: #144611;"><b>Problem Set Confirmation</b></h2>
		<p style="text-align: center; color: #997c2e;"><b>Contest {{contest_name}} [Level {{contest_level}}]</b></p>
		<hr style="width: 40%; height:10px">

		<div class="problem-set">
            {{#each problem_set}}
                <div class="form-row control-group">
                    <div class="form-group col-md-4">
                        <div class="input-group">
                            <input type="text" autocomplete="off" id="problem_name@{{id}}" class="form-control autocomplete" name="problem_name@{{id}}" value="{{problem_name}}">
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <div class="input-group">
                            <input type="text" id="oj_name@{{id}}" class="form-control" name="oj_name@{{id}}" value="{{oj_name}}">
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <div class="input-group">
                            <input type="text" id="problem_id@{{id}}" class="form-control" name="problem_id@{{id}}" value="{{problem_id}}">
                        </div>
                    </div>
                    <div class="form-group col-sm-1" style="width: 10px !important;">
                        <button class="btn remove btn-block" type="button"><i class="fas fa-minus"></i></button>
                    </div>
                </div>
            {{/each}}
		</div>



        <div class="form-group" style="display: flex;">
            <button style="justify-content: center;" class="btn add-more btn-block" title="Add New Problem" type="button"><i class="fas fa-plus"></i> </button>
        </div>


		<div class="copy hide" hidden>
			<div class="form-row control-group">
				<div class="form-group col-md-4">
					<div class="input-group">
						<input type="text" autocomplete="off" id="problem_name_tmp" class="form-control autocomplete" name="problem_name_tmp" placeholder="Problem Name">
					</div>
				</div>
				<div class="form-group col-md-4">
					<div class="input-group">
						<input type="text" id="oj_name_tmp" class="form-control" name="oj_name_tmp" placeholder="OJ Name">
					</div>
				</div>
				<div class="form-group col-md-3">
					<div class="input-group">
						<input type="text" id="problem_id_tmp" class="form-control" name="problem_id_tmp" placeholder="Problem ID">
					</div>
				</div>
				<div class="form-group col-sm-1" style="width: 10px !important;">
					<button class="btn remove btn-block" type="button"><i class="fas fa-minus"></i></button>
				</div>
			</div>
		</div>

		<div class="form-group">
            <button type="submit" class="btn submit-btn btn-primary btn-block btn-lg">Confirm</button>
        </div>
	</form>
</div>

<script type="text/javascript">
	var cat_item = 1;
    $(document).ready(function() {
		$(".add-more").click(function(){
			cat_item++;
			var html = $(".copy").html()
			var id_list = ['problem_name', 'oj_name', 'problem_id']
			var idx = 0;
			for(idx = 0;idx<id_list.length;idx++){
				var item_id = id_list[idx] + '@' + cat_item.toString();
				var old_id = id_list[idx] + '_tmp';
				html = html.replace(old_id, item_id)
				html = html.replace(old_id, item_id)
			}
			$(".problem-set").append(html);
			enableAutoComplete();
		});
		$("body").on("click",".remove",function(){ 
			$(this).parents(".control-group").remove();
		});
    });
</script>