<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<div class="show-problem">
    <div class="form-type-1" style="width: 100%;">
      <form name="form form-type-1" action="/problem/list/" method="POST">
            <h4 style="text-align: center;">Problem Search Parameter</h4>
            <br>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <div class="input-group">
                        <input type="text" id="problem_name" class="form-control" name="problem_name" placeholder="Problem Name">
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <div class="input-group">
                        <input type="text" autocomplete="off" id="problem_category" class="form-control autocomplete" name="problem_category" placeholder="Category">
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <div class="input-group">
                        <input type="text" id="oj_name" class="form-control" name="oj_name" placeholder="Online Judge">
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <div class="input-group">
                        <input type="text" id="minimum_difficulty" class="form-control" name="minimum_difficulty" placeholder="Minimum Difficulty">
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <div class="input-group">
                        <input type="text" id="maximum_difficulty" class="form-control" name="maximum_difficulty" placeholder="Maximum Difficulty">
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <button type="submit" class="btn submit-btn btn-info btn-block btn-lg">Update</button>
                </div>
            </div>
        </form>
     </div>

    <div class="table-type-1">
        <table id="problemListTable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Problem Difficulty</th>
                    <th>OJ Name</th>
                    <th>Problem Category</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>


<script type="text/javascript">

    function getProblemList(){
        var problems = [
            ['A misc and mice', '5.5', 'CF', 'Segment Tree, DP', "http"],
            ['Rampage and diya', '7.2', 'Codechef', 'DFS, BFS', "http"],
            ['Roll Dice', '5.0', 'UVa', 'HLD, Tree', "http"],
            ['A misc and diya', '8.5', 'CF', 'LCA, Sparse Table', "http"]
        ]

        var db_problem_list = [];

        {{#each problem_list}}
            console.log("{{problem_name}}")
            var problem_name = "{{problem_name}}";
            var problem_data = ["<a href = {{source_link}}>"+problem_name+"</a>", "{{problem_difficulty}}", "{{oj_name}}", "{{category_list_light}}"];
            db_problem_list.push(problem_data)
        {{/each}}

        return db_problem_list;
    }

    function showProblemsDTSearchTable(){
        var dt_list = getProblemList();
        
        $("#problemListTable").dataTable({
            "aaData": dt_list,
            paging: true,
            destroy: true,
            scrollY: '500px',
            scrollCollapse: true,
            responsive: true
        });
    }
	var cat_item = 1;

	function enableAutoComplete(){
		$(".autocomplete").typeahead({
			// data source
			source: algorithms,

			// how many items to show
			items: 8,

			// default template
			menu: '<ul class="typeahead dropdown-menu" role="listbox"></ul>',
			item: '<li><a class="dropdown-item" href="#" role="option"></a></li>',
			headerHtml: '<li class="dropdown-header"></li>',
			headerDivider: '<li class="divider" role="separator"></li>',
			
			itemContentSelector:'a',

			// min length to trigger the suggestion list
			minLength: 1,

			// number of pixels the scrollable parent container scrolled down
			scrollHeight: 0,

			// auto selects the first item
			autoSelect: true,

			// callbacks
			afterSelect: $.noop,
			afterEmptySelect: $.noop,

			// adds an item to the end of the list
			addItem: false,

			// delay between lookups
			delay: 0,
		});
	}

	const algorithms = [
		{"name": "DFS", "code": "AF"},
		{"name": "BFS", "code": "AX"},
		{"name": "Dynamic Programming", "code": "AL"},
		{"name": "Graph Coloring", "code": "DZ"},
		{"name": "Diskstra", "code": "AS"},
		{"name": "Max Flow", "code": "AD"},
		{"name": "Matching", "code": "AO"},
		{"name": "Segment Tree", "code": "AO"},
		{"name": "Heavy Light Decomposition", "code": "AO"},
		{"name": "Centroid Decomposition", "code": "AO"},
		{"name": "Coin Change", "code": "BD"},
		{"name": "Knapsack", "code": "BD"},
		{"name": "SQRT Decomposition", "code": "BD"},
		// more data here
	]

    $(document).ready( function () {
        enableAutoComplete();
        showProblemsDTSearchTable();
    } );

</script>