<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/view-problem.css">
</head>

<div class="cfs-table-wrapper-1" style="width: 100%; padding: 15px;">
    <div class="cfs-title-2">
        <h2 style="text-align: center;"><b>Problemset Database</b></h2>
        <hr class="thin">
    </div>
    <div style="text-align:center; font-size: smaller; margin-bottom:0px">
      <form name="" action="/problem/list/" method="POST">
            <div class="form-row">
                <div class="form-group col-sm-3">
                    <label>Problem Name</label>
                    <input type="text" id="problem_name" class="form-control form-control-sm" name="problem_name" value="{{params.problem_name}}">
                </div>
                <div class="form-group col-sm-2">
                    <label>Root Category</label>
                    <input type="text" autocomplete="off" id="category_root" class="form-control form-control-sm autocomplete_root_category" name="category_root" value="{{params.category_root}}">
                </div>
                <div class="form-group col-sm-2">
                    <label>Category Name</label>
                    <input type="text" autocomplete="off" id="category_name" class="form-control form-control-sm autocomplete_category" name="category_name" value="{{params.category_name}}">
                </div>
                <div class="form-group col-sm-2">
                    <label>Minimum Difficulty</label>
                    <input type="text" id="minimum_difficulty" class="form-control form-control-sm" name="minimum_difficulty" value="{{params.minimum_difficulty}}">
                </div>
                <div class="form-group col-sm-2">
                    <label>Maximum Difficulty</label>
                    <input type="text" id="maximum_difficulty" class="form-control form-control-sm" name="maximum_difficulty" value="{{params.maximum_difficulty}}">
                </div>
				<div class="form-group col-sm-1" style="width: 10px !important;">
                    <label for="pwd">Action</label>
                    <button title="Adjust" class="btn  form-control-sm update btn-block btn-sm" type="submit"><i class="fas fa-adjust"></i></button>
                </div>
            </div>
        </form>
    </div>
    <hr style="width: 100%;">
        <table id="problemListTable" class="table" style="text-align: center;">
            <thead>
                <tr>
                    <th>Problem Name</th>
                    <th>Source</th>
                    <th>Difficulty</th>
                    <th>OJ Name</th>
                    <th>Status</th>
                    <th>User Solved</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>


<script type="text/javascript">

    function getProblemList(problem_list){
        console.log('getProblemList called')
        var db_problem_list = [];
        var pidx = 0
        for(pidx = 0;pidx<problem_list.length;pidx++){
            var problem = problem_list[pidx]
            console.log(problem)
            var prbolem_link = `<a href = "/problem/view/${problem.id}/" style="color: #3d87b9; font-weight:600; text-decoration: underline;">${problem.problem_name}</a>`
            console.log('prbolem_link: ')
            console.log(prbolem_link)
            var source_link = `<a href = ${problem.source_link} style="color: #3d87b9; font-weight:600; text-decoration: underline;"><i class="fas fa-link"></i></a>`
            var user_status = ''
            if (problem.solved == 'yes'){
                user_status = '<i class="fas fa-check" style="color:#55B232;"></i>'
            }
            var category_list = ''
            var cidx = 0
            var category_dependency_list = problem.category_dependency_list;
            for(cidx=0;cidx<category_dependency_list.length;cidx++){
                var dependency = category_dependency_list[cidx]
                if(cidx>0) category_list += ",  ";
                category_list += `<a href = "/category/view/${dependency.category_id}/" style="color: #3d87b9; font-weight:600;">${dependency.category_info.category_title}</a>`
            }
            var problem_data = [prbolem_link, source_link, problem.problem_difficulty, problem.oj_name, user_status, problem.solve_count, category_list];
            db_problem_list.push(problem_data)
        }
        return db_problem_list;
    }


    function findCustomFilter(event) {
        var custom_param = {}
        var problem_name = '{{params.problem_name}}'
        if(problem_name.length > 0){
            custom_param['problem_name'] = problem_name
        }
        var category_root = '{{params.category_root}}'
        if(category_root.length > 0){
            custom_param['category_root'] = category_root
        }
        var category_name = '{{params.category_name}}'
        if(category_name.length > 0){
            custom_param['category_name'] = category_name
        }
        var minimum_difficulty = '{{params.minimum_difficulty}}'
        if(minimum_difficulty.length > 0){
            custom_param['minimum_difficulty'] = minimum_difficulty
        }
        var maximum_difficulty = '{{params.maximum_difficulty}}'
        if(maximum_difficulty.length > 0){
            custom_param['maximum_difficulty'] = maximum_difficulty
        }
        return custom_param
    }

    function showProblemsDTSearchTable(){
        var custom_param = findCustomFilter()
        $("#problemListTable").dataTable({
            "pageLength": 50,
            destroy: true,
            ordering: true,
            serverSide: true,
            "columnDefs": [
                { "orderable": false, "targets": 1 },
                { "orderable": false, "targets": 3 },
                { "orderable": false, "targets": 4 },
                { "orderable": false, "targets": 5 },
                { "orderable": false, "targets": 6 }
            ],
            ajax: {
                url: 'http://localhost:5056/api/problem/dtsearch/heavy',
                type: 'POST',
                "contentType": "application/json",
                "data": function ( d ) {
                    var ajax_body = JSON.stringify( d );
                    var ajax_json = JSON.parse(ajax_body)
                    {{#if session.user_id}}
                        custom_param['user_id'] = "{{session.user_id}}"
                    {{/if}}
                    if(ajax_json['order'].length > 0){
                        var oder_param = ajax_json['order'][0]
                        if(oder_param.column == 0){
                            ajax_json['sort_by'] = 'problem_name'
                            ajax_json['sort_order'] = oder_param.dir
                        }
                        if(oder_param.column == 2){
                            ajax_json['sort_by'] = 'problem_difficulty'
                            ajax_json['sort_order'] = oder_param.dir
                        }
                    }
                    ajax_json['custom_param'] = custom_param
                    return JSON.stringify(ajax_json)
                },
                "dataSrc": function ( data ) {
                    return getProblemList(data.data);
                }
            }
        });
    }

	function enableAutoCompleteCategory(){
		$(".autocomplete_category").typeahead({
			// data source
			source: getAlgorithmList(),
			// how many items to show
			items: 8,
			// default template
			menu: '<ul class="typeahead dropdown-menu" role="listbox"></ul>',
			item: '<li><a class="dropdown-item" href="#" role="option"></a></li>',
			headerHtml: '<li class="dropdown-header"></li>',
			headerDivider: '<li class="divider" role="separator"></li>',
			itemContentSelector:'a',
			// min length to trigger the suggestion list
			minLength: 1,
			// number of pixels the scrollable parent container scrolled down
			scrollHeight: 0,
			// auto selects the first item
			autoSelect: true,
			// callbacks
			afterSelect: $.noop,
			afterEmptySelect: $.noop,
			// adds an item to the end of the list
			addItem: false,
			// delay between lookups
			delay: 0,
		});
	}

	function enableAutoCompleteRootCategory(){
		$(".autocomplete_root_category").typeahead({
			// data source
			source: getRootAlgorithmList(),
			// how many items to show
			items: 8,
			// default template
			menu: '<ul class="typeahead dropdown-menu" role="listbox"></ul>',
			item: '<li><a class="dropdown-item" href="#" role="option"></a></li>',
			headerHtml: '<li class="dropdown-header"></li>',
			headerDivider: '<li class="divider" role="separator"></li>',
			itemContentSelector:'a',
			// min length to trigger the suggestion list
			minLength: 1,
			// number of pixels the scrollable parent container scrolled down
			scrollHeight: 0,
			// auto selects the first item
			autoSelect: true,
			// callbacks
			afterSelect: $.noop,
			afterEmptySelect: $.noop,
			// adds an item to the end of the list
			addItem: false,
			// delay between lookups
			delay: 0,
		});
	}

    function getAlgorithmList(){
        var data_list = []
        {{#each category_list}}
            var data = {
                "name": "{{category_name}}",
                "code": "{{category_name}}"
            }
            data_list.push(data)
        {{/each}}
        console.log('data_list: ')
        console.log(data_list)
        return data_list
    }

    function getRootAlgorithmList(){
        console.log('getRootAlgorithmList called')
        var data_list = []
        {{#each root_category_list}}
            var data = {
                "name": "{{category_name}}",
                "code": "{{category_name}}"
            }
            console.log('data: ')
            console.log(data)
            data_list.push(data)
        {{/each}}
        console.log('data_list: ')
        console.log(data_list)
        return data_list
    }

    $(document).ready( function () {
        enableAutoCompleteCategory();
        enableAutoCompleteRootCategory();
        showProblemsDTSearchTable();
    } );

</script>

