<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/individual_training.css">
</head>


<div class="show-contest">
    <div class="table-wrapper-2">
        <div class="table-title-contest">
		    <div class="row table-title-inside" style="">
                {{#if problem-set-page}}
                <div class="selected-button">
                <a style="color: rgb(0, 0, 0);" href="/contest/view/{{id}}/" class="btn btn-sm" role="button"><b>Problems</b></a>
                </div>
                {{else}}
                <a href="/contest/view/{{id}}/" class="btn btn-sm" role="button"><b>Problems</b></a>
                {{/if}}
                {{#if standings-page}}
                <div class="selected-button">
                <a style="color: rgb(0, 0, 0);" href="/contest/standings/{{id}}/" class="btn btn-sm" role="button"><b>Standings</b></a>
                </div>
                {{else}}
                <a href="/contest/standings/{{id}}/" class="btn btn-sm" role="button"><b>Standings</b></a>
                {{/if}}
                {{#if announcement-page}}
                <div class="selected-button">
                <a style="color: rgb(0, 0, 0);" href="/contest/announcements/{{id}}/" class="btn btn-sm" role="button"><b>Announcements</b></a>
                </div>
                {{else}}
                <a href="/contest/announcements/{{id}}/" class="btn btn-sm" role="button"><b>Announcements</b></a>
                {{/if}}
            </div>
        </div>
        <br>
        <div class="row" style="text-align: center; margin-bottom: 0px;">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <h3><a style="color: #3d87b9;" href="/contest/view/{{id}}/"><b>Training Contest #{{contest_name}}</b></a></h3>
                <h6>Offline Standings</h6>
            </div>
            <div class="col-md-2">
                <form action="/update/contest/standings/{{id}}/" method="post" style="padding-top: 15px;">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            {{#if include_friends_checked}}
                            <div class="input-group">
                                <input type="checkbox" id="include_friends" name="include_friends" value="unchecked" onChange="this.form.submit()" checked>
                                <label style="padding-left: 5px;" for="include_friends"> Include Friends</label><br>
                            </div>
                            {{else}}
                            <div class="input-group">
                                <input type="checkbox" id="include_friends" name="include_friends" value="checked" onChange="this.form.submit()">
                                <label style="padding-left: 5px;" for="include_friends"> Include Friends</label><br>
                            </div>
                            {{/if}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="standings-box">
            <table id="standingsTable" class="table standings-table">
                <thead style="background-color: #ffffff; text-align: center;">
                    <tr>
                        <td style="width: 5%;"><b>Rank</b></td>
                        <td><b>User</b></td>
                        {{#each standings.problem_list}}
                            <td><b><a href = "/problem/view/{{id}}/" style="font-weight:500; text-decoration: underline;">{{problem_order}}</a></b></td>
                        {{/each}}
                        <td><b>Score</b></td>
                    </tr>
                </thead>
                <tbody style="text-align: center;">
                </tbody>
            </table>
        </div>
    </div>
</div>


<script type="text/javascript">

    function getUserStatList(){
        var data_list = [];
        {{#each standings.user_stat}}
            var data = []
            var user_handle = `<a href = "/profile/{{user_handle}}/" style="color: {{user_skill_color}}; font-weight:700;">{{user_handle}}</a>`
            data.push("{{rank}}")
            data.push(user_handle)
            {{#each problem_stat}}
                var user_status = "{{status}}"
                if(user_status == "SOLVED"){
                    data.push(`<a href=""><i class="fas fa-check" style="color: green;"></i></a>`)
                }else{
                    data.push("");
                }
            {{/each}}
            data.push("{{score}}")
            console.log('data:')
            console.log(data)
            data_list.push(data)
        {{/each}}
        console.log('data_list:')
        console.log(data_list)
        return data_list;
    }

    function showStandingsTable(){
        var dt_list = getUserStatList();
        
        $("#standingsTable").dataTable({
            "aaData": dt_list,
            paging: true,
            searching: true,
            ordering: false,
            destroy: true,
            scrollCollapse: true,
            responsive: true,
            pageLength: 50,
        });
    }
    $(document).ready( function () {
        showStandingsTable();
    } );

</script>
