<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<div class="cfs-table-wrapper-1" style="width: 100%%;  margin-right:1px auto">		
        <div class="cfs-title-1">
            <h5 style="text-align: center;">Submission History of <span style="color: #3d87b9; font-weight:500;"><a href="/problem/view/{{problem_id}}/"><b>{{problem_id}}</b></a></span></h5>
        </div>
        <div class="cfs-table-1">
        <table class="table cfs-table-data" id="problemSubmissionListTable" style="text-align: center;">
            <thead style="background-color: rgb(255, 255, 255);">
                <tr>
                    <td style="width: 30%;">User Handle</td>
                    <td>Status</th>
                    <td>Submission Link</td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>


<script type="text/javascript">

    function getSubmissionList(){
        var dt_list = [];
        {{#each submission_history}}
            var problem_link = `<a href = "/profile/{{user_handle}}/" style="color: {{user_skill_color}}; font-weight:500; text-decoration: underline;"><b>{{user_handle}}</b></a>`
            
            var submisson_stat = ''
            var cnt = 0;
            {{#each submission_list}}
                if (cnt>0) {
                    submisson_stat += ', '
                }
                submisson_stat += `<a href = "{{submission_link}}" style="color: #3d87b9; font-weight:500; text-decoration: underline;">Code Link</a>`
                cnt += 1
            {{/each}}
            var data = [problem_link, 'SOLVED', submisson_stat];
            dt_list.push(data)
        {{/each}}
        return dt_list;
    }

    function showProblemSubmissionTable(){
        var dt_list = getSubmissionList();
        
        $("#problemSubmissionListTable").dataTable({
            "aaData": dt_list,
            paging: true,
            searching: true,
            ordering: false,
            info: true,
            destroy: true,
            scrollCollapse: true,
            responsive: true,
            pageLength: 50,
            lengthMenu: [[10, 20, 50, -1], [10, 20, 50, 100]]
        });
    }

    $(document).ready( function () {
        showProblemSubmissionTable();
    } );

</script>
