<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/individual_training.css">
</head>

<div class="cfs-table-wrapper-1" style="width: 100%%;  margin-right:1px auto">		
        <div class="cfs-title-1">
            <h6 style="text-align: center;"><b>Flagged Problems</b></h6>
        </div>
        <div class="cfs-table-1">
        <table class="table" style="text-align: center;">
            <thead style="background-color: rgb(255, 255, 255);">
                <tr>
                    <th style="width: 30%;">Problem Name</th>
                    <th>OJ Name</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                {{#each problem_list}}
                <tr>
                    <td><a href = {{source_link}} style="color: #058876; font-weight:500; text-decoration: underline;">{{problem_name}}</a></td>
                    <td>{{oj_name}}</td>
                    <td style="color: #fc4700;">{{user_status_title}}</td>
                    <td>
                        <a style="color: rgb(52, 180, 212);" href="/problem/user/status/clear/{{id}}/" class="update" title="Remove from flagged list" data-toggle="tooltip"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                 {{/each}}

            </tbody>
        </table>
    </div>
</div>