<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/individual_training.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>


<div class="table-wrapper" style="width: 100%%;  margin-right:1px auto">
    <div class="table-title">
        <h4 style="text-align: center;"><b>All Task List [Classroom: <a href = "/classroom/training/{{id}}/" style="color: #0e586e; font-weight:700;">{{team_name}}</a>]</b></h4>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 15%;">Task Name</th>
                <th style="width: 30%;">Details</th>
                <th>Added by</th>
                <th>Deadline</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each task_list}}
            <tr>
                <td>{{task_title}}</td>
                <td>{{task_description}}</td>
                <td><a href = "/profile/{{task_added_by_user_handle}}/" style="color: #5bc0de; font-weight:700;">{{task_added_by_user_handle}}</a></td>
                <td>{{deadline}}</td>
                <td>
                    <a href="/classroom/task/update/{{id}}/" title="Update" data-toggle="tooltip" style="color: #5bbbd3;"><i class="fas fa-edit"></i></a>
                    <a href="/classroom/task/delete/{{id}}/" title="Delete" data-toggle="tooltip" style="color: rgb(255, 124, 2);"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
                {{/each}}

        </tbody>
    </table>
    <div class="add-task">
        <div>
            <a style="background-color: #8FC1e3;" title="Add new task" class='btn' href="/classroom/task/add/{{id}}/"><i class="fas fa-plus"></i></a>
        </div>
    </div>
</div>