<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>



<div class="show-contest">
    <div class="table-type-1">
        <div class="table-title-2">
		    <h2 style="text-align: center; color: #997c2e;"><b>Contest {{contest_name}} [Level {{contest_level}}]</b></h2>
        </div>
        <table id="problemListTable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Problem Name</th>
                    <th>Problem ID</th>
                    <th>OJ Name</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>


<script type="text/javascript">

    function getProblemList(){
        var data_list = [];
        {{#each problem_set}}
            var problem_name = '<a href = "{{source_link}}" style="color: #86c232; font-weight:700;">{{problem_name}}</a>'
            var data = [problem_name, "{{problem_id}}", "{{oj_name}}"];
            data_list.push(data)
        {{/each}}
        return data_list;
    }

    function showProblemsDTSearchTable(){
        var dt_list = getProblemList();
        
        $("#problemListTable").dataTable({
            "aaData": dt_list,
            paging: true,
            destroy: true,
            scrollCollapse: true,
            responsive: true,
            pageLength: 10,
            lengthMenu: [[3, 5, 10, -1], [3, 5, 10, 20]]
        });
    }

    $(document).ready( function () {
        showProblemsDTSearchTable();
    } );

</script>
