<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<div class="rich-data-table" style="width: 100%; font-weight:500; margin-right:1px auto">
    <div class="cfs-title-1">
        <h5 style="text-align: center;"><b>Training Contest List</b></h5>
    </div>
    <br>
    <br>
    <div class="contest-list">
    <ul style="width: 97%;">
        {{#if contest_list}}
        {{#each contest_list}}
            <a href="/">
            <li class="contest-row">
                <div class="row">
                    <div class="col-md-4" style="padding-top: 10px;">
                        <a href = "/contest/view/{{id}}/" style="color: #0061a1; font-weight:700;text-align: left; text-decoration: underline;">
                        <h6>{{contest_name}}</h6>
                        </a>
                    </div>
                    <div class="col-md-1" style="padding-top: 10px;">
                        <div class = "display: flex; align-items: center; justify-content: center;">
                        <a href = "/profile/{{setter_handle}}/" style="color: {{setter_skill_color}}; font-weight:700;">{{setter_handle}}</a>
                        </div>
                    </div>
                    <div class="col-md-1" style="padding-top: 10px;">
                        <h6>Level {{contest_level}}</h6>
                    </div>
                    <div class="col-md-2" style="padding-top: 13px;">
                        <h6 style="font-size: 12px;">{{start_date}} - {{end_date}}</h6>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-sm btn-light" href="/contest/view/{{id}}/" role="button">View Problems</a>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-sm btn-light" href="/contest/standings/{{id}}/" role="button">Standings</a>
                    </div>
                </div>
            </li>
            </a>
            <br>
        {{/each}}
        {{else}}
            <h6 style="text-align: center; padding: 20px;">No training contest is available to view right now.</h6>
        {{/if}}
    </ul>
    </div>
</div>

<script>

</script>