<head>
	<link rel="stylesheet" type="text/css" href="/css/view-problem.css">
</head>

<div class="row">

<div class="view-form-table-1" style="width: 100%;">
    <div class="table-title-2">
        <h2 style="text-align: center;"><b>Category Database</b></h2>
        <hr class="thin">
    </div>
        <table id="categoryListTable" class="table table-striped table-bordered table-type-1-table">
            <thead>
                <tr>
                    <th>Root Category</th>
                    <th>Category Name</th>
                    <th>Statistics</th>
                    <th>Category Difficulty</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>


<script type="text/javascript">

    function getCategoryList(){
        var categorys = [
            ['Data Structure', 'Data Structure', '5'],
            ['Data Structure', 'Segment Tree', '8.5'],
            ['Data Structure', 'Segment Tree', '8.5'],
            ['DP', 'Bit Mask', '7.5'],
            ['DP', 'LCA', '6.5']
        ]

        var db_category_list = [];

        {{#each category_list}}
            var category_root = "{{category_root}}"
            var category_url = '<i class="fas fa-folder-open" style="color:#679AA4;"></i>  <a style="color: #368AA3; font-weight:700;" href = "/category/list/root/{{category_name}}/">{{category_title}}</a>'
            if (category_root != "root"){
                category_url = '<i class="fas fa-folder-open" style="color:#679AA4;"></i>  <a style="color: #368AA3; font-weight:700;" href = "/problem/list/{{category_name}}/">{{category_title}}</a>'
            }
            var stat_data = '<div> <i class="fas fa-check-circle" style="color:#55B232;"></i> {{solve_count}} / {{problem_count}} </div>'
            var category_page_link = '<a style="color: #368AA3;" href = "/category/view/{{category_name}}/"><i class="fas fa-info-circle"></i></a>'
            var category_data = ["{{category_root_title}}", category_url, stat_data, "{{category_difficulty}}", category_page_link];
            db_category_list.push(category_data)
        {{/each}}

        return db_category_list;
    }

    function showCategorysDTSearchTable(){
        var dt_list = getCategoryList();
        
        $("#categoryListTable").dataTable({
            "aaData": dt_list,
            paging: false,
            destroy: true,
            scrollCollapse: true,
            pageLength: 50
        });
    }
	var cat_item = 1;

	function enableAutoCompleteRoot(){
		$(".autocomplete-root").typeahead({
			// data source
			source: rootAlgorithms,

			// how many items to show
			items: 8,

			// default template
			menu: '<ul class="typeahead dropdown-menu" role="listbox"></ul>',
			item: '<li><a class="dropdown-item" href="#" role="option"></a></li>',
			headerHtml: '<li class="dropdown-header"></li>',
			headerDivider: '<li class="divider" role="separator"></li>',
			
			itemContentSelector:'a',

			// min length to trigger the suggestion list
			minLength: 1,

			// number of pixels the scrollable parent container scrolled down
			scrollHeight: 0,

			// auto selects the first item
			autoSelect: true,

			// callbacks
			afterSelect: $.noop,
			afterEmptySelect: $.noop,

			// adds an item to the end of the list
			addItem: false,

			// delay between lookups
			delay: 0,
		});
	}

	const rootAlgorithms = [
		{"name": "Data Structure", "code": "AF"},
		{"name": "Dynamic Programming", "code": "AX"},
		{"name": "Graph", "code": "AL"},
		{"name": "Geometry", "code": "DZ"},
		{"name": "Mathemetics", "code": "AS"},
		{"name": "String Matching", "code": "AD"},
		{"name": "STL", "code": "AO"},
		{"name": "Greedy", "code": "AO"},
		// more data here
	]

    $(document).ready( function () {
	    enableAutoCompleteRoot();
        showCategorysDTSearchTable();
    } );

</script>