<head>
	<link rel="stylesheet" type="text/css" href="/css/view-problem.css">
</head>

<div class="row">

<div class="view-form-table-1" style="width: 100%;">
    <div class="table-title-2">
        <h2 style="text-align: center;"><b>Problemset Database</b></h2>
        <hr class="thin">
    </div>
    <br>
      <form name="" action="/problem/list/" method="POST">
            <div class="form-row">
                <div class="form-group col-sm-2">
                    <div class="input-group">
                        <input type="text" id="problem_name" class="form-control" name="problem_name" placeholder="Problem Name">
                    </div>
                </div>
                <div class="form-group col-sm-2">
                    <div class="input-group">
                        <input type="text" autocomplete="off" id="problem_category" class="form-control autocomplete" name="problem_category" placeholder="Category">
                    </div>
                </div>
                <div class="form-group col-sm-2">
                    <div class="input-group">
                        <select class="form-control" id="oj_name">
                            <option value="ALL">Online Judge (All)</option>
                            <option value="codeforces">Codeforces</option>
                            <option value="codechef">Codechef</option>
                            <option value="codechef">Codechef</option>
                            <option value="lightoj">Light OJ</option>
                            <option value="spoj">SPOJ</option>
                            <option value="uva">UVA</option>
                            <option value="hackerrank">Hackerrank</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-sm-2">
                    <div class="input-group">
                        <input type="text" id="minimum_difficulty" class="form-control" name="minimum_difficulty" placeholder="Minimum Difficulty">
                    </div>
                </div>
                <div class="form-group col-sm-2">
                    <div class="input-group">
                        <input type="text" id="maximum_difficulty" class="form-control" name="maximum_difficulty" placeholder="Maximum Difficulty">
                    </div>
                </div>
                <div class="form-group col-sm-2">
                    <button type="submit" class="btn submit-btn btn-info btn-block btn-lg">Update</button>
                </div>
            </div>
        </form>
        <table id="problemListTable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Problem Difficulty</th>
                    <th>OJ Name</th>
                    <th>Status</th>
                    <th>Problem Category</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>


<script type="text/javascript">

    function getProblemList(){
        var problems = [
            ['A misc and mice', '5.5', 'CF', 'Segment Tree, DP', "http"],
            ['Rampage and diya', '7.2', 'Codechef', 'DFS, BFS', "http"],
            ['Roll Dice', '5.0', 'UVa', 'HLD, Tree', "http"],
            ['A misc and diya', '8.5', 'CF', 'LCA, Sparse Table', "http"]
        ]

        var db_problem_list = [];

        {{#each problem_list}}
            var prbolem_link = '<a href = {{source_link}} style="color: #058876; font-weight:500; text-decoration: underline;">{{problem_name}}</a>'
            var solve_status = "{{solved}}"
            var user_status = '<i class="fas fa-dove" style="color:#C4C400;"></i>'
            if (solve_status == 'yes'){
                user_status = '<i class="fas fa-check" style="color:#55B232;"></i>'
            }
            var category_list = ''
            {{#each problem_list}}

            {{/each}}
            var problem_data = [prbolem_link, "{{problem_difficulty}}", "{{oj_name}}", user_status, "{{category_list_light}}"];
            db_problem_list.push(problem_data)
        {{/each}}

        return db_problem_list;
    }

    function showProblemsDTSearchTable(){
        var dt_list = getProblemList();
        
        $("#problemListTable").dataTable({
            "aaData": dt_list,
            paging: true,
            destroy: true,
            scrollCollapse: true,
            responsive: true,
            pageLength: 50,
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, 100]]
        });
    }
	var cat_item = 1;

	function enableAutoComplete(){
		$(".autocomplete").typeahead({
			// data source
			source: algorithms,

			// how many items to show
			items: 8,

			// default template
			menu: '<ul class="typeahead dropdown-menu" role="listbox"></ul>',
			item: '<li><a class="dropdown-item" href="#" role="option"></a></li>',
			headerHtml: '<li class="dropdown-header"></li>',
			headerDivider: '<li class="divider" role="separator"></li>',
			
			itemContentSelector:'a',

			// min length to trigger the suggestion list
			minLength: 1,

			// number of pixels the scrollable parent container scrolled down
			scrollHeight: 0,

			// auto selects the first item
			autoSelect: true,

			// callbacks
			afterSelect: $.noop,
			afterEmptySelect: $.noop,

			// adds an item to the end of the list
			addItem: false,

			// delay between lookups
			delay: 0,
		});
	}

	const algorithms = [
		{"name": "DFS", "code": "AF"},
		{"name": "BFS", "code": "AX"},
		{"name": "Dynamic Programming", "code": "AL"},
		{"name": "Graph Coloring", "code": "DZ"},
		{"name": "Diskstra", "code": "AS"},
		{"name": "Max Flow", "code": "AD"},
		{"name": "Matching", "code": "AO"},
		{"name": "Segment Tree", "code": "AO"},
		{"name": "Heavy Light Decomposition", "code": "AO"},
		{"name": "Centroid Decomposition", "code": "AO"},
		{"name": "Coin Change", "code": "BD"},
		{"name": "Knapsack", "code": "BD"},
		{"name": "SQRT Decomposition", "code": "BD"},
		// more data here
	]

    $(document).ready( function () {
        enableAutoComplete();
        showProblemsDTSearchTable();
    } );

</script>
