<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<div class="cfs-table-wrapper-1" style="width: 100%;  margin-right:1px auto">		
        <div class="cfs-title-1">
            <h5 style="text-align: center;">Followers of <span style="color: {{user_skill_color}}; font-weight:500;"><a href="/profile/{{user_handle}}/"><b>{{user_handle}}</b></a></span></h5>
        </div>
        <div class="cfs-table-1">
        <table class="table cfs-table-data" id="userFollowerTable" style="text-align: center;">
            <thead style="background-color: rgb(255, 255, 255);">
                <tr>
                    <td>#</th>
                    <td>User Handle</td>
                    <td>Skill Value</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>


<script type="text/javascript">

    function getFollowerList(){
        var dt_list = [];
        {{#each follower_list}}
            var user_link = `<a href = "/profile/{{user_handle}}/" style="color: {{skill_color}}; font-weight:500;"><b>{{user_handle}}</b></a>`
            var skill = `<span style="color: {{skill_color}};">{{skill_value}}</span>`
            var data = ["{{order}}", user_link, skill];
            dt_list.push(data)
        {{/each}}
        return dt_list;
    }

    function showFollowerTable(){
        var dt_list = getFollowerList();
        
        $("#userFollowerTable").dataTable({
            "aaData": dt_list,
            paging: false,
            searching: true,
            ordering: false,
            info: false,
            destroy: true,
            scrollCollapse: true,
            responsive: true,
            pageLength: 50,
            lengthMenu: [[10, 20, 50, -1], [10, 20, 50, 100]]
        });
    }

    $(document).ready( function () {
        showFollowerTable();
    } );

</script>
