<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<div class="show-contest">
    <div class="table-type-1">
        <div class="table-title-2">
		    <h2 style="text-align: center; color: #275b64;"><b>Contest Title: {{contest_name}} [Level {{contest_level}}]</b></h2>
		    <h4 style="text-align: center; color: #275b64;"><b>Setter: <a href="/profile/{{user_handle}}/" style="color: rgb(199, 196, 42);">{{setter_handle}}</a></b></h4>
		    <a href="/contest/standings/{{id}}/"><h6 style="text-align: center; color: #599ba7;"><b>Offline Standings</b></h6></a>
            <h6 style="text-align: center; font-size:16px; color: #000000;"><b>Time: {{start_date}} - {{end_date}} </b></h6>
        </div>
        <br>
        <table id="problemListTable" class="table table-striped table-bordered" style="text-align: center;">
            <thead style="background-color: #8FC1E3;">
                <tr>
                    <th>Problem Order</th>
                    <th>Problem Name</th>
                    <th>Source Link</th>
                    <th>Problem ID</th>
                    <th>OJ Name</th>
                    <th>User Solved</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>


<script type="text/javascript">

    function getProblemList(){
        var data_list = [];
        {{#each problem_set}}
            var prbolem_link = '<a href = "/problem/view/{{id}}/" style="color: #058876; font-weight:500; text-decoration: underline;">{{problem_name}}</a>'
            var source_link = '<a href = {{source_link}} style="color: #058876; font-weight:500; text-decoration: underline;"><i class="fas fa-link"></i></a>'
            var solve_count = `<span style="color: #05578E;">{{solve_count}}</span>`
            var data = ["{{problem_order}}", prbolem_link, source_link, "{{problem_id}}", "{{oj_name}}", solve_count];
            data_list.push(data)
        {{/each}}
        return data_list;
    }

    function showProblemsDTSearchTable(){
        var dt_list = getProblemList();
        
        $("#problemListTable").dataTable({
            "aaData": dt_list,
            paging: false,
            searching: false,
            ordering: false,
            destroy: true,
            scrollCollapse: true,
            responsive: true,
            pageLength: 10,
            lengthMenu: [[3, 5, 10, -1], [3, 5, 10, 20]]
        });
    }

    $(document).ready( function () {
        showProblemsDTSearchTable();
    } );

</script>
